.reviews-tab {
  width: 100%;
  &__head {
    padding-bottom: 16px;
    @media screen and (min-width: 768px) {
      padding-bottom: 14px;
    }
    @media screen and (min-width: 1056px) {
      padding-bottom: 20px;
    }
    @media screen and (min-width: 1348px) {
    }
    @media screen and (min-width: 1920px) {
      padding-bottom: 24px;
      border-bottom: 1px solid #E2E2E2;
    }
  }
  &__info-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $dark;
    margin-bottom: 4px;

    @media screen and (min-width: 1056px) {
      font-size: 20px;
      line-height: 23px;
    }
    @media screen and (min-width: 1348px) {
      font-size: 22px;
      line-height: 26px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 8px;
    }
  }
  .card-info__rating-num {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
    color: $light;
    margin-right: 12px;

    @media screen and (min-width: 1056px) {
      font-size: 16px;
      line-height: 19px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 24px;
      line-height: 28px;
    }
  }
  .card-info__rating-top {
    svg {
      width: 14px;
      height: 14px;
      margin-right: 2px;

      @media screen and (min-width: 1056px) {
        width: 16px;
        height: 16px;
        margin-right: 3px;
      }
      @media screen and (min-width: 1920px) {
        width: 21px;
        height: 21px;
        margin-right: 4px;
      }
    }
  }
  .card-info__rating {
    margin-bottom: 0;
  }
  .chrait {
    display: flex;
  }
  &__user {
    margin-bottom: 8px;
    @media screen and (min-width: 1348px) {
      margin-bottom: 12px;
    }
    @media screen and (min-width: 1920px) {
      margin-bottom: 16px;
    }
    .chrait svg {
      margin-right: 2px;
    }
  }
  &__user-name {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $dark;
    margin-right: 10px;
    @media screen and (min-width: 1348px) {
      font-size: 14px;
      line-height: 16px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 16px;
      line-height: 19px;
    }
  }
  &__content {
    padding: 12px 0 8px;
    border-bottom: 1px solid #E2E2E2;
    @media screen and (min-width: 1056px) {
      padding: 16px 0 12px;
    }
    @media screen and (min-width: 1920px) {
      padding: 16px 0;
    }
  }
  &__text {
    font-size: 12px;
    line-height: 18px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    margin-bottom: 8px;

    @media screen and (min-width: 1348px) {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 12px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 16px;
    }
  }
  &__date {
    font-size: 12px;
    line-height: 14px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #7B7B7B;

    @media screen and (min-width: 1920px) {
      font-size: 14px;
      line-height: 16px;
    }
  }
  .btn {
    margin-top: 12px;
    @media screen and (min-width: 1056px) {
      margin-top: 16px;
    }
  }
  .reviews-form {
    display: none;
    &.active {
      display: block;
    }
    .chrait svg {
      margin-right: 2px;
    }
    .form-section .form {
      background-image: none;
      border-radius: inherit;
    }
    .card-info__rating,
    .contact-form__textarea,
    .contact-form__wrapper input {
      background: #FFFFFF;
      border: 1px solid #D1E5E6;
      box-sizing: border-box;
      border-radius: 6px;
    }
    .form-section .form-wrapper {
      padding: 0;
    }
    .card-info__rating {
      padding: 11px 12px;
      width: 100%;
      height: 36px;

      @media screen and (min-width: 1348px) {
        padding: 12px;
        height: 40px;
      }
      @media screen and (min-width: 1920px) {
        padding: 16px 20px;
        height: 52px;
      }
    }
    .form-section .contact-form__holder {
      width: 100%;
    }
    .form-texts__title {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #333333;
      margin: 16px 0 8px;
      @media screen and (min-width: 768px) {
        margin: 14px 0 8px;
      }
      @media screen and (min-width: 1056px) {
        margin: 20px 0 8px;
      }
      @media screen and (min-width: 1348px) {
        font-size: 16px;
        line-height: 19px;
        margin: 20px 0 12px;
      }
      @media screen and (min-width: 1920px) {
        font-size: 20px;
        line-height: 23px;
        margin: 24px 0 16px;
      }
    }
    .form-section .contact-form__check .btn {
      margin: 8px 0 12px;
      @media screen and (min-width: 768px) {
        margin: 0 12px 0 0;
        min-width: 280px;
      }
    }
    .contact-form__holder.flex > div:nth-child(1) {
      @media screen and (min-width: 768px) {
        width: 36%;
      }
    }
    .contact-form__footer {
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
    }
    .contact-form__check {
      width: 100%;
      @media screen and (min-width: 768px) {
        width: auto;
      }
    }
    .contact-form__wrapper {
      .card-info__rating svg {
        width: 18px;
        height: 18px;
        margin: 0 14px;
        @media screen and (min-width: 768px) {
          margin: 0 2px;
        }
        @media screen and (min-width: 1348px) {
          margin: 0 3px;
        }
      }
    }
  }
}