.reviews-tab
    .reviews-tab__head.flex.flex-space-between.flex-center-vertical
        .reviews-tab__info.card-info__rating-top
            p.reviews-tab__info-title 12 отзывов
            .card-info__rating.flex.flex-center-vertical
                .card-info__rating-num 4,8
                .card-rating.chrait
                    svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
        .reviews-tab__btn.btn Написать отзыв
    .reviews-tab__content
        .reviews-tab__user.flex.flex-center-vertical
            span.reviews-tab__user-name Кирилл Ступин
            .card-info__rating.flex.flex-center-vertical
                .card-rating.chrait
                    svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
        .reviews-tab__text Духовой шкаф очень хороший. Всем заявленным характеристикам соответствует полностью. По его работе нареканий нет.
        .reviews-tab__date 21.05.2021
    .reviews-tab__content
        .reviews-tab__user.flex.flex-center-vertical
            span.reviews-tab__user-name Роман Р.
            .card-info__rating.flex.flex-center-vertical
                .card-rating.chrait
                    svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
        .reviews-tab__text Перегорела лампочка освещения в духовке в первые полчаса работы духового шкафа, это нужно вызывать мастера или самому можно снять лампочку и принести её в сервисный центр для замены
        .reviews-tab__date 21.05.2021
    .reviews-tab__content
        .reviews-tab__user.flex.flex-center-vertical
            span.reviews-tab__user-name Екатерина Каштанова
            .card-info__rating.flex.flex-center-vertical
                .card-rating.chrait
                    svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
        .reviews-tab__text Духовой шкаф очень понравился по дизайну, вся передняя часть сделана полностью из стекла. Пища равномерно запекается. За все время использования нет ни каких нареканий. Советую к преобритению.
        .reviews-tab__date 21.05.2021
    .reviews-tab__content
        .reviews-tab__user.flex.flex-center-vertical
            span.reviews-tab__user-name Лев Патрон
            .card-info__rating.flex.flex-center-vertical
                .card-rating.chrait
                    svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
                    svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                        use(xlink:href="/images/sprites.svg#star")
        .reviews-tab__text Шкаф реально крутой. Куплен по совету знакомого можно готовить сразу на 3 уровнях. Внешний вид на 5+ Рекомендую однозна
        .reviews-tab__date 21.05.2021
    .btn.secondary.flex.flex-center-vertical.btn-wrap
        .btn-img
            svg.icon
                use(xlink:href="/images/sprites.svg#revers")
        .btn-text Загрузить еще
    .reviews-form
        .form-section.open
            .form
                .form-wrapper
                    .form-texts
                        p.form-texts__title Написать отзыв
                    form#reviews-form.contact-form
                        .contact-form__wrap
                            .contact-form__holder.flex
                                .contact-form__wrapper
                                    .card-info__rating.flex.flex-center-vertical.flex-center-horizontal
                                        .card-rating.chrait
                                            svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                .contact-form__wrapper
                                    label(for="name").LPlaceholder.contact-form__label Ваше имя
                                    input(data-parsley-required-message="Поле обязательно для заполнения" type="text" name="name"
                                        id="name" class="iText" placeholder="* Имя" required).contact-form__input
                                .contact-form__wrapper
                                    label(for="email").LPlaceholder.contact-form__label E-mail
                                    input(data-parsley-required-message="Поле обязательно для заполнения" type="text" name="email"
                                        id="email" class="iText" placeholder="* E-mail").contact-form__input
                                .form-thanks
                                    .form-thanks__wrap
                                        .formClose__btn(onclick="callbackCloseRew();")
                                            svg.icon
                                                use(xlink:href="/images/sprites.svg#close")
                                        p.subtitle <span>Спасибо! </span> Ваша заявка отправлена
                                        p.text Наш менеджер свяжеться с Вами в ближайшее время!
                                        p.form-thanks__btn(onclick="callbackCloseRew();").btn Жду звонка!
                            .contact-form__holder
                                .contact-form__textarea
                                    label(for="form_textarea").LPlaceholder.contact-form__label Комментарий к заказу
                                    textarea(class="iText" name="form_textarea" id="form_textarea" placeholder="Сообщение")
                        .contact-form__footer.flex.flex-center-vertical
                            .contact-form__check(onclick="onCallbackSubmitRew();")
                                button(type="button" id="submitBtn").btn Отправить
                            .build-check
                                input(type="checkbox" id="send-rew" required data-parsley-errors-messages-disabled).build-check__input
                                label(for="send-rew").build-check__label
                                span Я согласен на обработку&nbsp
                                    a(href="#") персональных данных.