.section-head {
  width: 100%;
  .variable-btn {
    padding: 8px 16px;
    background-color: transparent;
    border-radius: 100px;
    transition: $transition;
    display: inline-block;

    .variable-btnText {
      color: $btn-bg;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      @media screen and (min-width: 1056px) {
        font-size: 14px;
        line-height: 16px;
      }
      @media screen and (min-width: 1920px) {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &:hover {
      background-color: $btn-bg;
      color: $white;
      box-shadow: 0px 10px 60px rgba(51, 93, 83, 0.1);
      svg {
        color: $white;
      }
      .variable-btnText {
        color: $white;
      }
    }

    svg {
      color: $btn-bg;
      width: 6px;
      height: 10px;
      margin-left: 8px;
      @media screen and (min-width: 1920px) {
        width: 6px;
        height: 13px;
      }
    }
  }
}