.section-head.flex.flex-space-between.flex-center-vertical.mb28
    .title
        span !{sectionTitle}
    .variable-btn
        a(href="").flex.flex-center-vertical
            span.variable-btnText Смотреть всё
            svg
                use(xlink:href="/images/sprites.svg#arrow")