.city-sectoion {
  width: 100%;
  padding: 20px 12px;
  background: $white;
  border-radius: 6px;
  @media screen and (min-width: 768px) {
    padding: 20px 30px;
  }
  @media screen and (min-width: 1056px) {
    padding: 20px 40px;
  }
  @media screen and (min-width: 1348px) {
    padding: 40px 60px;
  }
  .search-holder {
    border: 1px solid #D1E5E6;
    padding: 11px 20px;
    max-height: 36px;
    margin: 0 0 14px 0;
    @media screen and (min-width: 1348px) {
      padding: 12px 20px;
      max-height: 40px;
      margin: 0 0 20px 0;
    }
    @media screen and (min-width: 1920px) {
      max-height: 52px;
      margin: 0 0 33px 0;
    }
  }
  .search {
    display: block;
  }
  .search-form {
    flex-grow: 1;
    position: relative;
    right: auto;
    top: auto;
    transform: translateY(0);
  }

  .country {
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 310px;
    flex-wrap: wrap;
    @media screen and (min-width: 450px) {
      max-width: 100%;
    }

    @media screen and (min-width: 1348px) {
      margin-bottom: 12px;
    }
    @media screen and (min-width: 1920px) {
      margin-bottom: 25px;
    }

    &__title {
      padding: 8px 10px;
      background: $white;
      border: 1px solid #D1E5E6;
      box-sizing: border-box;
      border-radius: 6px;
      margin-right: 8px;
      font-weight: 500;
      margin-bottom: 8px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $dark;
      transition: $transition;
      font-size: 12px;
      line-height: 14px;

      @media screen and (min-width: 1348px) {
        font-size: 14px;
        line-height: 16px;
        margin-right: 12px;
        padding: 10px;
      }
      @media screen and (min-width: 1920px) {
        font-size: 16px;
        line-height: 19px;
        margin-right: 16px;
      }

      &:active,
      &.active {
        background: $btn-bg;
        border: 1px solid $btn-bg;
        color: $white;
        &:hover {
          border: 1px solid $btn-bg;
        }
      }
      &:hover {
        box-shadow: 0px 3px 10px rgba(23, 29, 37, 0.1);
        border: 1px solid $white;
      }
    }

  }
  .cities {
    max-height: 250px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 4px;
      border-radius: 2px;

      @media screen and (min-width: 1601px) {
        width: 4px;
        border-radius: 2px;
      }
    }
    &::-webkit-scrollbar-track {
      background: #F5F5F8;
    }
    &::-webkit-scrollbar-thumb {
      background: #D2D4D8;
      border-radius: 10px;
    }
    @media screen and (min-width: 768px) {
      max-height: 100%;
    }
    ul {
      column-count: 2;
      @media screen and (min-width: 768px) {
        column-count: 4;
      }
    }
    li a {
      font-weight: 500;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $dark;
      margin-bottom: 4px;
      padding: 10px;
      border-radius: 6px;
      font-size: 12px;
      line-height: 14px;

      @media screen and (min-width: 1348px) {
        font-size: 14px;
        line-height: 16px;
      }
      @media screen and (min-width: 1920px) {
        font-size: 16px;
        line-height: 19px;
      }

      &:hover {
        transition: $transition;
        color: $btn-bg;
      }
      &:active,
      &.active {
        background-color: $btn-bg;
        color: $white;
      }
    }
  }
}