section
    .city-sectoion
        .city-wrap
            .country.flex.flex-center-vertical
                span.country__title.active Россия
                span.country__title Украина
                span.country__title Беларусь
                span.country__title Казахстан
            .search-form
                .search-holder.flex.flex-center-vertical
                    form.search
                        input(name='search' type="text" id="search" placeholder="Поиск" autocomplete='on' class='live-search-box').search__input
                    .search__input-btn
                        button.search-img
                            svg
                                use(xlink:href="/images/sprites.svg#search")
            .cities
                ul
                    li
                        a(href='#') Москва
                    li
                        a(href='#') Санкт-Петербург
                    li
                        a(href='#') Астрахань
                    li
                        a(href='#') Барнаул
                    li
                        a(href='#') Владивосток
                    li
                        a(href='#') Волгоград
                    li
                        a(href='#') Воронеж
                    li
                        a(href='#') Екатеринбур
                    li
                        a(href='#') Ижевск
                    li
                        a(href='#') Иркутск
                    li
                        a(href='#').active Казань
                    li
                        a(href='#') Кемерово
                    li
                        a(href='#') Краснодар
                    li
                        a(href='#') Красноярск
                    li
                        a(href='#') Махачкала
                    li
                        a(href='#') Нижний Новгород
                    li
                        a(href='#') Новокузнецк
                    li
                        a(href='#') Новосибирск
                    li
                        a(href='#') Омск
                    li
                        a(href='#') Оренбург
                    li
                        a(href='#') Пермь
                    li
                        a(href='#') Ростов-на-Дону
                    li
                        a(href='#') Самара
                    li
                        a(href='#') Саратов
                    li
                        a(href='#') Тольятти
                    li
                        a(href='#') Томск
                    li
                        a(href='#') Тюмень
                    li
                        a(href='#') Ульяновск
                    li
                        a(href='#') Уфа
                    li
                        a(href='#') Хабаровск
                    li
                        a(href='#') Челябинск
                    li
                        a(href='#') Ярославль
