/*.mask {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;
	height: 100vh;
	background: #201E20;
	opacity: 0.8;
}*/

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 998;
	width: 100%;
	display: none;
	overflow: hidden;
	overflow-y: auto;
	height: auto;
}
#js-modal {
	//max-width: 866px;
	border-radius: 6px;
	overflow: hidden;
	width: 94%;
	@media screen and (min-width: 500px) {
		width: 95%;
	}
	@media screen and (min-width: 768px) {
		max-width: 587px;
	}
	@media screen and (min-width: 1056px) {
		max-width: 607px;
	}
	@media screen and (min-width: 1348px) {
		max-width: 771px;
	}
	@media screen and (min-width: 1920px) {
		max-width: 866px;
	}
	.fancybox-close-small {
		background-image: url("../images/close.svg");
		background-repeat: no-repeat;
		background-position: center;
		top: 10px;
		right: 2px;

		@media screen and (min-width: 768px) {
			top: 10px;
			right: 20px;
		}
		@media screen and (min-width: 1056px) {
			top: 10px;
			right: 30px;
		}
		@media screen and (min-width: 1348px) {
			top: 30px;
			right: 50px;
		}

		svg {
			display: none;
		}
	}
}
