.card-slider
    .slider-intro
        .slider-intro__img
            a(href="./images/item13.png" data-fancybox="gallery")
                img(src="images/sliderCard-bg.png", alt="" style="background-image: url(../images/item13.png);"
                    class='bg-i')
        .slider-intro__img
            a(href="./images/item14.png" data-fancybox="gallery")
                img(src="images/sliderCard-bg.png", alt="" style="background-image: url(../images/item14.png);"
                    class='bg-i')
        .slider-intro__img
            a(href="./images/item15.png" data-fancybox="gallery")
                img(src="images/sliderCard-bg.png", alt="" style="background-image: url(../images/item15.png);"
                    class='bg-i')
        .slider-intro__img
            a(href="./images/item16.png" data-fancybox="gallery")
                img(src="images/sliderCard-bg.png", alt="" style="background-image: url(../images/item16.png);"
                    class='bg-i')
        .slider-intro__img
            a(href="./images/item15.png" data-fancybox="gallery")
                img(src="images/sliderCard-bg.png", alt="" style="background-image: url(../images/item15.png);"
                    class='bg-i')
        .slider-intro__img
            a(href="./images/item13.png" data-fancybox="gallery")
                img(src="images/sliderCard-bg.png", alt="" style="background-image: url(../images/item13.png);"
                    class='bg-i')
        .slider-intro__img
            a(href="./images/item14.png" data-fancybox="gallery")
                img(src="images/sliderCard-bg.png", alt="" style="background-image: url(../images/item14.png);"
                    class='bg-i')
        .slider-intro__img
            a(href="./images/item15.png" data-fancybox="gallery")
                img(src="images/sliderCard-bg.png", alt="" style="background-image: url(../images/item15.png);"
                    class='bg-i')
        .slider-intro__img
            a(href="./images/item16.png" data-fancybox="gallery")
                img(src="images/sliderCard-bg.png", alt="" style="background-image: url(../images/item16.png);"
                    class='bg-i')
        .slider-intro__img
            a(href="./images/item15.png" data-fancybox="gallery")
                img(src="images/sliderCard-bg.png", alt="" style="background-image: url(../images/item15.png);"
                    class='bg-i')
        .slider-intro__img
            a(href="./images/item13.png" data-fancybox="gallery")
                img(src="images/sliderCard-bg.png", alt="" style="background-image: url(../images/item13.png);"
                    class='bg-i')
        .slider-intro__img
            a(href="./images/item14.png" data-fancybox="gallery")
                img(src="images/sliderCard-bg.png", alt="" style="background-image: url(../images/item14.png);"
                    class='bg-i')
        .slider-intro__img
            a(href="./images/item15.png" data-fancybox="gallery")
                img(src="images/sliderCard-bg.png", alt="" style="background-image: url(../images/item15.png);"
                    class='bg-i')
        .slider-intro__img
            a(href="./images/item16.png" data-fancybox="gallery")
                img(src="images/sliderCard-bg.png", alt="" style="background-image: url(../images/item16.png);"
                    class='bg-i')
        .slider-intro__img
            a(href="./images/item15.png" data-fancybox="gallery")
                img(src="images/sliderCard-bg.png", alt="" style="background-image: url(../images/item15.png);"
                    class='bg-i')

    .slider-controll
        .slider-intro__img
            img(src="images/sliderCardsm-bg.png", alt="" style="background-image: url(../images/item13.png);"
                class='bg-i')
            .blur
        .slider-intro__img
            img(src="images/sliderCardsm-bg.png", alt="" style="background-image: url(../images/item14.png);"
                class='bg-i')
            .blur
        .slider-intro__img
            img(src="images/sliderCardsm-bg.png", alt="" style="background-image: url(../images/item15.png);"
                class='bg-i')
            .blur
        .slider-intro__img
            img(src="images/sliderCardsm-bg.png", alt="" style="background-image: url(../images/item16.png);"
                class='bg-i')
            .blur
        .slider-intro__img
            img(src="images/sliderCardsm-bg.png", alt="" style="background-image: url(../images/item15.png);"
                class='bg-i')
            .blur
        .slider-intro__img
            img(src="images/sliderCardsm-bg.png", alt="" style="background-image: url(../images/item13.png);"
                class='bg-i')
            .blur
        .slider-intro__img
            img(src="images/sliderCardsm-bg.png", alt="" style="background-image: url(../images/item14.png);"
                class='bg-i')
            .blur
        .slider-intro__img
            img(src="images/sliderCardsm-bg.png", alt="" style="background-image: url(../images/item15.png);"
                class='bg-i')
            .blur
        .slider-intro__img
            img(src="images/sliderCardsm-bg.png", alt="" style="background-image: url(../images/item16.png);"
                class='bg-i')
            .blur
        .slider-intro__img
            img(src="images/sliderCardsm-bg.png", alt="" style="background-image: url(../images/item15.png);"
                class='bg-i')
            .blur
        .slider-intro__img
            img(src="images/sliderCardsm-bg.png", alt="" style="background-image: url(../images/item13.png);"
                class='bg-i')
            .blur
        .slider-intro__img
            img(src="images/sliderCardsm-bg.png", alt="" style="background-image: url(../images/item14.png);"
                class='bg-i')
            .blur
        .slider-intro__img
            img(src="images/sliderCardsm-bg.png", alt="" style="background-image: url(../images/item15.png);"
                class='bg-i')
            .blur
        .slider-intro__img
            img(src="images/sliderCardsm-bg.png", alt="" style="background-image: url(../images/item16.png);"
                class='bg-i')
            .blur
        .slider-intro__img
            img(src="images/sliderCardsm-bg.png", alt="" style="background-image: url(../images/item15.png);"
                class='bg-i')
            .blur
