.card-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 0;
  @media screen and (min-width: 1056px) {
    margin-right: 56px;
  }
  @media screen and (min-width: 1348px) {
    flex-direction: row;
    margin-right: 72px;
  }

  .blur {
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .slider-intro {
    max-width: 130px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      max-width: 256px;
      margin: 0;
    }
    @media screen and (min-width: 1056px) {
    }
    @media screen and (min-width: 1348px) {
      max-width: 324px;
    }
    @media screen and (min-width: 1920px) {
      max-width: 464px;
    }

    .slider-intro__img {
      &:hover {
        .zoom {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .slider-controll {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 73px;
    margin: 8px auto 12px;

    @media screen and (min-width: 768px) {
      max-width: 256px;
      margin: 8px 0 20px;
    }
    @media screen and (min-width: 1348px) {
      max-width: 58px;
      margin: 0 0 0 12px;
    }
    @media screen and (min-width: 1920px) {
      margin-left: 16px;
    }
    .slick-list {
      padding-left: 2px;
    }

    .bg-i {
      border-radius: 3px;
      overflow: hidden;
    }

    .slider-intro__img {
      @media screen and (min-width: 768px) {
        max-height: 36px;
        max-width: 36px;
      }
      img {
        max-width: 100%;
      }
    }
    .slick-slide.slick-current {
      border: 2px solid #67CBB3;
      box-sizing: border-box;
      border-radius: 3px;
      height: auto;

      .blur {
        display: none;
      }
      @media screen and (max-width: 767px) {
        width: 8px !important;
        height: 8px;
        border-radius: 50%;
        //background-color: red;
        border: 2px solid transparent;
        background-color: $btn-bg;
      }
    }

    .slick-slide {
      @media screen and (max-width: 767px) {
        background-image: none;
        width: 5px !important;
        height: 5px;
        border-radius: 50%;
        margin: 2px 6px 0;
        background-color: #F5F5F8;

        img {
          display: none;
        }
      }
      margin: 0 0 8px 0;
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 3px;

      @media screen and (min-width: 1348px) {
        min-width: 40px;
      }

      @media screen and (min-width: 1920px) {
        margin: 0 0 16px 0;
        overflow: hidden;
        max-height: 54px;
      }
    }

  }

  .slider-intro__img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
  }
 }

/*.card-arrows {
  top: auto;
  bottom: -18px;
  justify-content: space-between;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  display: flex;
  width: 100%;
  position: absolute;
  z-index: -1;
  @media screen and (min-width: 481px) {
    position: relative;
    flex-direction: column;
    height: 268px;
    transform: translateX(34px);
    left: 0;
    top: 2px;
    padding-top: 25px;
    z-index: 1;
  }
  @media screen and (min-width: 991px) {
    bottom: -15px;
    justify-content: space-between;
    top: auto;
    right: 0;
    position: absolute;
    z-index: -1;
    height: auto;
    flex-direction: row;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 2px 2px 0px 0px;
    padding: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 311px;
  }
  @media screen and (min-width: 1396px) {
    width: 334px;
    bottom: -15px;
  }
  @media screen and (min-width: 1601px) {
    position: relative;
    flex-direction: column;
    height: 336px;
    transform: translateX(57px);
    left: 11px;
    top: 2px;
    z-index: 1;
    margin-top: 42px;
    background-color: $white;
  }
  @media screen and (min-width: 1920px) {
    left: -9px;
  }
  .card-prev {
    @media screen and (min-width: 481px) {
      svg {
        transform: rotate(360deg);
      }
    }
    @media screen and (min-width: 991px) {
      svg {
        transform: rotate(-90deg);
      }
    }
    @media screen and (min-width: 1601px) {
      svg {
        transform: rotate(360deg);
      }
    }
  }
  .card-next {
    @media screen and (min-width: 481px) {
      svg {
        transform: rotate(180deg);
      }
    }
    @media screen and (min-width: 991px) {
      svg {
        transform: rotate(90deg);
      }
    }
    @media screen and (min-width: 1601px) {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  .catalogTab-next svg,
  .catalogTab-prev svg {
    color: gray;
    border: 1px solid gray;
    @media screen and (min-width: 991px) {
      color: red;
      border: 1px solid red;
      width: 36px;
      height: 36px;
      padding: 10px;
    }
    @media screen and (min-width: 1601px) {
      width: 48px;
      height: 48px;
      padding: 16px;
    }
  }
}*/
/*.zoom {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: $transition;
  top: 0;
  left: auto;
  right: auto;

  button {
    width: 32px;
    height: 32px;
    background: $white;
    opacity: 0.8;
    border-radius: 50%;
    padding: 8px;
    @media screen and (min-width: 991px) {
      width: 36px;
      height: 36px;
      padding: 10px;
    }
    @media screen and (min-width: 1601px) {
      width: 48px;
      height: 48px;
      padding: 12px;
    }

    svg {
      color: gray;
    }
  }
}*/
.slider-intro__img a {
  position: relative;
}







