section
    .card-section
        .card-head
            .container
                .card-head__holder.pb52
                    .card-headLabel
                        .card
                            .card-label.flex.flex-center-vertical.flex-space-between
                                .card-label__wrap.flex.flex-center-vertical
                                    span.card-label__text.green.block Рекомендуем
                                    span.card-label__text.red.block Новинка
                                    span.card-label__text.yellow.block Хит
                        span.card-head__title Электрический духовой шкаф с функцией пара OKB 8101 N STEAM
                        .card-head__rating.flex.flex-center-vertical.flex-space-between
                            .card-info__rating.flex.flex-center-vertical.flex-space-between
                                .card-ratingWrap.flex.flex-center-vertical
                                    .card-rating
                                        svg.active
                                            use(xlink:href="/images/sprites.svg#star")
                                        svg.active
                                            use(xlink:href="/images/sprites.svg#star")
                                        svg.active
                                            use(xlink:href="/images/sprites.svg#star")
                                        svg.active
                                            use(xlink:href="/images/sprites.svg#star")
                                        svg.active
                                            use(xlink:href="/images/sprites.svg#star")
                                    span.card-rating__total 3 отзыва
                                .card-stock
                                    svg(width="12" height="12")
                                        use(xlink:href="/images/sprites.svg#stock")
                                    span.card-stock__text Есть в наличии
                            span.card-art Арт. CHAO000354
                    .card-content.flex.flex-space-between
                        include ../../components/card-slider/card-slider
                        .card-sm
                            .card-sm__top
                                .card-sm__wrap.flex.flex-column
                                    .card-sm__price.flex.flex-center-vertical.flex-space-between
                                        span.card-sm__price-sm 22 990 ₽
                                        span.card-sm__disc-title Скидка
                                    .card-sm__disc.flex.flex-center-vertical.flex-space-between
                                        span.card-sm__price-lm 19 990 ₽
                                        spanspan.card-sm__disc-total - 3 000 ₽
                                .card-sm__btns.flex.flex-column
                                    button
                                        .btn.btn-wrap.flex.flex-center-vertical
                                            .card-sm__btn
                                                svg.icon
                                                    use(xlink:href="/images/sprites.svg#basket")
                                            .card-sm__btn-text В корзину
                                    button
                                        .btn.secondary.btn-wrap.flex.flex-center-vertical
                                            .card-sm__btn
                                                svg.icon
                                                    use(xlink:href="/images/sprites.svg#hand")
                                            .card-sm__btn-text Быстрый заказ
                                .card-sm__delivery.flex
                                    svg
                                        use(xlink:href="/images/sprites.svg#car-card")
                                    .card-sm__text-holder
                                        p.card-sm__delivery-title Доставка в Ростов-на-Дону
                                        p.card-sm__delivery-subtitle СДЭК (до двери) (2-3 дн.) 350 руб.
                            .card-sm__bottom.flex.flex-center-vertical.flex-space-between
                                .card-sm__bottom-wrap.flex.flex-center-vertical
                                    svg
                                        use(xlink:href="/images/sprites.svg#entrance")
                                    .card-sm__bottom-text Сравнить
                                .card-sm__bottom-wrap.flex.flex-center-vertical
                                    svg
                                        use(xlink:href="/images/sprites.svg#hart")
                                    .card-sm__bottom-text Сравнить

                        .card-content__holder
                            a(href="").card-content__wrap
                                span.card-content__brand Производитель: <span>GRAUDE</span>
                                .card-content__img-brand
                                    img(src="images/brand1.png", alt="brand-logo")
                            .card-content__choice
                                .card-content__choice-wrapp
                                    .card-content__choice-title Цвет:&nbsp
                                        span Чёрный
                                    .card-content-dots
                            .card-content__info
                                .card-content__info-text Стильная стеклокерамическая варочная поверхность MERLETTO 60 AN впечатляет не только своим дизайном, но и функциональной оснащенностью - двумя зонами нагрева с расширением: круглой до 230 мм и овальной до 270 мм, блокировкой панели управления, таймером автоотключения, удобной функцией паузы Stop&Go. В комплекте поставки вы найдете скребок для очистки варочной поверхности.
        .container
            .card-benefits
                .benefits-line
                    .benefits-line__wrap.flex.flex-center-vertical
                        svg
                            use(xlink:href="/images/sprites.svg#icon-ben1")
                        span.benefits-line__title Подсветка
                .benefits-line
                    .benefits-line__wrap.flex.flex-center-vertical
                        svg
                            use(xlink:href="/images/sprites.svg#icon-ben2")
                        span.benefits-line__title Верхний и нижний нагрев
                .benefits-line
                    .benefits-line__wrap.flex.flex-center-vertical
                        svg
                            use(xlink:href="/images/sprites.svg#icon-ben3")
                        span.benefits-line__title Верхний нагрев
                .benefits-line
                    .benefits-line__wrap.flex.flex-center-vertical
                        svg
                            use(xlink:href="/images/sprites.svg#icon-ben4")
                        span.benefits-line__title Механическое управление Classic Control
                .benefits-line
                    .benefits-line__wrap.flex.flex-center-vertical
                        svg
                            use(xlink:href="/images/sprites.svg#icon-ben5")
                        span.benefits-line__title Гриль с обдувом
                .benefits-line
                    .benefits-line__wrap.flex.flex-center-vertical
                        svg
                            use(xlink:href="/images/sprites.svg#icon-ben6")
                        span.benefits-line__title Холодное атермальное стекло
            .card-tabsSection.mb52
                .card-descr__wrap.flex
                    a(href='#' onclick="tabChangeCard(this); return false;" data-tab='0').flex.flex-center-vertical.flex-center-horizontal.active
                        svg
                            use(xlink:href="/images/sprites.svg#i")
                        .card-descr__item Описание
                    a(href='#' onclick="tabChangeCard(this); return false;" data-tab='1').flex.flex-center-vertical.flex-center-horizontal
                        svg
                            use(xlink:href="/images/sprites.svg#h")
                        .card-descr__item Характеристики
                    a(href='#' onclick="tabChangeCard(this); return false;" data-tab='2').flex.flex-center-vertical.flex-center-horizontal
                        svg
                            use(xlink:href="/images/sprites.svg#o")
                        .card-descr__item Отзывы
                    a(href='#' onclick="tabChangeCard(this); return false;" data-tab='3').flex.flex-center-vertical.flex-center-horizontal
                        svg
                            use(xlink:href="/images/sprites.svg#d")
                        .card-descr__item Документация
                .card-descr__container
                    .card-descr
                        .card-tabs__title
                            button(onclick='toggleTabCard(this);' type='button')
                                .card-tabs__title-holder.flex.flex-center-vertical
                                    img(src="images/tab-icon1.svg", alt="tab-icon1" style='margin-right: 12px;')
                                    span Описание
                                svg(width="15" height="9")
                                    use(xlink:href="/images/sprites.svg#menu-arrow")
                        .card-tabs__wrap(data-tab='0')
                            p.card-description Стильная стеклокерамическая варочная поверхность MERLETTO 60 AN впечатляет не только своим дизайном, но и функциональной оснащенностью - двумя зонами нагрева с расширением: круглой до 230 мм и овальной до 270 мм, блокировкой панели управления, таймером автоотключения, удобной функцией паузы Stop&Go. В комплекте поставки вы найдете скребок для очистки варочной поверхности.
                    .card-descr
                        .card-tabs__title
                            button(onclick='toggleTabCard(this);' type='button')
                                .card-tabs__title-holder.flex.flex-center-vertical
                                    img(src="images/tab-icon2.svg", alt="tab-icon2" style='margin-right: 12px;')
                                    span Характеристики
                                svg(width="15" height="9")
                                    use(xlink:href="/images/sprites.svg#menu-arrow")
                        .card-tabs__wrap(data-tab='1').d-n
                            ul.card-info
                                li Тип духовки
                                    span электрическая
                                li Тип управления
                                    span независимое
                                li Переключатели
                                    span поворотные
                                li Объем духовки
                                    span 52 л
                                li Внутреннее покрытие духовки
                                    span эмаль
                                li Очистка духовки
                                    span традиционная
                                li Конвекция
                                    span есть
                                li Гриль
                                    span есть
                                li Тип гриля
                                    span электрический
                                li Мощность гриля
                                    span 1200 Вт
                                li Дверца с 4х-слойным остеклением
                                    span есть
                    .card-descr
                        .card-tabs__title
                            button(onclick='toggleTabCard(this);' type='button')
                                .card-tabs__title-holder.flex.flex-center-vertical
                                    img(src="images/tab-icon3.svg", alt="tab-icon3" style='margin-right: 8px;')
                                    span Отзывы
                                svg(width="15" height="9")
                                    use(xlink:href="/images/sprites.svg#menu-arrow")
                        .card-tabs__wrap(data-tab='2').d-n
                            include ../../sections/reviews-tab/reviews-tab
                    .card-descr
                        .card-tabs__title
                            button(onclick='toggleTabCard(this);' type='button')
                                .card-tabs__title-holder.flex.flex-center-vertical
                                    img(src="images/tab-icon4.svg", alt="tab-icon4" style='margin-right: 12px;')
                                    span Документация
                                svg(width="15" height="9")
                                    use(xlink:href="/images/sprites.svg#menu-arrow")
                        .card-tabs__wrap(data-tab='3').d-n
                            ul.documentation
                                li
                                    a(href='')
                                        svg
                                            use(xlink:href="/images/sprites.svg#pdf")
                                        .doc-title Сертификат соответсвия
                                            span 3.2 Мб
                                li
                                    a(href='')
                                        svg
                                            use(xlink:href="/images/sprites.svg#pdf")
                                        .doc-title Инструкция
                                            span 7.8 Мб