.card-head {
  background-color: $white;
  position: relative;

  &__rating {
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }
    .card-rating svg {
      width: 14px;
      height: 14px;
      @media screen and (min-width: 1920px) {
        width: 18px;
        height: 18px;
      }
    }
  }

  .card-head__holder {
    @media screen and (min-width: 768px) {
     // width: 70%;
      width: calc(100% - 301px);
    }
    @media screen and (min-width: 1056px) {
      width: calc(100% - 264px);
    }
    @media screen and (min-width: 1348px) {
      width: calc(100% - 280px);
    }
    @media screen and (min-width: 1920px) {
      width: calc(100% - 400px);
    }
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $dark;
    margin: 8px 0 12px;
    display: inline-block;
    @media screen and (min-width: 768px) {
      margin: 8px 0;
    }
    @media screen and (min-width: 1056px) {
      font-size: 20px;
      line-height: 23px;
    }
    @media screen and (min-width: 1348px) {
      font-size: 22px;
      line-height: 26px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 30px;
      line-height: 35px;
      margin: 11px 0;
    }
  }

  .card-info__rating {
    margin-bottom: 0;
    width: 100%;
    @media screen and (min-width: 768px) {
      justify-content: flex-start;
      width: auto;
    }
  }

  .card-rating__total {
    font-size: 12px;
    line-height: 14px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $light;
    margin-left: 8px;

    @media screen and (min-width: 1920px) {
      font-size: 14px;
      line-height: 16px;
      margin-left: 12px;
    }
  }
  .card-stock {
    display: flex;
  }

  .card-stock__text {
    font-size: 12px;
    line-height: 14px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #47AC94;
    margin-left: 4px;

    @media screen and (min-width: 1920px) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .card-ratingWrap {
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      justify-content: flex-start;
      margin-right: 20px;
    }
    @media screen and (min-width: 1348px) {
      margin-right: 24px;
    }
  }

  .card-art {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $light;
    margin-top: 8px;
    @media screen and (min-width: 768px) {
      margin-top: 0;
    }
    @media screen and (min-width: 1920px) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .card-headLabel {
    margin-bottom: 12px;
    @media screen and (min-width: 1920px) {
      margin-bottom: 21px;
    }
  }
  .card-content {
    @media screen and (max-width: 1055px) {
      flex-direction: column;
    }
  }

  .card-content__info-text {
    font-size: 12px;
    line-height: 18px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $dark;

    @media screen and (min-width: 1348px) {
      font-size: 14px;
      line-height: 18px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 16px;
      line-height: 24px;
      max-width: 540px;
    }
  }

  .card-content__brand {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $dark;
    margin-bottom: 8px;
    display: inline-block;

    @media screen and (min-width: 1348px) {
      margin-bottom: 12px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 14px;
    }

    span {
      color: $light;
    }
  }

  .card-content__img-brand {
    max-width: 89px;
    width: 100%;

    img {
      max-width: 100%;
    }

    @media screen and (min-width: 1348px) {
      max-width: 102px;
    }
    @media screen and (min-width: 1920px) {
      max-width: 142px;
    }
  }

  .card-content__wrap {
    margin-bottom: 16px;
    @media screen and (min-width: 1056px) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: 1920px) {
      margin-bottom: 28px;
    }
  }
}

.card-benefits {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  background: $white;
  border-radius: 6px;
  padding: 20px 16px 0;
  /*@media screen and (min-width: 1056px) {
    width: 70%;
  }*/
  @media screen and (min-width: 768px) {
    // width: 70%;
    //width: calc(100% - 301px);
  }
  @media screen and (min-width: 1056px) {
    width: calc(100% - 264px);
  }
  @media screen and (min-width: 1348px) {
    width: calc(100% - 280px);
  }
  @media screen and (min-width: 1920px) {
    width: calc(100% - 400px);
  }
  @media screen and (min-width: 1348px) {
    padding: 20px 16px;
    margin: 24px 0;
  }
  @media screen and (min-width: 1920px) {
    margin: 28px 0;
  }

  .benefits-line {
    width: 50%;
    padding: 0 6px;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      width: 33.33%;
    }
    @media screen and (min-width: 1056px) {
      margin-bottom: 32px;
    }
    @media screen and (min-width: 1348px) {
      width: 16.666666666%;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1920px) {
      padding: 0 8px;
    }

    &__wrap {
      display: flex;
      height: 100%;
      overflow: hidden;
      transition: all 0.3s ease;

      svg {
        min-width: 28px;
        max-width: 28px;
        height: 28px;
        margin-right: 8px;

        @media screen and (min-width: 1920px) {
          min-width: 40px;
          max-width: 40px;
          height: 40px;
          margin-right: 18px;
        }
      }
    }

    &__title {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $light;

      @media screen and (min-width: 1920px) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

.card-tabsSection {
  padding: 16px 8px;
  background: $white;
  border-radius: 6px;
  @media screen and (min-width: 768px) {
    padding: 0;
    background: transparent;
    border-radius: 0;
  }
  /*@media screen and (min-width: 1056px) {
    width: 70%;
  }*/
  @media screen and (min-width: 768px) {
    // width: 70%;
    //width: calc(100% - 301px);
  }
  @media screen and (min-width: 1056px) {
    width: calc(100% - 264px);
  }
  @media screen and (min-width: 1348px) {
    width: calc(100% - 280px);
  }
  @media screen and (min-width: 1920px) {
    width: calc(100% - 400px);
  }

  .card-descr__container > div:nth-child(4) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .card-tabs__wrap {
    width: 100%;
    background-color: $white;
    border-radius: 0 0 6px 6px;
    padding: 16px 0 0;
    @media screen and (min-width: 768px) {
      padding: 12px 20px;
    }
    @media screen and (min-width: 769px) {
      border-radius: 0px 6px 6px 6px;
    }
    @media screen and (min-width: 1056px) {
      padding: 20px;
    }
    @media screen and (min-width: 1920px) {
      padding: 24px;
    }
  }

  .card-info {
    width: 100%;

    li {
      font-size: 12px;
      line-height: 18px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $light;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0 9px;
      border-bottom: 1px solid #D1E5E6;

      @media screen and (min-width: 1348px) {
        font-size: 14px;
        line-height: 18px;
        padding: 10px 0 11px;
      }
      @media screen and (min-width: 1920px) {
        font-size: 16px;
        line-height: 24px;
      }

      &:first-child {
        padding: 0 0 9px;
        @media screen and (min-width: 1348px) {
          padding: 0 0 11px;
        }
      }

      &:last-child {
        padding: 9px 0 0;
        border-bottom: none;
        @media screen and (min-width: 1348px) {
          padding: 11px 0 0;
        }
      }

      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #333333;
        @media screen and (min-width: 768px) {
          font-size: 12px;
          line-height: 14px;
        }
        @media screen and (min-width: 1348px) {
          font-size: 14px;
          line-height: 16px;
        }
        @media screen and (min-width: 1920px) {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }

  .card-description {
    font-size: 12px;
    line-height: 18px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $dark;

    @media screen and (min-width: 1348px) {
      font-size: 14px;
      line-height: 18px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .documentation {
    width: 100%;

    li {
      &:first-child {
        padding-bottom: 12px;
        border-bottom: 1px solid #D1E5E6;
        @media screen and (min-width: 768px) {
          padding-bottom: 16px;
        }
      }

      &:last-child {
        padding-top: 12px;
        @media screen and (min-width: 768px) {
          padding-top: 16px;
        }
      }
    }

    li a {
      display: flex;
      align-items: center;
      width: 100%;

      svg {
        width: 19px;
        height: 21px;
        margin-right: 8px;
        @media screen and (min-width: 768px) {
          width: 24px;
          height: 28px;
          margin-right: 12px;
        }
        @media screen and (min-width: 1056px) {
          width: 30px;
          height: 34px;
          margin-right: 16px;
        }
      }

      .doc-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
        color: $light;

        @media screen and (min-width: 1348px) {
          font-size: 14px;
          line-height: 16px;
        }
        @media screen and (min-width: 1920px) {
          font-size: 16px;
          line-height: 19px;
        }

        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-align: right;
          font-feature-settings: 'pnum' on, 'lnum' on;
          color: $light;

          @media screen and (min-width: 768px) {
            font-size: 12px;
            line-height: 14px;
          }
          @media screen and (min-width: 1348px) {
            font-size: 14px;
            line-height: 16px;
          }
          @media screen and (min-width: 1920px) {
            font-size: 16px;
            line-height: 19px;
          }
        }
      }
    }
  }
}

.card-descr__wrap {
  position: relative;

  a {
    transition: $transition;
    height: 40px;
    background: #E0E4E7;
    border-radius: 6px 6px 0px 0px;
    margin-right: 8px;

    @media screen and (min-width: 768px) {
      min-width: 174px;
    }
    @media screen and (min-width: 1056px) {
      min-width: 146px;
    }
    @media screen and (min-width: 1348px) {
      margin-right: 12px;
      min-width: 184px;
    }
    @media screen and (min-width: 1920px) {
      margin-right: 16px;
      height: 52px;
      min-width: 224px;
    }

    svg {
      width: 20px;
      height: 15px;
      margin-right: 8px;
      display: flex;
      color: $light;
      @media screen and (min-width: 768px) {
        margin-right: 4px;
      }
      @media screen and (min-width: 1348px) {
        margin-right: 8px;
      }
      @media screen and (min-width: 1920px) {
        margin-right: 12px;
      }
    }

    &:hover {
      transition: $transition;

      .card-descr__item {
        color: $btn-bg;
      }

      svg {
        color: $btn-bg;
      }
    }

    &.active {
      background: #FFFFFF;
      border-radius: 6px 6px 0px 0px;
      transition: $transition;

      .card-descr__item {
        color: $btn-bg;
      }

      svg {
        color: $btn-bg;
      }
    }
  }
}

.card-descr__item {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: $light;

  @media screen and (min-width: 1348px) {
    font-size: 14px;
    line-height: 16px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 16px;
    line-height: 19px;
  }
}

.card-descr__wrap, .card-descr .active {
  display: flex;
}

.card-tabs__title {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.card-tabs__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  &.d-n {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .card-descr__wrap {
    display: none;
  }
  .card-descr.active .card-tabs__wrap, .card-tabs__title {
    display: block;
  }
  .card-tabs__wrap {
    display: none;
  }
  .card-tabs__title button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    svg {
      color: gray;
    }
  }
  .card-descr.active .card-tabs__title button svg {
    transform: rotate(180deg);
  }
  .card-descr {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #D1E5E6;
  }
  .card-tabs__title-holder {
    span {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $dark;
    }
  }
}

.card-tabsSection.mb52 > div.card-descr__wrap.flex > a:nth-child(4) {
  margin-right: 0;
}

.breadcrumbs-card {
  background-color: $white;
}
.card-sm {
  position: absolute;
  right: 12px;
  @media screen and (max-width: 767px) {
    position: relative;
    right: 0;
    margin-bottom: 12px;

  }
  @media screen and (min-width: 768px) {
    right: 24px;
    margin-bottom: 0;
    top: 0;
    &.fixed {
      position: fixed;
      top: 75px;
      z-index: 55;

      @media screen and (min-width: 1348px) {
        top: 95px;
      }
      @media screen and (min-width: 1920px) {
        top: 118px;
      }
    }
  }
  @media screen and (min-width: 1056px) {
    right: 92px;
    max-width: 212px;
  }
  @media screen and (min-width: 1348px) {
    right: 120px;
  }
  @media screen and (min-width: 1920px) {
    right: 168px;
    max-width: 304px;
  }

  &__top {
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(51, 93, 83, 0.1);
    border-radius: 6px;
    padding: 12px;
    @media screen and (min-width: 1920px) {
      padding: 20px;
    }
  }
  &__bottom-wrap {
    cursor: pointer;
    svg {
      width: 15px;
      height: 14px;
      margin-right: 6px;
      color: $light;
      @media screen and (min-width: 1920px) {
        width: 22px;
        height: 22px;
        margin-right: 10px;
      }
    }
  }
  &__bottom-text {
    font-size: 12px;
    line-height: 14px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $light;
    @media screen and (min-width: 1920px) {
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__bottom {
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(51, 93, 83, 0.1);
    border-radius: 6px;
    padding: 12px 34px;
    margin-top: 12px;
    @media screen and (min-width: 768px) {
      padding: 12px;
    }
    @media screen and (min-width: 1920px) {
      margin-top: 15px;
      padding: 20px 33px;
    }
  }
  &__delivery {
    svg {
      width: 20px;
      height: 14px;
      margin-right: 8px;
      @media screen and (min-width: 1920px) {
        width: 24px;
        height: 17px;
      }
    }
  }
  &__delivery-subtitle,
  &__delivery-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $dark;
    margin-bottom: 4px;

    @media screen and (min-width: 1920px) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 8px;
    }
  }
  &__delivery-subtitle {
    color: $light;
  }
  &__disc-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
    color: $light;

    @media screen and (min-width: 1348px) {
      font-size: 14px;
      line-height: 16px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 16px;
      line-height: 19px;
    }
  }
  &__price-sm {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
    color: $light;

    @media screen and (min-width: 1348px) {
      font-size: 14px;
      line-height: 16px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 16px;
      line-height: 19px;
    }
  }
  &__price-lm {
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
    color: $dark;

    @media screen and (min-width: 1348px) {
      font-size: 22px;
      line-height: 26px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 36px;
      line-height: 42px;
    }
  }
  &__disc-total {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
    color: $white;
    padding: 1px 3px;
    background: #FF697E;
    border-radius: 3px;

    @media screen and (min-width: 1348px) {
      font-size: 14px;
      line-height: 16px;
      padding: 2px 4px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 16px;
      line-height: 19px;
      padding: 3px 5px;
    }
  }
  &__wrap {
    margin-bottom: 12px;
    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: 1920px) {
      margin-bottom: 22px;
    }
  }
  &__btns {
    margin-bottom: 12px;
    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: 1920px) {
      margin-bottom: 22px;
    }
    .btn {
      max-height: 36px;
      @media screen and (min-width: 1348px) {
        max-height: 40px;
      }
      @media screen and (min-width: 1920px) {
        max-height: 52px;
      }
    }
    .secondary {
      margin-top: 8px;
      @media screen and (min-width: 1348px) {
        margin-top: 12px;
      }
      @media screen and (min-width: 1920px) {
        margin-top: 16px;
      }
      &:hover {
        svg {
          color: $white;
        }
      }
      svg {
        color: $btn-bg;
      }
    }

  }
  &__btn {
    svg {
      width: 16px;
      height: 14px;
      margin-right: 4px;
      display: flex;

      @media screen and (min-width: 1348px) {
        margin-right: 8px;
      }
      @media screen and (min-width: 1348px) {
        margin-right: 10px;
        width: 20px;
        height: 18px;
      }
    }
  }
}
// select color for slider
.card-content__choice {
  margin-bottom: 8px;
  @media screen and (min-width: 1920px) {
    margin-bottom: 15px;
  }
}
.card-content-dots .slick-dots {
  font-size: 0;
}
.card-content-dots .slick-dots li {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;

  @media screen and (min-width: 1348px) {
    margin-right: 8px;
    margin-bottom: 12px;
  }
  @media screen and (min-width: 1920px) {
    margin-right: 12px;
    margin-bottom: 13px;
  }
}
.card-content-dots .slick-dots li:last-child {
  margin-right: 0;
}
.card-content-dots .slick-dots li:nth-child(1) button {
  background: #333333;
}
.card-content-dots .slick-dots li:nth-child(2) button {
  background: #FFFFFF;
  border: 1px solid #939393;
}
.card-content-dots .slick-dots li:nth-child(3) button {
  background: #F4E4D6;
}
.card-content-dots .slick-dots li:nth-child(4) button {
  background: #EEF5EA;
}
.card-content-dots .slick-dots li:nth-child(5) button {
  background: #D9DDEC;
}
.card-content-dots .slick-dots li:nth-child(6) button {
  background: #F3D3D3;
}
.card-content-dots .slick-dots li:nth-child(7) button {
  background: #E4DED8;
}
.card-content-dots .slick-dots li:nth-child(8) button {
  background: #E4DED8;
}
.card-content-dots .slick-dots li:nth-child(9) button {
  background: #DCDAB7;
}
.card-content-dots .slick-dots li:nth-child(10) button {
  background: #D3DDDC;
}
.card-content-dots .slick-dots li:nth-child(11) button {
  background: #BFE1E9;
}
.card-content-dots .slick-dots li:nth-child(12) button {
  background: #D7C8BC;
}
.card-content-dots .slick-dots li:nth-child(13) button {
  background: #DBD7C2;
}
.card-content-dots .slick-dots li:nth-child(14) button {
  background: #D9DDEC;
}
.card-content-dots .slick-dots li:nth-child(15) button {
  background: #DCDAB7;
}

.card-content-dots .slick-dots button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: 0.2s;
  border: 1px solid transparent;
  @media screen and (min-width: 1920px) {
    width: 35px;
    height: 35px;
  }
}
.card-content-dots .slick-dots .slick-active button {
  border: 1px solid #333333;
  width: 25px;
  height: 25px;
  @media screen and (min-width: 1920px) {
    width: 35px;
    height: 35px;
  }
}
.card-content__choice-wrapp {
  max-width: 411px;
  @media screen and (min-width: 1056px) {
    max-width: 296px;
  }
  @media screen and (min-width: 1348px) {
    max-width: 379px;
  }
  @media screen and (min-width: 1920px) {
    max-width: 543px;
  }
}
.card-content__choice-title  {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: $dark;
  margin-bottom: 8px;

  @media screen and (min-width: 1920px) {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 12px;
  }
  span {
    color: $light;
  }
}