.breadcrumbs {
  padding: 16px 0 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  word-wrap: break-word;
  cursor: pointer;
  width: 100%;
 // display: inline-flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding: 16px 0 20px;
  }
  @media screen and (min-width: 1348px) {
    padding: 20px 0 24px;
  }
  @media screen and (min-width: 1920px) {
    padding: 20px 0 28px;
  }

  /*ul {
    width: calc(80%);
  }*/
  &.open {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  > div {
    display: inline-flex;
  }

  &--arrow {
    span {
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: $light;
      margin: 0 10px;
    }
  }

  &--item {
    cursor: pointer;

    a, span {
      font-size: 12px;
      line-height: 14px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $light;
      display: flex;
      transition: $transition;
      @media screen and (min-width: 1920px) {
        font-size: 14px;
        line-height: 16px;
      }

      &:hover {
        color: $btn-bg;
      }
    }

    &:last-child span {
      cursor: default;
      color: $dark;
    }
  }
}