.container
    .breadcrumbs(onclick="toggleCrumbs(this)")
        .breadcrumbs--item
            a(href="index.html") Главная
        .breadcrumbs--arrow
            span
        .breadcrumbs--item
            if(el_2)
                a(href="#")=el_1
            else
                span= el_1 || ''
        if(el_2)
            .breadcrumbs--arrow
                span
            .breadcrumbs--item
                if(el_2_1)
                    a(href="#")=el_2
                else
                    span= el_2 || ''
        if(el_3)
            .breadcrumbs--arrow
                span
            .breadcrumbs--item
                if(el_2_1)
                    a(href="#")=el_3
                else
                    span= el_3 || ''
        if(el_2_1)
            .breadcrumbs--arrow
                span
            .breadcrumbs--item
                span= el_2_1 || ''
