.news-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
  background-color: $main-bg;

  @media screen and (min-width: 768px) {
    margin: 0 -34px;
  }
  @media screen and (min-width: 1056px) {
    margin: 0 -26px;
  }
  @media screen and (min-width: 1348px) {
    margin: 0 -35px;
  }
  @media screen and (min-width: 1920px) {
    margin: 0 -48px;
  }

  .news {
    width: 100%;
    padding: 0 12px;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      width: 50%;
      padding: 0 34px;
    }
    @media screen and (min-width: 1056px) {
      width: 33.33%;
      padding: 0 26px;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1348px) {
      width: 25%;
      padding: 0 35px;
    }
    @media screen and (min-width: 1920px) {
      padding: 0 48px;
    }
  }
}

.news {
  &__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  &__date {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $light;
    margin-bottom: 8px;
    @media screen and (min-width: 1920px) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 12px;
    }
  }
  &__title {
    margin-bottom: 8px;
    @media screen and (min-width: 1920px) {
      margin-bottom: 12px;
    }
  }
}
.news-wrap > a:nth-child(4) {
  @media screen and (min-width: 1056px) {
    display: none;
  }
  @media screen and (min-width: 1348px) {
    display: block;
  }
}
