- var sectionTitle = 'Новости';

section
	.container.mb70
		include ../../components/section-head/section-head
		.news-wrap
			a(href="").news
				.news__wrap
					span.news__date 02 июня
					span.news__title.titlexl Фильтры для кухонных вытяжек
					p.news__text.text Компактный полновстраиваемый холодильник RBI 101 DF станет идеальным выбором при обустройстве дачной кухни, бара, отеля или...
			a(href="").news
				.news__wrap
					span.news__date 01 июня
					span.news__title.titlexl Открытие точки выдачи заказов в Екатеренбурге
					p.news__text.text Друзья, отличная новость! Открылся новый магазин бытовой техники Kitchen solutoin. Для вас огромный выбор бытовой техники – микроволновые...
			a(href="").news
				.news__wrap
					span.news__date 01 июня
					span.news__title.titlexl Новинка! Вытяжка Gradue
					p.news__text.text Вытяжка Graude DHP 50.0 S выполнена в классическом черном цвете. Новинка выгодно дополнит любой интерьер. Удобное кнопочное управление надежно в эксплуатации. ...
			a(href="").news
				.news__wrap
					span.news__date 01 июня
					span.news__title.titlexl ПОДАРОК! Мясорубка или чайник при покупке холодильника!
					p.news__text.text Холодильники LEX – это продуманный эргономичный дизайн, комфорт в использовании, длительный срок ...
		//.section-head.flex.flex-space-between.flex-center-vertical.mb28
			.variable-btn
				a(href="").flex.flex-center-vertical
					span.variable-btnText Смотреть всё
					svg
						use(xlink:href="/images/sprites.svg#arrow")
