.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: $dark;

  @media screen and (min-width: 1056px) {
    font-size: 20px;
    line-height: 23px;
  }
  @media screen and (min-width: 1348px) {
    font-size: 22px;
    line-height: 26px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 30px;
    line-height: 35px;
  }
}
.titleHeader {
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: $dark;
  margin-right: 10px;

  @media screen and (min-width: 768px) {
    white-space: nowrap;
  }
  @media screen and (min-width: 1920px) {
    font-size: 14px;
    line-height: 16px;
  }

  &.light {
    color: $light;
  }
}
.titlexlb {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
  color: $dark;
  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 19px;
  }
  @media screen and (min-width: 1348px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
  }
}
.titlexl {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
  color: $dark;

  @media screen and (min-width: 1056px) {
    font-size: 16px;
    line-height: 19px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 24px;
    line-height: 28px;
  }
}
.text {
  font-size: 12px;
  line-height: 18px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: $light;

  @media screen and (min-width: 1348px) {
    font-size: 14px;
    line-height: 18px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 16px;
    line-height: 24px;
  }
  &.dark {
    color: $dark;
  }
}
.mb28 {
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: 1056px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1348px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 28px;
  }
}
.mb70 {
  margin-bottom: 28px;
  @media screen and (min-width: 1056px) {
    margin-bottom: 56px;
  }
  @media screen and (min-width: 1348px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 70px;
  }
}
.mb70b {
  margin-bottom: 48px;
  @media screen and (min-width: 1056px) {
    margin-bottom: 56px;
  }
  @media screen and (min-width: 1348px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 70px;
  }
}
.mb52 {
  margin-bottom: 28px;
  @media screen and (min-width: 1056px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1348px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 52px;
  }
}
.pb52 {
  padding-bottom: 28px;
  @media screen and (min-width: 1056px) {
    padding-bottom: 32px;
  }
  @media screen and (min-width: 1348px) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1920px) {
    padding-bottom: 52px;
  }
}
