.menu-sub
    .menu-sub__wrap
        .accordion
            .accordion__item
                a(href='#').accordion__title Посудомомоичные машины
                .accordion__content
                    ul
                        li
                            a(href='#') Отдельностоящие
                        li
                            a(href='#') Настольные
                        li
                            a(href='#') Встраеваемые
            .accordion__item
                a(href='#').accordion__title Микроволновые печи
                .accordion__content
                    ul
                        li
                            a(href='#') Встраеваемые микроволновые печи
                        li
                            a(href='#') Отдельностоящие микроволновые печи
            .accordion__item
                a(href='#').accordion__title Духовые шкафы
                .accordion__content
                    ul
                        li
                            a(href='#') Духовые шкафы 45 см
                        li
                            a(href='#') Электрические
            .accordion__item
                a(href='#').accordion__title Варочные поверхности
                .accordion__content
                    ul
                        li
                            a(href='#') Газовые
                        li
                            a(href='#') Индукционные
                        li
                            a(href='#') Поверхность 45 см
                        li
                            a(href='#') Электрические
            .accordion__item
                a(href='#').accordion__title Вытяжки
                .accordion__content
                    ul
                        li
                            a(href='#') Аксессуары
                        li
                            a(href='#') Встраеваемые
                        li
                            a(href='#') Вытяжки угловые
                        li
                            a(href='#') Купольные
                        li
                            a(href='#') Наклонные
                        li
                            a(href='#') Подвестные
                        li
                            a(href='#') Т-образные
            .accordion__item
                a(href='#').accordion__title Микроволновые печи
                .accordion__content
                    ul
                        li
                            a(href='#') Встраеваемые микроволновые печи
                        li
                            a(href='#') Отдельностоящие микроволновые печи
            .accordion__item
                a(href='#').accordion__title Духовые шкафы
                .accordion__content
                    ul
                        li
                            a(href='#') Духовые шкафы 45 см
                        li
                            a(href='#') Электрические
            .accordion__item
                a(href='#').accordion__title Варочные поверхности
                .accordion__content
                    ul
                        li
                            a(href='#') Газовые
                        li
                            a(href='#') Индукционные
                        li
                            a(href='#') Поверхность 45 см
                        li
                            a(href='#') Электрические
            .accordion__item
                a(href='#').accordion__title Вытяжки
                .accordion__content
                    ul
                        li
                            a(href='#') Аксессуары
                        li
                            a(href='#') Встраеваемые
                        li
                            a(href='#') Вытяжки угловые
                        li
                            a(href='#') Купольные
                        li
                            a(href='#') Наклонные
                        li
                            a(href='#') Подвестные
                        li
                            a(href='#') Т-образные
