.accordion {
  //margin: 0 -15px;
 // max-width: 726px;
  width: 100%;

  @media screen and (min-width: 1348px) {
    column-count: 2;
  }
 // border-top: 1px solid $white;

  /*@media screen and (min-width: 768px) {
    margin: 0;
  }*/

  &__item {
    margin-right: 10px;
    //border-bottom: 1px solid $white;
    @media screen and (min-width: 1056px) {
      margin-right: 16px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
    color: $dark;
    position: relative;
    cursor: pointer;
    padding: 10px 20px 10px 12px;
    border: 1px solid #D1E5E6;
    box-sizing: border-box;
    filter: drop-shadow(0px 10px 60px rgba(23, 29, 37, 0.1));
    border-radius: 6px;
    align-self: stretch;
    width: 100%;
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }

    @media screen and (min-width: 1056px) {
      font-size: 14px;
      line-height: 16px;
      padding: 12px;
    }
    @media screen and (min-width: 1348px) {
      font-size: 16px;
      line-height: 19px;
    }
    &:hover {
      border: 1px solid $btn-bg;
      color: $btn-bg;
      transition: $transition;
    }

    &.active {
      &:after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
      width: 10px;
      height: 7px;
      transition: all 0.3s ease;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/arr-dn.svg);

      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  li a {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $dark;
    padding: 4px 0 4px 12px;
    @media screen and (min-width: 768px) {
      padding: 0 0 0 12px;
    }
    @media screen and (min-width: 1056px) {
      font-size: 14px;
      line-height: 16px;
    }
    @media screen and (min-width: 1348px) {
      font-size: 16px;
      line-height: 19px;
    }

  }
  li {
    margin-bottom: 12px;
    @media screen and (min-width: 1056px) {
      margin-bottom: 16px;
    }
  }

  &__content {
    display: none;
    box-sizing: border-box;
    padding: 12px 0;
    //padding: 19px 15px 0px 15px;

    @media screen and (min-width: 768px) {
      display: block;
      padding: 12px 0 0 0;
    }
    @media screen and (min-width: 1056px) {
      padding: 16px 0 0 0;
    }
  }
}