html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway';
  max-width: 1920px;
  margin: 0 auto;
  background-color: $main-bg;
  font-weight: normal;

   &.overflow {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none !important;
}

input {
  border: none;
  background-color: transparent;
  outline: none;

}
textarea {
  resize: vertical;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  outline: none;
  -webkit-appearance: none;
}

select {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  outline: none;
  -webkit-appearance: none;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;

  @media screen and (min-width: 768px) {
    padding: 0 24px;
  }
  @media screen and (min-width: 1056px) {
    padding: 0 92px;
  }
  @media screen and (min-width: 1348px) {
    padding: 0 120px;
  }
  @media screen and (min-width: 1920px) {
    padding: 0 168px;
  }
}
.container2 {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 0 12px;

  @media screen and (min-width: 768px) {
    padding: 0 0 0 24px;
  }
  @media screen and (min-width: 1056px) {
    padding: 0 0 0 92px;
  }
  @media screen and (min-width: 1348px) {
    padding: 0 0 0 120px;
  }
  @media screen and (min-width: 1920px) {
    padding: 0 0 0 168px;
  }
}

.bg-i {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  display: block;
  width: 100%;
}
.main {
  padding-top: 42px;
  @media screen and (min-width: 768px) {
    padding-top: 64px;
  }
  @media screen and (min-width: 1056px) {
    padding-top: 106px;
  }
  @media screen and (min-width: 1348px) {
    padding-top: 121px;
  }
  @media screen and (min-width: 1920px) {
    padding-top: 136px;
  }
}
.hide {
  display: none;
}
