$main-bg: #F5F5F8;
$white: #FFFFFF;
$black: #000000;
$light: #939393;
$dark: #333333;
$hover: #47AC94;
$border: #F5F5F8;
$btn-bg: #67CBB3;


$title-color: #B28E6C;
$title-light: #DCB087;
$menu-bg: #1B191B;
$text-light: #A1A1A1;
$light-gray: #333133;
$article-bg: #201e20;
$active-bg: #9D7C5D;
$gray: #888888;
$alarm: #CE4D4D;

$transition: all 0.3s ease; //!!!!!!!!!!!!

$base-transition: all 0.3s ease;

/*@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1056px) {
}
@media screen and (min-width: 1348px) {
}
@media screen and (min-width: 1920px) {
}
*/


