.stock-wrap {
  width: 100%;
  * {
    min-height: 0;
    min-width: 0;
  }
  .stock {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 8px;
    @media screen and (min-width: 768px) {
      grid-template-columns: 3fr 1fr;
    }
    @media screen and (min-width: 1056px) {
      grid-template-columns: 2fr 1fr 1fr;
    }
    @media screen and (min-width: 1348px) {
      grid-template-columns: 2.06fr 1fr 1fr 1fr;
      grid-column-gap: 12px;
    }
    @media screen and (min-width: 1920px) {
      grid-column-gap: 16px;
    }


    &__wrap {
      width: 100%;
    }
    .stock-img {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
      border-radius: 6px;
      position: relative;
      height: 100%;
      width: auto;


      .bg-i {
        width: 100%;
        max-height: 259px;
        @media screen and (min-width: 768px) {
          max-height: 100%;
        }
      }

      img {
        width: auto;
        //max-width: 100%;
        position: relative;
        z-index: -1;
        border-radius: 6px;
        height: 100%;
      }
      &__title {
        position: absolute;
        top: 19px;
        left: 15px;
        font-size: 24px;
        line-height: 28px;
        color: $white;
        max-width: 201px;

        @media screen and (min-width: 768px) {
          top: 25px;
          left: 27px;
          max-width: 400px;
        }
        @media screen and (min-width: 1056px) {
          top: 31px;
          left: 22px;
        }
        @media screen and (min-width: 1348px) {
          top: 32px;
          left: 22px;
        }
        @media screen and (min-width: 1920px) {
          top: 44px;
          left: 32px;
          font-size: 35px;
          line-height: 41px;
          max-width: 483px;
        }

        span {
          font-weight: bold;
          margin-left: 7px;
        }
      }
    }
  }
}
.main2-dots {
  bottom: 15px;
  left: 15px;
  @media screen and (min-width: 768px) {
    bottom: 19px;
    left: 26px;
  }
  @media screen and (min-width: 1056px) {
    bottom: 25px;
    left: 21px;
  }
  @media screen and (min-width: 1348px) {
    bottom: 17px;
    left: 22px;
  }
  @media screen and (min-width: 1920px) {
    bottom: 35px;
    left: 32px;
  }
}
.stock-wrap > div > div:nth-child(2),
.stock-wrap > div > div:nth-child(3),
.stock-wrap > div > div:nth-child(4) {
  display: none;
}
@media screen and (min-width: 768px) {
  .stock-wrap > div > div:nth-child(2) {
    display: block;
  }
}
@media screen and (min-width: 1056px) {
  .stock-wrap > div > div:nth-child(3) {
    display: block;
  }
}
@media screen and (min-width: 1348px) {
  .stock-wrap > div > div:nth-child(4) {
    display: block;
  }
}
