.btn-wrap {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	color: $white;
	background-color: $btn-bg;
	padding: 9px;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	box-sizing: border-box;
	text-align: center;
	align-items: center;
	transition: $transition;
	cursor: pointer;
	border-radius: 6px;
	border: 1px solid $btn-bg;

	@media screen and (min-width: 768px) {
		padding: 10px;
	}
	@media screen and (min-width: 1056px) {
		padding: 8px;
	}
	@media screen and (min-width: 1348px) {
		padding: 10px;
	}
	@media screen and (min-width: 1920px) {
		font-size: 16px;
		line-height: 19px;
		padding: 16px;
	}

	&:hover {
		background-color: #6CE1C5;
		border: 1px solid #6CE1C5;
	}
	&:active,
	&.active {
		background-color: #5BB59F;
		border: 1px solid #5BB59F;
	}
	&.secondary {
		background-color: transparent;
		color: $btn-bg;
		border: 1px solid $btn-bg;
		&:hover {
			background-color: #6CE1C5;
			border: 1px solid #6CE1C5;
			color: $white;
			svg {
				color: $white;
			}
		}
		&:active {
			background-color: #5BB59F;
			border: 1px solid #5BB59F;
			color: $white;
		}
	}
	&.tertiary {

		&:hover {

		}

		@media screen and (min-width: 1560px) {

		}

		.active {

		}
	}
	&.gray-btn {

		&:hover {

		}
	}
}
