.page {
  &--title {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $dark;
    margin-bottom: 12px;
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: 1056px) {
      font-size: 20px;
      line-height: 23px;
    }
    @media screen and (min-width: 1348px) {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 24px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 28px;
    }
  }
}