.article-wrap {
  width: 100%;

  .article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 8px;

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 3.1fr;
    }
    @media screen and (min-width: 1056px) {
      grid-template-columns: 1fr 3fr;
      grid-column-gap: 12px;
    }
    @media screen and (min-width: 1348px) {
      grid-template-columns: 1fr 4.1fr;
      grid-column-gap: 16px;
    }

    &__wrap {
      width: 100%;
      height: auto;
    }
    .article-img {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
      border-radius: 6px;
      position: relative;
      height: 100%;
      width: auto;
      min-height: 218px;
      @media screen and (min-width: 450px) {
        min-height: 259px;
      }

      .bg-i {
        width: 100%;
        height: 100%;
      }

      img {
        width: auto;
        position: relative;
        z-index: -1;
        border-radius: 6px;
        height: 100%;
      }
      &__title {
        position: absolute;
        top: 16px;
        left: 16px;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $white;

        @media screen and (min-width: 768px) {
          top: 20px;
          left: 20px;
        }
        @media screen and (min-width: 1056px) {
          top: 40px;
          left: 40px;
          font-size: 16px;
          line-height: 19px;
        }
        @media screen and (min-width: 1920px) {
          font-size: 24px;
          line-height: 28px;
        }
      }
      &__subtitle {
        position: absolute;
        bottom: 16px;
        left: 16px;

        font-size: 12px;
        line-height: 18px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $white;
        max-width: 340px;

        @media screen and (min-width: 768px) {
          bottom: 20px;
          left: 20px;
        }
        @media screen and (min-width: 1056px) {
          bottom: 40px;
          left: 40px;
        }
        @media screen and (min-width: 1348px) {
          font-size: 14px;
          line-height: 18px;
        }
        @media screen and (min-width: 1920px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}
.article-card {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}