section
    .container
        .article-sectoion.mb52
            .article-wrap
                .article
                    .article__wrap.article-card
                        include ../../components/card/card
                    a(href='').article__wrap
                        .article-img
                            img(src="images/article-bg.png", alt="card" style="background-image: url(." +
                            "./images/card-img19.png);" class='bg-i')
                            span.article-img__title Варочная панель
                            span.article-img__subtitle Устройство комплектуется двумя перфорированными дисками из нержавеющей стали и имеет самозатачивающийся нож. Кроме того, мясорубка оснащена двумя специализированными
