section
    .catalog-prod
        .container
            .catalog-prod__wrap.flex
                include ../../components/filter-production
                .catalog-goods
                    .catalog-goods__filter.flex.flex-center-vertical
                        .filter-prod__btn.btn.flex.flex-center-vertical
                            svg
                                use(xlink:href="/images/sprites.svg#filter")
                            span Фильтр
                        .selection-wrap.flex.flex-center-vertical
                            .selection.flex.flex-center-vertical
                                svg
                                    use(xlink:href="/images/sprites.svg#vector")
                                p.selection__title Сортировать:
                            .price-select
                                .dropdown
                                    .select
                                        span Без сортировки
                                        svg
                                            use(xlink:href="/images/sprites.svg#polygon")
                                    ul.dropdown-menu
                                        li.checkbox
                                            input(type="radio" id="f-option" name="selector")
                                            label(for="f-option") Без сортировки
                                            .check
                                        li.checkbox
                                            input(type="radio" id="s-option" name="selector")
                                            label(for="s-option") С высоким рейтингом
                                            .check
                                                .inside
                                        li.checkbox
                                            input(type="radio" id="t-option" name="selector")
                                            label(for="t-option") Сначала дешевле
                                            .check
                                                .inside
                                        li.checkbox
                                            input(type="radio" id="m-option" name="selector")
                                            label(for="m-option") Сначала дороже
                                            .check
                                                .inside
                        .branch
                            ul.flex.flex-center-vertical
                                li.checkbox
                                    input(type="checkbox" name="br1" id="br1" value="1")
                                    label(for="br1") Новинки
                                li.checkbox
                                    input(type="checkbox" name="br2" id="br2" value="2")
                                    label(for="br2") Лидеры продаж
                                li.checkbox
                                    input(type="checkbox" name="br3" id="br3" value="3")
                                    label(for="br3") Товары со скидкой
                        .viewing.flex.flex-center-vertical
                            svg.ch.active
                                use(xlink:href="/images/sprites.svg#ch")
                            svg.line
                                use(xlink:href="/images/sprites.svg#line")
                    include ../../sections/catalog-items/catalog-items
                    .btn.secondary.flex.flex-center-vertical.btn-wrap
                        .btn-img
                            svg.icon
                                use(xlink:href="/images/sprites.svg#revers")
                        .btn-text Загрузить еще
                    .products-pagination
                        a(href="")#prev
                            svg.icon
                                use(xlink:href="/images/sprites.svg#menu-arrow")
                        a(href="") 1
                        a(href="") ...
                        a(href="") 13
                        a(href="").active 14
                        a(href="") 15
                        a(href="") ...
                        a(href="") 120
                        a(href="")#last
                            svg.icon
                                use(xlink:href="/images/sprites.svg#menu-arrow")
    .substrate