.catalog-prod {
  width: 100%;

  &__wrap {
    position: relative;
  }

  .filter-prod {
    position: absolute;
    z-index: 900;
    height: 100vh;
    width: 100vw;
    top: -106px;
    transition: all 0.5s ease;
    background-color: $main-bg;
    padding: 12px;
    margin-left: -900px;

    @media screen and (min-width: 768px) {
      width: auto;
      left: -12px;
      top: -143px;
      padding: 24px;
    }
    @media screen and (min-width: 1056px) {
      max-width: 212px;
      display: block;
      top: auto;
      left: 0;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    @media screen and (min-width: 1920px) {
      max-width: 304px;
    }

    @media screen and (min-width: 1201px) {

      &.fixed {
        position: fixed;
        top: 74px;
        left: 0;
        z-index: 55;
        background-color: $white;
        transition: none;
        height: auto;
      }
    }

    &.active {
      margin: -12px;
    }
    &__btn {
      z-index: 2;
      cursor: pointer;
      margin-right: 20px;

      @media screen and (min-width: 1056px) {
        display: none;
      }
      svg {
        color: $white;
        width: 12px;
        height: 12px;
        margin-right: 6px;
      }
    }
    &__close {
      @media screen and (min-width: 1056px) {
        display: none;
      }
    }
    &__close-btn {
      svg {
        width: 14px;
        height: 14px;
        display: flex;
      }
    }

    &__btns {
      > div:nth-child(1) {
        margin-bottom: 16px;
        margin-top: 30px;
      }
    }
  }
  .catalog-goods {
    width: 100%;
    @media screen and (min-width: 768px) {

    }
    @media screen and (min-width: 1056px) {
     // width: 74.5%;
      margin-left: auto;
      width: calc(100% - 220px);
    }
    @media screen and (min-width: 1348px) {
      //width: 79.5%;
      width: calc(100% - 224px);
    }
    @media screen and (min-width: 1920px) {
      width: calc(100% - 320px);
    }
  }
  .selection {
    display: flex;
    cursor: pointer;


    svg {
      display: none;
      width: 14px;
      height: 16px;

    }
    &__title {
      display: none;
      font-size: 14px;
      line-height: 18px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $dark;
      margin-left: 8px;

      @media screen and (min-width: 1348px) {
        display: block;
      }
      @media screen and (min-width: 1920px) {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}
.catalog-goods {
  .descr-block {
    display: none;
    ul li {
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #000000;
      display: flex;
      margin-bottom: 12px;

      @media screen and (min-width: 1601px) {
        margin-bottom: 16px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      span a,
      span {
        width: 30%;
        margin-left: auto;
        position: relative;
        &:before {
          border-bottom: 1px dashed #000;
          position: absolute;
          width: 100%;
        }
      }
      span a {
        color: red;
        text-decoration: underline;
      }
      @media screen and (max-width: 1600px) {
        font-size: 11px;
        line-height: 16px;
      }
    }
  }
  .catalog-info {
    display: none;
  }
  .catalog {
    @media screen and (min-width: 991px) {
      width: 25%;
    }
    @media screen and (min-width: 1396px) {
      width: 20%;
    }
  }
  .catalog-wrap {
    margin: 0;
  }
  &__filter {
    position: relative;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 4px;
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: 1056px) {
      padding: 10px;
      margin-bottom: 8px;
    }
    @media screen and (min-width: 1348px) {
      margin-bottom: 12px;
    }
    @media screen and (min-width: 1920px) {
      padding: 16px;
      margin-bottom: 16px;
    }
  }
}
.price-select {
  margin-right: 20px;

  @media screen and (min-width: 1920px) {
    margin-right: 40px;
  }
}
.products-pagination {
  margin-top: 12px;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  @media screen and (min-width: 481px) {
    margin-top: 16px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 991px) {
    margin-top: 24px;
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1601px) {
    margin-top: 32px;
    margin-bottom: 48px;
  }
  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
    color: $light;
    box-sizing: border-box;
    margin: 0 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: $transition;
    @media screen and (min-width: 768px) {
      margin: 0 15px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 18px;
      line-height: 21px;
    }
  }
  a:hover {
    color: $btn-bg;
  }
  a.active {
    color: $dark;
  }
  #last,
  #prev {
    border: 1px solid transparent;
    width: 4%;

    svg {
      height: 6px;
      width: 10px;
      color: gray;
      @media screen and (min-width: 1601px) {
        width: 15px;
        height: 10px;
      }
    }
  }
  #last {
    svg {
      transform: rotate(270deg);
    }
  }
  #prev {
    svg {
      transform: rotate(90deg);
    }
  }
}
.filter-prod {
  &__price-title,
  &__head {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $dark;
    white-space: nowrap;
    @media screen and (min-width: 1348px) {
      font-size: 16px;
      line-height: 19px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 20px;
      line-height: 23px;
    }
  }
  &__price-title {
    margin-bottom: 12px;
    @media screen and (min-width: 1348px) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: 1920px) {
      margin-bottom: 20px;
    }
  }

  &__result {
    background: $white;
    border-radius: 6px;
    @media screen and (min-width: 1056px) {
      padding: 11px 41px;
      margin-bottom: 8px;
    }
    @media screen and (min-width: 1348px) {
      padding: 10px 31px;
      margin-bottom: 12px;
    }
    @media screen and (min-width: 1920px) {
      padding: 16px 59px;
      margin-bottom: 16px;
    }
  }

  &__price {
    background: $white;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 8px;
    @media screen and (min-width: 1348px) {
      margin-bottom: 12px;
    }
    @media screen and (min-width: 1920px) {
      padding: 20px;
      margin-bottom: 16px;
    }
  }
  .price-range-holder {
    background: #F5F5F8;
    border-radius: 3px;
    margin-right: 8px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    //padding: 9px;
 /*   @media screen and (min-width: 768px) {
      padding: 9px;
    }
    @media screen and (min-width: 1056px) {
      padding: 9px;
    }*/
    @media screen and (min-width: 1348px) {
      //padding: 10px;
      margin-bottom: 16px;
      margin-right: 12px;
    }
    @media screen and (min-width: 1920px) {
      //padding: 10px;
      margin-bottom: 20px;
      height: 40px;
      margin-right: 16px;
    }

    &:last-child {
      margin-right: 0;
    }


    input {
      width: 100%;
    }

    .range--input {
      //width: 30%;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $light;
      padding: 9px;
      border-radius: 3px;
      border: 1px solid transparent;

      @media screen and (min-width: 1348px) {
        font-size: 14px;
        line-height: 16px;
        padding: 10px;
      }
      @media screen and (min-width: 1920px) {
        font-size: 16px;
        line-height: 19px;

      }
      &:focus {
        border: 1px solid #9DBFC0;
      }
    }
  }
  &__price-form {
    background: $white;
    box-sizing: border-box;
    position: relative;
  }
  .accordionChoice {
    max-width: 726px;
    width: 100%;
    height: 277px;
    @media screen and (min-width: 375px) {
      height: 357px;
    }
    @media screen and (min-width: 400px) {
      height: 437px;
    }
    @media screen and (min-width: 768px) {
      margin: 0;
      height: auto;
    }

    &__item {
      background: $white;
      border-radius: 6px;
      padding: 12px;
      margin-bottom: 8px;
      border-bottom: none;

      @media screen and (min-width: 1348px) {
        margin-bottom: 12px;
      }
      @media screen and (min-width: 1920px) {
        padding: 20px;
        margin-bottom: 16px;
      }
    }
    &__item-title {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #333333;
      position: relative;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (min-width: 1348px) {
        font-size: 16px;
        line-height: 19px;
      }
      @media screen and (min-width: 1920px) {
        font-size: 20px;
        line-height: 23px;
      }
      svg {
        width: 11px;
        height: 9px;
        color: gray;
        margin-top: 3px;
        @media screen and (min-width: 1601px) {
          margin-top: 4px;
        }
      }
      &.active {
        svg {
          transform: rotate(180deg);
        }
        border-bottom: 1px solid transparent;
      }
    }
    &__content {
      display: none;
      box-sizing: border-box;
      margin-bottom: -10px;
      padding-top: 12px;
      margin-top: 12px;
      border-top: 1px solid #D1E5E6;

      @media screen and (min-width: 1348px) {
        padding-top: 16px;
        margin-top: 16px;
      }
      @media screen and (min-width: 1920px) {
        padding-top: 20px;
        margin-top: 20px;
      }
    }
    &__choice {
      label, input {
        cursor: pointer;
      }
      input {
        margin: 0;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        appearance: none;
        background: $white;
        border: 1px solid gray;
        box-sizing: border-box;
        border-radius: 2px;

      }
      label {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $dark;

        @media screen and (min-width: 1348px) {
          font-size: 14px;
          line-height: 16px;
        }
        @media screen and (min-width: 1920px) {
          font-size: 16px;
          line-height: 19px;
        }

        span {
          color: $light;
        }
      }
      .checkbox {
        grid-template-columns: auto 1fr;
        gap: 12px;
        margin-bottom: 8px;
        align-items: center;
        display: none;

        @media screen and (min-width: 1348px) {
          margin-bottom: 16px;
        }

        &.active {
          display: grid;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          display: grid;
        }
      }
      input[type="checkbox"] {
        width: 16px; height: 16px;
        @media screen and (min-width: 1348px) {
          width: 18px; height: 18px;
        }
        @media screen and (min-width: 1348px) {
          width: 20px; height: 20px;
        }
      }
      input[type="checkbox"]:checked {
        background-image: url("../images/yes.svg");
        background-size: 77%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $white;
        border: 1px solid $btn-bg;
        box-sizing: border-box;
        border-radius: 3px;
      }
    }
  }
}

.viewing {
  margin-right: 10px;
  @media screen and (min-width: 1201px) {
    margin-left: auto;
  }
  svg {
    color: $light;
    cursor: pointer;
    &.active,
    &:active {
        color: $btn-bg;
    }
  }
  .ch {
    width: 18px;
    height: 18px;
    margin-right: 12px;
    @media screen and (min-width: 1056px) {
      margin-right: 20px;
    }
    @media screen and (min-width: 1348px) {
    }
    @media screen and (min-width: 1920px) {
    }
  }
  .line {
    width: 18px;
    height: 18px;
  }
}
.filter-prod > div > div.accordionChoice > div:nth-child(1) > div {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .filter-prod__btns {
    .btn.default {
      display: none;
    }
  }
}
.filter-prod__holder > div.accordionChoice > div:nth-child(1) > div {
  display: flex;
}
.filter-prod__holder {
  @media screen and (max-width: 767px) {
    overflow: auto;
    margin-right: 4px;
    padding-right: 10px;
    &::-webkit-scrollbar {
      width: 4px;
      border-radius: 4px;

      @media screen and (min-width: 1601px) {
        width: 4px;
        border-radius: 4px;
      }
    }
    &::-webkit-scrollbar-track {
      background: $white;
    }
    &::-webkit-scrollbar-thumb {
      border: 4px solid #D2D4D8;
      background: #D2D4D8;
      border-radius: 10px;
    }
  }
}
.tabsSliderPage {
  padding-bottom: 28px;
  @media screen and (min-width: 481px) {
    padding-bottom: 32px;
  }
  @media screen and (min-width: 991px) {
    padding-bottom: 48px;
  }
  @media screen and (min-width: 1601px) {
    padding-bottom: 64px;
  }
  .tabs__list {
    @media screen and (max-width: 500px) {
      display: none;
    }
  }
  .acPageTitle {
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 8px;
    @media screen and (min-width: 501px) {
      display: none;
    }
  }
  .tabs__content {
    position: relative;
  }
  .descr-arrows {
    min-height: auto;
    flex-direction: row;
    margin: 8px 0 0 0;
    @media screen and (min-width: 991px) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      .descr-prev svg,
      .descr-next svg {
        background: $white;
        border: 1px solid gray;
        color: gray;
        transition: $transition;
        &:hover {
          background: red;
          border: 1px solid red;
          color: $white;
        }
        &:active {
          background: red;
          border: 1px solid red;
          color: $white;
        }
      }
      .descr-next svg {
        margin-right: -15px;
      }
      .descr-prev svg {
        margin-left: -15px;
      }
    }
    @media screen and (min-width: 1201px) {
      width: 100%;
      .descr-prev svg {
        transform: rotate(270deg);
        margin-left: -17px;
      }
      .descr-next svg {
        transform: rotate(90deg);
        margin-right: -17px;
      }
    }
    @media screen and (min-width: 1601px) {
      width: 102%;
      .descr-prev svg {
        margin-left: -70px;
      }
      .descr-next svg {
        margin-right: -43px;
      }
    }
    @media screen and (min-width: 1920px) {
      .descr-next svg {
        margin-right: -37px;
      }
    }
  }
  .slider-count {
    @media screen and (min-width: 991px) {
      display: none;
    }
  }
  .sliderPage2-arrows {
    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  .sliderPage2 > div:nth-child(4),
  .sliderPage2 > div:nth-child(5),
  .sliderPage2 > div:nth-child(6),
  .sliderPage2 > div:nth-child(7),
  .sliderPage2 > div:nth-child(8) {
    display: none;
    @media screen and (min-width: 481px) {
      display: block;
    }
    &.active {
      display: block;
    }
  }
  .catalog-hole__btn {
    @media screen and (min-width: 501px) {
      display: none;
    }
  }
  .js-tab-contentPage:nth-child(3) {
    margin-top: 20px;
    @media screen and (min-width: 501px) {
      margin-top: 0;
    }
    .catalog__top-info {
      @media screen and (min-width: 350px) {
        min-height: auto;
      }
    }
    .catalog__top {
      @media screen and (min-width: 481px) {
        flex-direction: column;
      }
    }
  }
  .tabs__item.active {
    color: $black;
  }
}

//range
.price-range-block {

  .noUi-handle:before, .noUi-handle:after {
    background: transparent;
  }
  .range--slider-wrap {
    overflow: visible;
    padding: 7px 5px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .range_slider.noUi-horizontal, .range_slider-single.noUi-horizontal {
    height: 3px;
    background: #F5F5F8;
    border: 0;
    top: 1px;
    opacity: 1;
  }
  .range_slider.noUi-horizontal .noUi-handle, .range_slider-single.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $btn-bg;
    box-shadow: none;
    border: 0;
    //right: -8px;
    cursor: pointer;
  }
  .noUi-connect {
    background: $btn-bg;
  }
}
//end range

//accInner
.accordionInner {
  width: 100%;
  &__content-holder {
    ul {
      padding-left: 2px;
    }
    label, input {
      cursor: pointer;
    }
    input {
      margin: 0;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      appearance: none;
      background: $white;
      border: 1px solid gray;
      box-sizing: border-box;
      border-radius: 2px;

    }
    label {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $dark;
      position: relative;

      @media screen and (min-width: 1348px) {
        font-size: 14px;
        line-height: 16px;
      }
      @media screen and (min-width: 1920px) {
        font-size: 16px;
        line-height: 19px;
      }

      .label-color {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        left: -27px;
        top: -1px;
        @media screen and (min-width: 1348px) {
          width: 18px;
          height: 18px;
        }
        @media screen and (min-width: 1920px) {
          top: 0;
        }
        &.black {
          background: #000000;
        }
        &.gray {
          background: #F5EFEA;
        }
        &.white {
          background: #ffffff;
          border: 1px solid #E0E4E7;

        }
        &.gray-dark {
          background: #F2DAC6;
        }
        &.brown {
          background: #B29172;
        }
        &.gray-light {
          background: #B2B2B2;
        }
      }

      span {
        color: $light;
      }
    }
    .checkbox {
      grid-template-columns: auto 1fr;
      gap: 40px;
      margin-bottom: 8px;
      align-items: center;
      display: none;

      @media screen and (min-width: 1348px) {
        margin-bottom: 16px;
      }

      &.active {
        display: grid;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        display: grid;
      }
    }
    input[type="checkbox"] {
      width: 16px; height: 16px;
      @media screen and (min-width: 1348px) {
        width: 18px; height: 18px;
      }
      @media screen and (min-width: 1348px) {
        width: 20px; height: 20px;
      }
    }
    input[type="checkbox"]:checked {
      background-image: url("../images/yes.svg");
      background-size: 77%;
      background-position: center;
      background-repeat: no-repeat;
      background-color: $white;
      border: 1px solid $btn-bg;
      box-sizing: border-box;
      border-radius: 3px;
    }
  /*  input[type="checkbox"] {
      width: 18px; height: 18px;
      //border-radius: 50%;
      border: 1px solid transparent;
    }
    input[type="checkbox"]:checked {
      border: 1px solid $light;
      box-sizing: border-box;
      border-radius: 50%;
      transform: scale(1.1);
    }*/
  }
  &__item {
    border-bottom: 1px solid #D1E5E6;
    padding: 12px 0;
    @media screen and (min-width: 1348px) {
      padding: 16px 0;
    }
    @media screen and (min-width: 1920px) {
      padding: 20px 0;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $light;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 1348px) {
      font-size: 14px;
      line-height: 16px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 16px;
      line-height: 19px;
    }
    svg {
      width: 11px;
      height: 9px;
      color: gray;
      margin-top: 3px;
      @media screen and (min-width: 1601px) {
        margin-top: 4px;
      }
    }
    &.active {
      svg {
        transform: rotate(180deg);
      }
      border-bottom: 1px solid transparent;
    }
  }
  &__content {
    display: none;
    box-sizing: border-box;
    padding: 12px 0 0;
  }
}
.accordionChoice > div:nth-child(2) > div.accordionChoice__content > div > div:nth-child(1) {
  padding: 0 0 12px;
  @media screen and (min-width: 1348px) {
    padding: 0 0 16px;
  }
  @media screen and (min-width: 1920px) {
    padding: 0 0 20px;
  }
}
.accordionChoice > div:nth-child(2) > div.accordionChoice__content > div > div:nth-child(3) {
  border-bottom: none;
}
/*#ch5,#ch11,#ch17 {
  background-color: #333333;
}#ch6,#ch12,#ch18 {
  background-color: #ffffff;
   border: 1px solid #E0E4E7;
   &:checked {
     border: 1px solid $light;
   }
}#ch7,#ch13,#ch19 {
  background-color: #F5EFEA;
}#ch8,#ch14,#ch20 {
  background-color: #F2DAC6;
}#ch9,,#ch15,#ch21 {
  background-color: #B29172;
}#ch10,#ch16,#ch22 {
  background-color: #B2B2B2;
}*/

/*Styling Selectbox*/

.dropdown {
  position: relative;
  height: 100%;
  text-align: left;
}
.dropdown-menu .checkbox {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.dropdown .select {
  cursor: pointer;
  padding: 0 10px;
  //min-width: auto;
  font-size: 12px;
  line-height: 18px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: $light;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  //white-space: nowrap;
  @media screen and (min-width: 768px) {
    //min-width: 143px;
  }
  @media screen and (min-width: 1056px)  {
    //min-width: 180px;
  }
  @media screen and (min-width: 1348px) {
    font-size: 14px;
    line-height: 18px;
    //min-width: 210px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 16px;
    line-height: 19px;
  }
}
.dropdown .select {
  svg {
    //display: none;
    /*@media screen and (min-width: 768px) {*/
      //display: block;
      width: 12px;
      height: 9px;
      color: $light;
      cursor: pointer;
      transition: all .3s ease-in-out;
      margin-left: 10px;
    /*}*/
  }
}

.dropdown.active svg {
  transform: rotate(-180deg);
}
.dropdown .dropdown-menu {
  position: fixed;
  background-color: #fff;
  width: 100%;
  //left: 0;
  margin-top: 16px;
  display: none;
  z-index: 990;
  box-shadow: 0px 0px 10px rgba(51, 93, 83, 0.2);
  border-radius: 6px;
  list-style: none;
  padding: 16px 12px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  @media screen and (min-width: 450px) {
    position: absolute;
    min-width: 200px;
    padding: 12px;
    bottom: auto;
    &:after {
      content: '';
      background-image: url(../images/pol2.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 21px;
      height: 10px;
      left: 50%;
      transform: translateX(-50%);
      top: -7px;
      border-radius: 0.5px;
    }
  }
}

.price-select ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.price-select ul li{
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: $light;
  padding: 16px 0;
  border-bottom: 1px solid #D1E5E6;
  white-space: nowrap;

  @media screen and (min-width: 450px) {
    padding: 12px 0;
    &:first-child {
      padding: 0 0 12px;
    }
    &:last-child {
      padding: 12px 0 0;
      border-bottom: none;
    }
  }
  &:first-child {
    padding: 0 0 16px;
  }
  &:last-child {
    padding: 16px 0 0;
    border-bottom: none;
  }
}

.price-select ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.price-select ul li label{
  cursor: pointer;
  padding-left: 9px;
}

.price-select ul li:hover label{
  color: $btn-bg;
}

.price-select ul li .check{
  display: block;
  position: relative;
  border: 1px solid $light;
  box-sizing: border-box;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  top: 0;
  left: 0;
  z-index: 5;
  transition: border .25s linear;
}

.price-select ul li:hover .check {
  border: 1px solid $btn-bg;
}

.price-select ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 3px;
  left: 3px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

.price-select input[type=radio]:checked ~ .check {
  border: 1px solid $btn-bg;
}

.price-select input[type=radio]:checked ~ .check::before{
  background: $btn-bg;
}

.price-select input[type=radio]:checked ~ label{
  color: $btn-bg;
}
.branch {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  label, input {
    cursor: pointer;
  }
  input {
    margin: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    appearance: none;
    background: $white;
    border: 1px solid #939393;
    box-sizing: border-box;
    border-radius: 3px;

  }
  label {
    font-size: 12px;
    line-height: 18px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #333333;
    margin-left: 4px;
    margin-right: 12px;

    @media screen and (min-width: 1056px) {
      margin-left: 8px;
    }

    @media screen and (min-width: 1348px) {
      font-size: 14px;
      line-height: 18px;
      margin-right: 24px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 16px;
      line-height: 24px;
    }

    span {
      color: $light;
    }
  }
  .checkbox {
    grid-template-columns: auto 1fr;
    align-items: center;
    display: none;

    &.active {
      display: grid;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      display: grid;
    }
    input[type="checkbox"] {
      width: 16px; height: 16px;
      @media screen and (min-width: 1348px) {
        width: 18px; height: 18px;
      }
      @media screen and (min-width: 1348px) {
        width: 20px; height: 20px;
      }
    }
    input[type="checkbox"]:checked {
      background-image: url("../images/yes.svg");
      background-size: 77%;
      background-position: center;
      background-repeat: no-repeat;
      background-color: $white;
      border: 1px solid $btn-bg;
      box-sizing: border-box;
      border-radius: 3px;
    }
  }
}
.btn-img {
  svg {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    color: $btn-bg;
    display: flex;

    @media screen and (min-width: 1348px) {
      margin-right: 12px;
    }
    @media screen and (min-width: 1920px) {
      width: 18px;
      height: 18px;
    }
  }
}
.card-price__icons.flex.flex-center-vertical > div.card-price__icon.icon1.card-priceHart {
  display: none;
}
.lineCard {
  .card-price__icons.flex.flex-center-vertical > div.card-price__icon.icon1.card-priceHart {
    display: flex;
  }
}
.filter-prod__close {
  margin-bottom: 16px;
}
.filter-prod__close-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: $dark;
}
.substrate-bg {
  width: 100vw;
  height: 100vh;
  background: #333333;
  opacity: 0.1;
  top: -155px;
  left: -25px;
  display: none;
  position: absolute;
  z-index: 884;
  transition: $transition;

  &.active {
    display: block;
  }
}
