.card.small
    .card__wrap
        .card-label.flex.flex-center-vertical.flex-space-between
            .card-label__wrap.flex.flex-center-vertical
                span.card-label__text.green Рекомендуем
                span.card-label__text.red.block Новинка
                span.card-label__text.yellow.block Хит
            .card-label__fav
                svg
                    use(xlink:href="/images/sprites.svg#hart")
        a(href='').card-img
            img(src="images/card-bg-small.png", alt="card" style="background-image: url(." +
            "./images/card-img1.png);" class='bg-i')
            .zoom.flex.flex-center-vertical.flex-center-horizontal.flex-column
                button.flex.flex-center-vertical.flex-center-horizontal
                    svg.icon
                        use(xlink:href="/images/sprites.svg#search")
                span.zoom__title Быстрый просмотр
            .card-img__artInfo.flex.flex-center-vertical.flex-space-between
                span.card-img__art Арт. CHAO000354
                .card-img__color.flex.flex-center-vertical
                    .card-img__color-choice.gray
                    .card-img__color-choice.green
                    span.card-img__color-choice.light.card-img__color-count +2
                        .prompt
                            .prompt__wrap Ещё 2 цвета
        .card-info
            .card-info__wrap
                span.card-info__title Варочная панель
                a(href="").card-info__mainTitle ORSA 60 WH электрическая варочная поверхность (независимая) KRONA
                .card-info__rating.flex.flex-center-vertical
                    .card-rating.chrait
                        svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                            use(xlink:href="/images/sprites.svg#star")
                        svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                            use(xlink:href="/images/sprites.svg#star")
                        svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                            use(xlink:href="/images/sprites.svg#star")
                        svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                            use(xlink:href="/images/sprites.svg#star")
                        svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                            use(xlink:href="/images/sprites.svg#star")
                    span.card-info__rating-text.hide 4.9
                    span.card-info__rating-text 3 отзыва
                .card-hideInfo
                    .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                        span.card-hideInfo__text Габариты товара
                        span.card-hideInfo__subtext 329х200 мм.
                    .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                        span.card-hideInfo__text Размер товара
                        span.card-hideInfo__subtext 200 мм.
                    .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                        span.card-hideInfo__text Вес нетто
                        span.card-hideInfo__subtext 32 кг.
                .card-price
                    .card-price__wrap.flex.flex-center-vertical.flex-space-between
                        .card-price__holder.flex.flex-column
                            span.card-price__subtitle 21 990 ₽
                            span.card-price__title 36 490 ₽
                        .card-price__icons.flex.flex-center-vertical
                            .card-price__icon.icon1
                                svg
                                    use(xlink:href="/images/sprites.svg#entrance")
                            .card-price__icon.icon2
                                svg
                                    use(xlink:href="/images/sprites.svg#basket")
