.card {
  .card-info__rating.flex.flex-center-vertical > div > svg:nth-child(2),
  .card-info__rating.flex.flex-center-vertical > div > svg:nth-child(3),
  .card-info__rating.flex.flex-center-vertical > div > svg:nth-child(4),
  .card-info__rating.flex.flex-center-vertical > div > svg:nth-child(5) {
    @media screen and (max-width: 460px) {
      display: none;
    }
  }
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //padding: 8px;
  background: $white;
  //border-radius: 6px;
  position: relative;
  border-radius: 6px;

  .bg-i {
    background-size: contain;
  }

  @media screen and (min-width: 768px) {
    //padding: 12px;
  }
  @media screen and (min-width: 1920px) {
    //padding: 20px;
    border-radius: 3px;
  }

  &.small {
    transition: $transition;
    border-radius: 6px;
    .card__wrap {
      border-radius: 6px;
    }
    &.active {
      .card-hideInfo {
        display: block;
        width: 100%;
        z-index: 20;
      }
      .card__wrap {
        left: 0;
        right: 0;
        top: 0;
        padding: 8px;
        background-color: $white;
        border-radius: 6px;
        box-shadow: 0px 10px 60px rgba(51, 93, 83, 0.1);

        @media screen and (min-width: 768px) {
          padding: 12px;
        }
        @media screen and (min-width: 1920px) {
          padding: 20px;
        }
      }
    }

    .card-label__fav svg{
      @media screen and (min-width: 1920px) {
        width: 21px;
        height: 18px;
      }
    }
    .card-img {
      @media screen and (min-width: 768px) {
        margin-bottom: 8px;
      }
      @media screen and (min-width: 1056px) {
        margin-bottom: 17px;
      }

      &:hover {
        img {
          transition: $transition;
          opacity: 0.4;
        }
        .zoom {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .card-info__title {
      font-size: 8px;
      line-height: 9px;
      margin-bottom: 4px;
      @media screen and (min-width: 768px) {
        font-size: 10px;
        line-height: 12px;
      }
      @media screen and (min-width: 1601px) {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 8px;
      }
    }
    .card-info__mainTitle {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
      color: $dark;
      margin-bottom: 4px;
      min-height: 56px;

      @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 14px;
        min-height: 42px;
      }
      @media screen and (min-width: 1056px) {
        font-size: 14px;
        line-height: 16px;
        min-height: 48px;
      }
      @media screen and (min-width: 1920px) {
        font-size: 18px;
        line-height: 21px;
        min-height: 63px;
        margin-bottom: 8px;
      }
    }
    .card-rating svg {
      width: 10px;
      height: 10px;
      cursor: pointer;
      color: #F4CF4B;
      opacity: 0.4;
      @media screen and (min-width: 768px) {
        width: 12px;
        height: 12px;
      }
      @media screen and (min-width: 1056px) {
        width: 14px;
        height: 14px;
      }
      @media screen and (min-width: 1920px) {
        width: 18px;
        height: 18px;
      }
    }
    .card-info__rating-text {
      font-size: 8px;
      line-height: 9px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $light;
      margin-left: 8px;
      @media screen and (min-width: 768px) {
        font-size: 10px;
        line-height: 12px;
        margin-left: 12px;
      }
      @media screen and (min-width: 1056px)  {
        font-size: 12px;
        line-height: 14px;
      }
      @media screen and (min-width: 1601px)  {
        font-size: 14px;
        line-height: 16px;
      }
    }
    .card-hideInfo {
      //display: none;
      margin-bottom: 8px;
      @media screen and (min-width: 1920px) {
        padding-top: 8px;
        margin-bottom: 16px;
      }
      &__wrap {
        margin-bottom: 8px;
      }
      &__text {
        font-size: 12px;
        line-height: 14px;
        font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
        color: $light;
        @media screen and (min-width: 1920px) {
          font-size: 14px;
          line-height: 16px;
        }
      }
      &__subtext {
        font-size: 12px;
        line-height: 14px;
        font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
        color: $dark;
        @media screen and (min-width: 1920px) {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
    .card-info__rating {
      margin-bottom: 4px;
      @media screen and (min-width: 768px) {
        margin-bottom: 4px;
      }
      @media screen and (min-width: 1056px) {
        margin-bottom: 8px;
      }
      @media screen and (min-width: 1920px) {
        margin-bottom: 17px;
      }
    }
    .card-price__subtitle {
      font-size: 8px;
      line-height: 9px;
      font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
      @media screen and (min-width: 768px) {
        font-size: 10px;
        line-height: 12px;
      }
      @media screen and (min-width: 1056px) {
        font-size: 12px;
        line-height: 14px;
      }
      @media screen and (min-width: 1348px) {
      }
      @media screen and (min-width: 1920px) {
        font-size: 14px;
        line-height: 16px;
      }
    }
    .card-price__title {
      @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 16px;
      }
      @media screen and (min-width: 1056px) {
        font-size: 16px;
        line-height: 19px;
      }
      @media screen and (min-width: 1920px) {
        font-size: 24px;
        line-height: 28px;
      }
    }
    .card-price__icon {
      @media screen and (min-width: 768px) {
        margin-left: 8px;
        width: 29px;
        height: 29px;
      }
      @media screen and (min-width: 1056px) {
        width: 33px;
        height: 33px;
        padding: 9px;
      }
      @media screen and (min-width: 1920px) {
        margin-left: 12px;
        width: 40px;
        height: 40px;
        padding: 12px;
      }
    }
  }

  &__wrap {
    width: 100%;
    padding: 8px;
    background-color: $white;
    border-radius: 6px;
    transition: $transition;

    &:hover {
      transition: $transition;
      box-shadow: 0px 10px 60px rgba(51, 93, 83, 0.1);
    }

    @media screen and (min-width: 768px) {
      padding: 12px;
    }
    @media screen and (min-width: 1920px) {
      padding: 20px;
      border-radius: 3px;
    }
  }
  .card-label {
    width: 100%;
    margin-bottom: 4px;
    @media screen and (min-width: 768px) {
      margin-bottom: 8px;
    }

    &__text {
      font-weight: 600;
      font-size: 8px;
      line-height: 9px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $white;
      padding: 1px 2px;
      border-radius: 2px;
      display: none;
      margin-right: 4px;
      @media screen and (min-width: 768px) {
        padding: 2px 4px;
      }
      @media screen and (min-width: 1056px) {
        font-size: 10px;
        line-height: 12px;
        padding: 2px 4px 1px;
      }
      @media screen and (min-width: 1348px) {
      }
      @media screen and (min-width: 1920px) {
        font-size: 12px;
        line-height: 14px;
        padding: 2px 7px;
        margin-right: 6px;
      }
      &.red {
        background-color: #FF697E;
      }
      &.green {
        background-color: $btn-bg;
      }
      &.yellow {
        background-color: #F4CF4B;
      }
      &.block {
        display: block;
      }
    }
    &__fav svg {
      width: 11px;
      height: 10px;
      color: $light;
      transition: $transition;
      cursor: pointer;
      @media screen and (min-width: 768px) {
        width: 15px;
        height: 13px;
      }
      @media screen and (min-width: 1920px) {
        width: 19px;
        height: 16px;
      }
      &:hover {
        color: #FF697E;
      }
      &:active,
      &.active {
        fill: #FF697E;
      }
    }
  }
  .card-img {
    position: relative;
    margin-bottom: 4px;

    &:hover {
      img {
        transition: $transition;
        opacity: 0.4;
      }
      .zoom {
        opacity: 1;
        visibility: visible;
      }
    }

    img {
      max-width: 100%;
      opacity: 1;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 17px;
    }

    &__artInfo {
      position: absolute;
      width: 100%;
      display: none;
      @media screen and (min-width: 768px) {
        bottom: 4px;
        display: flex;
      }
      @media screen and (min-width: 1920px) {
        bottom: 10px;
      }
    }
    &__art {
      font-size: 8px;
      line-height: 9px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $light;
      padding: 3px;
      display: none;
      background: $white;
      border-radius: 3px;

      @media screen and (min-width: 1056px) {
        display: block;
      }
      @media screen and (min-width: 1920px) {
        font-size: 10px;
        line-height: 12px;
        padding: 4px 3px 2px;
      }
    }
    &__color-choice {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-right: 4px;
      border: 1px solid transparent;
      transition: $transition;
      cursor: pointer;

      @media screen and (min-width: 1920px) {
        width: 18px;
        height: 18px;
      }

      &.gray {
        background-color: #C0CDDA;
      }
      &.green {
        background-color: #ABB4BC;
      }
      &.light {
        background-color: #F4F4F4;
      }
      &:hover,
      &:active,
      &.active {
        border: 1px solid $dark;
        @media screen and (min-width: 1920px) {
          border: 1px solid $btn-bg;
        }
      }
    }
    &__color-count {
      font-size: 10px;
      line-height: 12px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $black;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: $transition;

      @media screen and (min-width: 1920px) {
        font-size: 10px;
        line-height: 12px;
      }

      &:hover {
        .prompt {
          opacity: 1;
        }
      }
    }
    &__color {
      display: none;
      @media screen and (min-width: 1056px) {
        display: flex;
      }
    }
  }
  .card-info {
    &__title {
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $light;
      display: none;
      margin-bottom: 4px;
      @media screen and (min-width: 768px) {
        display: block;
      }
      @media screen and (min-width: 1920px) {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 8px;
      }
    }
    &__mainTitle {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
      color: $dark;
      margin-bottom: 4px;
      min-height: 70px;
      @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 16px;
        min-height: 48px;
      }
      @media screen and (min-width: 1056px) {
        font-size: 18px;
        line-height: 21px;
        min-height: 63px;
      }
      @media screen and (min-width: 1920px) {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 8px;
        min-height: 84px;
      }
    }
    &__rating-text {
      font-size: 8px;
      line-height: 9px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $light;
      margin-left: 8px;
      @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 14px;
        margin-left: 12px;
      }
      @media screen and (min-width: 1601px) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .card-hideInfo {
    display: none;
  }
}
//rating
.card-info__rating {
  margin-bottom: 4px;
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 17px;
  }
  .hide {
    @media screen and (max-width: 460px) {
      display: block;
      margin-left: 3px;
    }
  }
}
.card-rating svg.rait__star.filled {
  color: #F4CF4B;
  filter: none;
  opacity: 1;
}
.card-rating svg.rait__star {
  fill: #f2edec;
  fill-opacity: 1;
  fill-rule: evenodd;
}
.card-rating svg.cls-rait {
  fill: #f2edec;
  fill-opacity: 1;
  fill-rule: evenodd;
}
.card-rating svg {
  width: 10px;
  height: 10px;
  cursor: pointer;
  color: #F4CF4B;
  opacity: 0.4;
  @media screen and (min-width: 768px) {
    width: 14px;
    height: 14px;
  }
  @media screen and (min-width: 1056px) {
  }
  @media screen and (min-width: 1348px) {
  }
  @media screen and (min-width: 1920px) {
    width: 18px;
    height: 18px;
  }
}
.card-price {
  &__subtitle {
    font-weight: 500;
    font-size: 8px;
    line-height: 9px;
    text-decoration-line: line-through;
    font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
    color: $light;
    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 14px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 16px;
      line-height: 19px;
    }
    &.no-block {
      display: none;
    }
  }
  &__title {
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
    color: $dark;
    white-space: nowrap;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 19px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 24px;
      line-height: 28px;
    }
  }
  &__icon {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      margin-left: 8px;
      width: 33px;
      height: 33px;
      padding: 9px;
    }
    @media screen and (min-width: 1920px) {
      margin-left: 12px;
      width: 40px;
      height: 40px;
      padding: 12px;
    }
    &.icon1 {
      transition: $transition;
      &:hover {
        background-color: #6CE1C5;
        svg {
          color: $white;
        }
      }
      @media screen and (max-width: 460px) {
        background-color: $white;
      }
      background-color: #F5F5F8;
      svg {
        color: $btn-bg;

        height: 100%;

      }

    }
    &.icon2 {
      background-color: $btn-bg;
      transition: $transition;
      &:hover {
        background-color: #6CE1C5;
        svg {
          color: $white;
        }
      }
      svg {
        color: $white;
        height: 100%;
      }
    }
  }
}

.zoom {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: $base-transition;
  top: 0;
  left: auto;
  right: auto;
  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $dark;
    margin-top: 5px;
  }

  button {
    width: 29px;
    height: 29px;
    background: $white;
    opacity: 0.8;
    border-radius: 50%;
    padding: 8px;
    box-shadow: 0px 3px 10px rgba(51, 93, 83, 0.1);
    @media screen and (min-width: 1056px)  {
      width: 33px;
      height: 33px;
      padding: 10px;
    }
    @media screen and (min-width: 1920px) {
      width: 40px;
      height: 40px;
      padding: 12px;
    }

    svg {
      color: $light;
    }
  }
}
.prompt {
  position: absolute;
  bottom: 24px;
  right: 50%;
  transform: translateX(35%);
  opacity: 0;
  &__wrap {
    position: relative;
    white-space: nowrap;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $dark;
    transition: $transition;
    padding: 4px;
    background: $white;
    border-radius: 3px;
    filter: drop-shadow(0px 0px 15px rgba(23, 29, 37, 0.15));
    @media screen and (min-width: 1920px) {
      font-size: 12px;
      line-height: 14px;
    }
    &:after {
      content: '';
      background-image: url(../images/pol2.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 12px;
      height: 5px;
      transform: rotate(180deg) translateX(-50%);
      background-size: contain;
      bottom: -4px;
      left: 50%;
      //left: 272px;
      //top: -7px;
      border-radius: 0.5px;
    }
  }
}
.card-priceHart,
.card-price__btnI {
  display: none;
}
.card-hideInfo__wrapHide {
  display: none;
}



.lineCard {
  .card-hideInfo__wrapHide {
    display: flex;
  }
  .card.small .card-info__rating {
    margin-bottom: 8px;
  }
  .bg-i {
    min-width: 52px;
    max-height: 104px;
    @media screen and (min-width: 1920px) {
      max-height: 143px;
    }
  }
  .card.small .card-hideInfo {
    margin-bottom: -8px;
  }
  .card.small .card-info__mainTitle {
    min-height: auto;
    @media screen and (max-width: 500px) {
      margin-top: 20px;
    }
  }
  .catalogItems__wrap {
    width: 100%;
  }
  .card__wrap {
    display: flex;
  }
  .card-label__fav {
    display: none;
  }
  .card .card-label {
    width: auto;
    position: absolute;
  }
  .card-priceHart {
    display: flex;
  }
  .icon2 {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  .card-hideInfo {
    display: block;
  }
  .card.small .card-hideInfo {
    @media screen and (min-width: 1348px) {
      column-count: 2;
    }
  }
  .card-info__wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    @media screen and (min-width: 768px) {
      width: calc(100% - 36%);
    }
    @media screen and (min-width: 1920px) {
      width: calc(100% - 34%);
    }
  }
  .card-info {
    display: flex;
    width: 100%;
  }
  .card-info__title {
    display: none;
    @media screen and (min-width: 1920px) {
      display: block;
    }
  }
  .card-price__btnI {
    display: none;

    @media screen and (min-width: 768px) {
      margin-top: 8px;
      display: flex;
      max-height: 36px;
    }
    @media screen and (min-width: 1348px) {
      max-height: 40px;
    }
    @media screen and (min-width: 1920px) {
      max-height: 52px;
    }

    svg {
      width: 14px;
      height: 14px;
      @media screen and (min-width: 768px) {
        width: 16px;
        height: 14px;
        margin-right: 4px;
      }
      @media screen and (min-width: 1056px) {
      }
      @media screen and (min-width: 1348px) {
        margin-right: 8px;
      }
      @media screen and (min-width: 1920px) {
        width: 20px;
        height: 18px;
        margin-right: 10px;
      }
    }
  }
  .card.small .card-img {
    margin-top: 35px;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 30%;
    @media screen and (min-width: 1348px) {
      margin-right: 12px;
    }
    @media screen and (min-width: 1920px) {
      margin-right: 16px;
    }
  }
  .card-price {
    margin-top: 8px;
    @media screen and (min-width: 768px) {
      position: absolute;
      right: 12px;
      bottom: 12px;
      left: auto;
      min-width: auto;
      width: 23%;
    }
    @media screen and (min-width: 1920px) {
      min-width: 283px;
      right: 20px;
      bottom: 20px;
      width: 22%;
    }
  }
  .small {
    &.active {
      .card-hideInfo {
        display: block;
        width: 100%;
        z-index: 20;
      }
      .card__wrap {
        left: 0;
        right: 0;
        top: 0;
        padding: 8px;
        background-color: $white;
        border-radius: 6px;
        box-shadow: 0px 10px 60px rgba(51, 93, 83, 0.1);

        @media screen and (min-width: 768px) {
          padding: 12px;
        }
        @media screen and (min-width: 1920px) {
          padding: 20px;
        }
      }
    }
  }
  .card-hideInfo__wrapHide {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .card-price__icons {
    @media screen and (min-width: 768px) {
      flex-direction: row-reverse;
    }
  }
  .card-price > div.card-price__wrap.flex.flex-center-vertical.flex-space-between > div.card-price__icons.flex.flex-center-vertical > div.card-price__icon.icon1.card-priceHart {
    @media screen and (max-width: 1347px) {
      background-color: transparent;
    }
  }
  .card .card-price__icon.icon1 {
    @media screen and (max-width: 767px) {
      background-color: transparent;
    }
  }
}
.card-rating {
  svg {
    &.active {
      opacity: 1;
      color: #F4CF4B;
    }
  }
}





