.form-sectionHead {
  @media screen and (max-width: 767px) {
    background: #E0E4E7;
  }
}
.form-section {
  padding: 16px 0;
  @media screen and (min-width: 768px) {
    padding: 0;
  }

  .form-wrapper {

    @media screen and (min-width: 768px) {
      padding: 20px;
      //position: absolute;
      //top: 0;
      //left: 0;
      width: 100%;
    }
    @media screen and (min-width: 1348px) {
      padding: 30px;
    }
  }

  .form-texts {
    margin-bottom: 16px;
    @media screen and (min-width: 1056px) {
      margin-bottom: 20px;
    }

    &__title {
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $dark;
      margin-bottom: 4px;
      @media screen and (min-width: 1056px) {
        font-size: 20px;
        line-height: 23px;
      }
      @media screen and (min-width: 1348px) {
        font-size: 22px;
        line-height: 26px;
      }
      @media screen and (min-width: 1920px) {
        font-size: 30px;
        line-height: 35px;
      }
    }

    &__subtitle {
      font-size: 12px;
      line-height: 18px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $dark;
      @media screen and (min-width: 1056px) {
        font-size: 16px;
        line-height: 24px;
      }
      @media screen and (min-width: 1348px) {
        font-size: 14px;
        line-height: 18px;
      }
      @media screen and (min-width: 1920px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .form {
    width: 100%;
    position: relative;

    @media screen and (min-width: 768px) {
      background-image: url('../images/form.png');
      border-radius: 6px;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 33%;
    }
    @media screen and (min-width: 1056px) {
      background-position: left;
    }
    /*.form-img {


      display: none;
      @media screen and (min-width: 768px) {
        display: block;
      }

      .bg-i {
        @media screen and (min-width: 768px) {
          min-height: 273px;
        }
        @media screen and (min-width: 1056px) {
          min-height: 285px;
          max-height: 285px;
        }
        @media screen and (min-width: 1348px) {
          min-height: 364px;
          max-height: 364px;
        }
        @media screen and (min-width: 1920px) {
          max-height: 100%;
        }
      }

      img {
        height: 100%;
        max-width: 100%;
      }
    }*/
  }

  .contact-form {
    width: 100%;
    margin-top: auto;

    &.success {
      .form-thanks {
        display: block;
      }
    }

    &__footer {
      padding-bottom: 3px;
    }

    &__holder {
      width: 100%;
      justify-content: space-between;
      flex-direction: column;
      @media screen and (min-width: 768px) {
        margin-bottom: 8px;
        width: 77%;
        flex-direction: row;
      }
      @media screen and (min-width: 1348px) {
        margin-bottom: 14px;
        width: 55%;
      }
      @media screen and (min-width: 1920px) {
        margin-bottom: 20px;
      }
    }

    &__wrapper {
      width: 100%;
      position: relative;
      margin-bottom: 8px;

      @media screen and (min-width: 768px) {
        margin-right: 8px;
        margin-bottom: 0;
      }
      @media screen and (min-width: 1348px) {
        margin-right: 14px;
      }
      @media screen and (min-width: 1920px) {
        margin-right: 20px;
      }
    }

    &__textarea,
    &__input { // паддинги + .LPlaceholder
      background: $white;
      border-radius: 6px;
      width: 100%;
      padding: 11px 20px 11px 12px;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $dark;
      height: 36px;
      border: 1px solid transparent;
      &:focus {
        border: 1px solid #9DBFC0;
      }

      @media screen and (min-width: 1348px) {
        padding: 12px 20px 12px 12px;
        font-size: 14px;
        line-height: 16px;
        height: 40px;
      }
      @media screen and (min-width: 1920px) {
        padding: 16px 20px;
        font-size: 16px;
        line-height: 19px;
        height: 52px;
      }

      &:focus, &.populated {
        transition: $base-transition;
        padding-top: 23px;
        @media screen and (min-width: 1920px) {
          padding-top: 30px;
        }
      }
    }

    &__check {
      .btn {
        height: 36px;
        width: 100%;
        margin-bottom: 8px;
        @media screen and (min-width: 768px) {
          min-width: 272px;
          width: auto;
        }
        @media screen and (min-width: 1056px) {
          min-width: 270px;
        }
        @media screen and (min-width: 1348px) {
          height: 40px;
          min-width: 293px;
        }
        @media screen and (min-width: 1920px) {
          height: 52px;
          min-width: 346px;
          margin-bottom: 12px;
        }
      }
    }

    textarea {
      width: 100%;
      resize: none;
    }

    &__textarea {
      position: relative;
      min-height: 62px;
      margin-bottom: 8px;
      resize: none;
      padding-top: 15px;

      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 1056px) {
      }
      @media screen and (min-width: 1348px) {
        min-height: 102px;
      }
      @media screen and (min-width: 1920px) {
        min-height: 117px;
        padding-top: 20px;
      }
    }

    /* LPlaceholder */
    .LPlaceholder {
      position: absolute;
      left: 0;
      opacity: 0;
    }

    .filled {
      input::-webkit-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
      }

      input::-moz-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
      }

      input:-moz-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
      }

      input:-ms-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
      }

      input:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      input:focus::-moz-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      input:focus:-moz-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      input:focus:-ms-input-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      .LPlaceholder {
        opacity: 1;
        transition: opacity 0.3s ease;
        top: 2px;
        margin-left: 12px;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: $light;
        @media screen and (min-width: 1920px) {
          margin-left: 20px;
          top: 7px;
        }
      }
    }

    &__textarea {
      width: 100%;
      height: 100%;
      //overflow-y:scroll;
    }

    &__textarea::placeholder,
    &__input::placeholder {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $light;

      @media screen and (min-width: 1348px) {
        font-size: 14px;
        line-height: 16px;
      }
      @media screen and (min-width: 1920px) {
        font-size: 16px;
        line-height: 19px;
      }
    }

    textarea::-webkit-scrollbar {
      width: 4px;
      margin-right: 10px;
      border-radius: 10px;
    }

    textarea::-webkit-scrollbar-track {
      margin-right: 10px;
      border-radius: 10px;
    }

    textarea::-webkit-scrollbar-thumb {
      background-color: #2F2E2F;
    }

    textarea::-webkit-input-placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
    }

    textarea::-moz-placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
    }

    textarea:-moz-placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
    }

    textarea:-ms-input-placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
    }

    textarea:focus::-webkit-input-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    textarea:focus::-moz-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    textarea:focus:-moz-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    textarea:focus:-ms-input-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

  .parsley-equalto, .parsley-required, .parsley-type {
    position: relative;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FF697E;
    margin-top: 4px;
    @media screen and (min-width: 1348px) {
      margin-top: 6px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  .contact-form__input.parsley-error {
    border: 1px solid #FF697E;
    position: relative;

    &::placeholder {
      color: #FF697E;;
    }
  }

  .form-thanks {
    display: none;
    position: absolute;
    color: $white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color:  #E0E4E7;
    @media screen and (min-width: 768px) {
      background-image: url('../images/form.png');
      border-radius: 6px;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    &__btn {
      margin: 32px auto 0;
      cursor: pointer;
      width: 200px;
    }
  }

  .formClose__btn { // + паддинг к width для площади
    cursor: pointer;
    width: 43px;
    height: 43px;
    margin: 0 auto 22px;
    padding: 10px;
    color: $black;
  }
}

/* Checkbox */
.build-check {
  display: flex;
  align-items: center;
  transition: $transition;

  a {
    color: $btn-bg;
    cursor: pointer;
    text-decoration: underline;
    transition: $transition;

    &:hover {
      text-decoration: none;
    }
  }

  span {
    font-size: 10px;
    line-height: 12px;
    color: $dark;
    margin-top: 2px;

    @media screen and (min-width: 1348px) {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

input[id="send-rew"],
input[id="send-use-buying"],
input[id="send-modal"],
input[id="send"] {
  opacity: 0;
  z-index: -1;
  display: none;
}

input[id="send-rew"] + label,
input[id="send-use-buying"] + label,
input[id="send-modal"] + label,
input[id="send"] + label {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  cursor: pointer;
}

input[id="send-rew"] + label::before,
input[id="send-use-buying"] + label::before,
input[id="send-rew"] + label::after,
input[id="send-use-buying"] + label::after,
input[id="send-modal"] + label::before,
input[id="send-modal"] + label::after,
input[id="send"] + label::before,
input[id="send"] + label::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

input[id="send-rew"] + label::before,
input[id="send-use-buying"] + label::before,
input[id="send-modal"] + label::before,
input[id="send"] + label::before {
  content: " ";
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: $transition;
  border: 1px solid $light;
  box-sizing: border-box;
  border-radius: 3px;
  @media screen and (min-width: 1348px) {
    width: 18px;
    height: 18px;
  }
  @media screen and (min-width: 1920px) {
    width: 20px;
    height: 20px;
  }
}

input[id="send-rew"] + label:hover::before,
input[id="send-use-buying"] + label:hover::before,
input[id="send-modal"] + label:hover::before,
input[id="send"] + label:hover::before {
  border: 1px solid $light;
}

input[id="send-rew"] + label::after,
input[id="send-use-buying"] + label::after,
input[id="send-modal"] + label::after,
input[id="send"] + label::after {
  content: " ";
  border: 1px solid $light;
  border-top: none;
  border-right: none;
  line-height: 1.5;
  height: 4px;
  left: 3px;
  top: -3px;
  width: 10px;

  @media screen and (min-width: 1348px) {
    height: 5px;
    left: 4px;
    top: -4px;
    width: 11px;
  }
  @media screen and (min-width: 1920px) {
    height: 6px;
    left: 4px;
    top: -4px;
    width: 12px;
  }
}

/* :checked */
input[id="send-rew"]:checked + label::before,
input[id="send-use-buying"]:checked + label::before,
input[id="send-modal"]:checked + label::before,
input[id="send"]:checked + label::before {
  //border-color: gray;
  //background: $white;
}

input[id="send-rew"] + label::after,
input[id="send-use-buying"] + label::after,
input[id="send-modal"] + label::after,
input[id="send"] + label::after {
  transform: scale(0);
}

input[id="send-rew"]:checked + label::after,
input[id="send-use-buying"]:checked + label::after,
input[id="send-modal"]:checked + label::after,
input[id="send"]:checked + label::after {
  transform: scale(1) rotate(-45deg);
}

.build-check.parsley-error {
  input[id="send"] + label::before {
    border: 1px solid #FF697E;;
  }

  input[id="send-modal"] + label::before {
    border: 1px solid #FF697E;;
  }

  input[id="send-rew"] + label::before {
    border: 1px solid #FF697E;;
  }

  input[id="send-use-buying"] + label::before {
    border: 1px solid #FF697E;;
  }
}

#parsley-id-9 > li {
  @media screen and (min-width: 1201px) {
    margin-top: 6px;
  }
}

.contact-form__wrapper.error .LPlaceholder {
  color: black;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: 2;

  .filled {
    .LPlaceholder {
      opacity: 1;
      color: black;
    }
  }
}

.contact-form__holder.flex > div:nth-child(3) {
  margin-right: 0;
}
/*
.lbhidd {
  .LPlaceholder {
    display: none;
  }
}*/
.icon {
  width: 100%;
  height: 100%;
}
#form_textarea {
  &:focus {
    .filled {
      border: 1px solid green;
    }

  }
  &:focus, &.populated {
    padding-top: 5px;
  }
}