section.form-sectionHead
    .container
        .form-section.open.mb52
            .form
                //.form-img
                    img(src="images/form-img-bg.png", alt="form-img" style="background-image: linear-gradient(94.24deg, " +
                    "#EEEEEE 24.62%, rgba(255, 255, 255, 0) 56.58%), url(." +
                    "./images/img16.png);" class='bg-i')
                .form-wrapper
                    .form-texts
                        p.form-texts__title Нужна помощь в выборе?
                        p.form-texts__subtitle Заполните форму и мы вам перезвоним
                    form#main-form.contact-form
                        .contact-form__wrap
                            .contact-form__holder.flex
                                .contact-form__wrapper
                                    label(for="name").LPlaceholder.contact-form__label Ваше имя
                                    input(data-parsley-required-message="Поле обязательно для заполнения" type="text" name="name"
                                        id="name" class="iText" placeholder="* Имя" required).contact-form__input
                                .contact-form__wrapper
                                    label(for="tel").LPlaceholder.contact-form__label Номер телефона
                                    input(data-parsley-pattern-message=""
                                        data-parsley-pattern="^[\\d\\+\\-\\.\\(\\)\\/\\s]*$"
                                        data-parsley-required-message="Поле обязательно для заполнения"
                                        type="text" name="tel"
                                        id="tel" class="iText" placeholder="* Телефон" required).contact-form__input.tel
                                .contact-form__wrapper
                                    label(for="email").LPlaceholder.contact-form__label E-mail
                                    input(data-parsley-required-message="Поле обязательно для заполнения" type="text" name="email"
                                        id="email" class="iText" placeholder="E-mail").contact-form__input
                                .form-thanks
                                    //.form-img
                                        img(src="images/form-img-bg.png", alt="form-img" style="background-image: linear-gradient(94.24deg, " +
                                        "#EEEEEE 24.62%, rgba(255, 255, 255, 0) 56.58%), url(." +
                                        "./images/img16.png);" class='bg-i')
                                    .form-thanks__wrap
                                        .formClose__btn(onclick="callbackClose();")
                                            svg.icon
                                                use(xlink:href="/images/sprites.svg#close")
                                        p.subtitle <span>Спасибо! </span> Ваша заявка отправлена
                                        p.text Наш менеджер свяжеться с Вами в ближайшее время!
                                        p.form-thanks__btn(onclick="callbackClose();").btn Жду звонка!
                            .contact-form__holder
                                .contact-form__textarea
                                    label(for="form_textarea").LPlaceholder.contact-form__label Комментарий к заказу
                                    textarea(class="iText" name="form_textarea" id="form_textarea" placeholder="Сообщение")
                        .contact-form__footer
                            .contact-form__check(onclick="onCallbackSubmit();")
                                button(type="button" id="submitBtn").btn Отправить
                            .build-check
                                input(type="checkbox" id="send" required data-parsley-errors-messages-disabled).build-check__input
                                label(for="send").build-check__label
                                span Я согласен на обработку&nbsp
                                    a(href="#") персональных данных.
