extends ../layouts/default

block head
    - var pageTitle = 'Карточка товара';
    //- var Title = 'Каталог';
    - var el_1 = 'Каталог';
    - var el_2 = 'Встраиваемая техника';
    - var el_2_1 = 'Духовой шкаф CLASSIC BK 60.1 EM';


block header
    include ../blocks/header/header

block content
    main.main
        section.breadcrumbs-card
            include ../blocks/breadcrumbs/breadcrumbs
        //include ../blocks/sections/pageTitle/pageTitle
        include ../blocks/sections/card-section/card-section
        section
            .container.mb52.similar-products
                - var sectionTitle = 'Похожие товары';
                .section-head.flex.flex-space-between.flex-center-vertical.mb28
                    .title
                        span !{sectionTitle}
                .newItems-wrap.leader
                    .newItems
                        .newItems__wrap
                            .card.small
                                .card__wrap
                                    .card-label.flex.flex-center-vertical.flex-space-between
                                        .card-label__wrap.flex.flex-center-vertical
                                            span.card-label__text.green Рекомендуем
                                            span.card-label__text.red Новинка
                                            span.card-label__text.yellow.block Хит
                                        .card-label__fav
                                            svg
                                                use(xlink:href="/images/sprites.svg#hart")
                                    .card-img
                                        img(src="images/card-bg-small.png", alt="card" style="background-image: url(." +
                                        "./images/card-img7.png);" class='bg-i')
                                        .zoom.flex.flex-center-vertical.flex-center-horizontal.flex-column
                                            button.flex.flex-center-vertical.flex-center-horizontal
                                                svg.icon
                                                    use(xlink:href="/images/sprites.svg#search")
                                            span.zoom__title Быстрый просмотр
                                        .card-img__artInfo.flex.flex-center-vertical.flex-space-between
                                            span.card-img__art Арт. CHAO000354
                                            .card-img__color.flex.flex-center-vertical
                                                .card-img__color-choice.gray
                                                .card-img__color-choice.green
                                                span.card-img__color-choice.light.card-img__color-count +2
                                                    .prompt
                                                        .prompt__wrap Ещё 2 цвета
                                    .card-info
                                        .card-info__wrap
                                            span.card-info__title Варочная панель
                                            a(href="").card-info__mainTitle Стеклокерамическая варочная панель EK 30.0 C
                                            .card-info__rating.flex.flex-center-vertical
                                                .card-rating.chrait
                                                    svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                span.card-info__rating-text.hide 4.9
                                                span.card-info__rating-text 4 отзыва
                                            .card-hideInfo
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Габариты товара
                                                    span.card-hideInfo__subtext 329х200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Размер товара
                                                    span.card-hideInfo__subtext 200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Вес нетто
                                                    span.card-hideInfo__subtext 32 кг.
                                            .card-price
                                                .card-price__wrap.flex.flex-center-vertical.flex-space-between
                                                    .card-price__holder.flex.flex-column
                                                        span.card-price__subtitle.no-block 21 990 ₽
                                                        span.card-price__title 36 490 ₽
                                                    .card-price__icons.flex.flex-center-vertical
                                                        .card-price__icon.icon1
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#entrance")
                                                        .card-price__icon.icon2
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#basket")
                    .newItems
                        .newItems__wrap
                            .card.small
                                .card__wrap
                                    .card-label.flex.flex-center-vertical.flex-space-between
                                        .card-label__wrap.flex.flex-center-vertical
                                            span.card-label__text.green Рекомендуем
                                            span.card-label__text.red Новинка
                                            span.card-label__text.yellow.block Хит
                                        .card-label__fav
                                            svg
                                                use(xlink:href="/images/sprites.svg#hart")
                                    .card-img
                                        img(src="images/card-bg-small.png", alt="card" style="background-image: url(." +
                                        "./images/card-img8.png);" class='bg-i')
                                        .zoom.flex.flex-center-vertical.flex-center-horizontal.flex-column
                                            button.flex.flex-center-vertical.flex-center-horizontal
                                                svg.icon
                                                    use(xlink:href="/images/sprites.svg#search")
                                            span.zoom__title Быстрый просмотр
                                        .card-img__artInfo.flex.flex-center-vertical.flex-space-between
                                            span.card-img__art Арт. CHAO000354
                                            .card-img__color.flex.flex-center-vertical
                                                .card-img__color-choice.gray
                                                .card-img__color-choice.green
                                                span.card-img__color-choice.light.card-img__color-count +2
                                                    .prompt
                                                        .prompt__wrap Ещё 2 цвета
                                    .card-info
                                        .card-info__wrap
                                            span.card-info__title Варочная панель
                                            a(href="").card-info__mainTitle Газовая варочная поверхность COMFORT НА 60 СМ GS 60.3
                                            .card-info__rating.flex.flex-center-vertical
                                                .card-rating.chrait
                                                    svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                span.card-info__rating-text.hide 4.9
                                                span.card-info__rating-text 2 отзыва
                                            .card-hideInfo
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Габариты товара
                                                    span.card-hideInfo__subtext 329х200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Размер товара
                                                    span.card-hideInfo__subtext 200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Вес нетто
                                                    span.card-hideInfo__subtext 32 кг.
                                            .card-price
                                                .card-price__wrap.flex.flex-center-vertical.flex-space-between
                                                    .card-price__holder.flex.flex-column
                                                        span.card-price__subtitle.no-block 21 990 ₽
                                                        span.card-price__title 41 490 ₽
                                                    .card-price__icons.flex.flex-center-vertical
                                                        .card-price__icon.icon1
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#entrance")
                                                        .card-price__icon.icon2
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#basket")
                    .newItems
                        .newItems__wrap
                            .card.small
                                .card__wrap
                                    .card-label.flex.flex-center-vertical.flex-space-between
                                        .card-label__wrap.flex.flex-center-vertical
                                            span.card-label__text.green Рекомендуем
                                            span.card-label__text.red Новинка
                                            span.card-label__text.yellow.block Хит
                                        .card-label__fav
                                            svg
                                                use(xlink:href="/images/sprites.svg#hart")
                                    .card-img
                                        img(src="images/card-bg-small.png", alt="card" style="background-image: url(." +
                                        "./images/card-img9.png);" class='bg-i')
                                        .zoom.flex.flex-center-vertical.flex-center-horizontal.flex-column
                                            button.flex.flex-center-vertical.flex-center-horizontal
                                                svg.icon
                                                    use(xlink:href="/images/sprites.svg#search")
                                            span.zoom__title Быстрый просмотр
                                        .card-img__artInfo.flex.flex-center-vertical.flex-space-between
                                            span.card-img__art Арт. CHAO000354
                                            .card-img__color.flex.flex-center-vertical
                                                .card-img__color-choice.gray
                                                .card-img__color-choice.green
                                                span.card-img__color-choice.light.card-img__color-count +2
                                                    .prompt
                                                        .prompt__wrap Ещё 2 цвета
                                    .card-info
                                        .card-info__wrap
                                            span.card-info__title Духовой шкаф
                                            a(href="").card-info__mainTitle Электрический духовой шкаф COMFORT BE 60.3 W
                                            .card-info__rating.flex.flex-center-vertical
                                                .card-rating.chrait
                                                    svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                span.card-info__rating-text.hide 4.9
                                                span.card-info__rating-text 3 отзыва
                                            .card-hideInfo
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Габариты товара
                                                    span.card-hideInfo__subtext 329х200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Размер товара
                                                    span.card-hideInfo__subtext 200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Вес нетто
                                                    span.card-hideInfo__subtext 32 кг.
                                            .card-price
                                                .card-price__wrap.flex.flex-center-vertical.flex-space-between
                                                    .card-price__holder.flex.flex-column
                                                        span.card-price__subtitle.no-block 21 990 ₽
                                                        span.card-price__title 86 490 ₽
                                                    .card-price__icons.flex.flex-center-vertical
                                                        .card-price__icon.icon1
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#entrance")
                                                        .card-price__icon.icon2
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#basket")
                    .newItems
                        .newItems__wrap
                            .card.small
                                .card__wrap
                                    .card-label.flex.flex-center-vertical.flex-space-between
                                        .card-label__wrap.flex.flex-center-vertical
                                            span.card-label__text.green Рекомендуем
                                            span.card-label__text.red Новинка
                                            span.card-label__text.yellow.block Хит
                                        .card-label__fav
                                            svg
                                                use(xlink:href="/images/sprites.svg#hart")
                                    .card-img
                                        img(src="images/card-bg-small.png", alt="card" style="background-image: url(." +
                                        "./images/card-img10.png);" class='bg-i')
                                        .zoom.flex.flex-center-vertical.flex-center-horizontal.flex-column
                                            button.flex.flex-center-vertical.flex-center-horizontal
                                                svg.icon
                                                    use(xlink:href="/images/sprites.svg#search")
                                            span.zoom__title Быстрый просмотр
                                        .card-img__artInfo.flex.flex-center-vertical.flex-space-between
                                            span.card-img__art Арт. CHAO000354
                                            .card-img__color.flex.flex-center-vertical
                                                .card-img__color-choice.gray
                                                .card-img__color-choice.green
                                                span.card-img__color-choice.light.card-img__color-count +2
                                                    .prompt
                                                        .prompt__wrap Ещё 2 цвета
                                    .card-info
                                        .card-info__wrap
                                            span.card-info__title Вытяжка
                                            a(href="").card-info__mainTitle Вытяжка с выдвижным экраном на 60 СМ DHF 60.0 S
                                            .card-info__rating.flex.flex-center-vertical
                                                .card-rating.chrait
                                                    svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                span.card-info__rating-text.hide 4.9
                                                span.card-info__rating-text 3 отзыва
                                            .card-hideInfo
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Габариты товара
                                                    span.card-hideInfo__subtext 329х200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Размер товара
                                                    span.card-hideInfo__subtext 200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Вес нетто
                                                    span.card-hideInfo__subtext 32 кг.
                                            .card-price
                                                .card-price__wrap.flex.flex-center-vertical.flex-space-between
                                                    .card-price__holder.flex.flex-column
                                                        span.card-price__subtitle.no-block 21 990 ₽
                                                        span.card-price__title 9 490 ₽
                                                    .card-price__icons.flex.flex-center-vertical
                                                        .card-price__icon.icon1
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#entrance")
                                                        .card-price__icon.icon2
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#basket")
                    .newItems
                        .newItems__wrap
                            .card.small
                                .card__wrap
                                    .card-label.flex.flex-center-vertical.flex-space-between
                                        .card-label__wrap.flex.flex-center-vertical
                                            span.card-label__text.green Рекомендуем
                                            span.card-label__text.red Новинка
                                            span.card-label__text.yellow.block Хит
                                        .card-label__fav
                                            svg
                                                use(xlink:href="/images/sprites.svg#hart")
                                    .card-img
                                        img(src="images/card-bg-small.png", alt="card" style="background-image: url(." +
                                        "./images/card-img11.png);" class='bg-i')
                                        .zoom.flex.flex-center-vertical.flex-center-horizontal.flex-column
                                            button.flex.flex-center-vertical.flex-center-horizontal
                                                svg.icon
                                                    use(xlink:href="/images/sprites.svg#search")
                                            span.zoom__title Быстрый просмотр
                                        .card-img__artInfo.flex.flex-center-vertical.flex-space-between
                                            span.card-img__art Арт. CHAO000354
                                            .card-img__color.flex.flex-center-vertical
                                                .card-img__color-choice.gray
                                                .card-img__color-choice.green
                                                span.card-img__color-choice.light.card-img__color-count +2
                                                    .prompt
                                                        .prompt__wrap Ещё 2 цвета
                                    .card-info
                                        .card-info__wrap
                                            span.card-info__title Стиральная машина
                                            a(href="").card-info__mainTitle Стиральная машина COMFORT EWA 60.0
                                            .card-info__rating.flex.flex-center-vertical
                                                .card-rating.chrait
                                                    svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                span.card-info__rating-text.hide 4.9
                                                span.card-info__rating-text 10 отзывов
                                            .card-hideInfo
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Габариты товара
                                                    span.card-hideInfo__subtext 329х200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Размер товара
                                                    span.card-hideInfo__subtext 200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Вес нетто
                                                    span.card-hideInfo__subtext 32 кг.
                                            .card-price
                                                .card-price__wrap.flex.flex-center-vertical.flex-space-between
                                                    .card-price__holder.flex.flex-column
                                                        span.card-price__subtitle.no-block 21 990 ₽
                                                        span.card-price__title 53 990 ₽
                                                    .card-price__icons.flex.flex-center-vertical
                                                        .card-price__icon.icon1
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#entrance")
                                                        .card-price__icon.icon2
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#basket")
                .btn.secondary.flex.flex-center-vertical.btn-wrap
                    .btn-img
                        svg.icon
                            use(xlink:href="/images/sprites.svg#revers")
                    .btn-text Загрузить еще
                //.section-pagination.pagin(data-pagin="5")
                    div
                //.recommend-arrows
                    .section-prev.recommend-prev
                        svg.icon
                            use(xlink:href="/images/sprites.svg#arrow")
                    .section-next.recommend-next
                        svg.icon
                            use(xlink:href="/images/sprites.svg#arrow")

        section
            .container
                - var sectionTitle = 'Ранее вы смотрели';
                .section-head.flex.flex-space-between.flex-center-vertical.mb28
                    .title
                        span !{sectionTitle}
            .container2.mb70b
                .recommend-wrap
                    .recommend
                        .recommend__item
                            .card
                                .card__wrap
                                    .card-label.flex.flex-center-vertical.flex-space-between
                                        .card-label__wrap.flex.flex-center-vertical
                                            span.card-label__text.green.block Рекомендуем
                                            span.card-label__text.red Новинка
                                            span.card-label__text.yellow Хит
                                        .card-label__fav
                                            svg
                                                use(xlink:href="/images/sprites.svg#hart")
                                    .card-img
                                        img(src="images/card-bg-small.png", alt="card" style="background-image: url(." +
                                        "./images/card-img1.png);" class='bg-i')
                                        .zoom.flex.flex-center-vertical.flex-center-horizontal.flex-column
                                            button.flex.flex-center-vertical.flex-center-horizontal
                                                svg.icon
                                                    use(xlink:href="/images/sprites.svg#search")
                                            span.zoom__title Быстрый просмотр
                                        .card-img__artInfo.flex.flex-center-vertical.flex-space-between
                                            span.card-img__art Арт. CHAO000354
                                            .card-img__color.flex.flex-center-vertical
                                                .card-img__color-choice.gray
                                                .card-img__color-choice.green
                                                span.card-img__color-choice.light.card-img__color-count +2
                                                    .prompt
                                                        .prompt__wrap Ещё 2 цвета
                                    .card-info
                                        .card-info__wrap
                                            span.card-info__title Варочная панель
                                            a(href="").card-info__mainTitle ORSA 60 WH электрическая варочная поверхность (независимая) KRONA
                                            .card-info__rating.flex.flex-center-vertical
                                                .card-rating.chrait
                                                    svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                span.card-info__rating-text.hide 4.9
                                                span.card-info__rating-text 3 отзыва
                                            .card-hideInfo
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Габариты товара
                                                    span.card-hideInfo__subtext 329х200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Размер товара
                                                    span.card-hideInfo__subtext 200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Вес нетто
                                                    span.card-hideInfo__subtext 32 кг.
                                            .card-price
                                                .card-price__wrap.flex.flex-center-vertical.flex-space-between
                                                    .card-price__holder.flex.flex-column
                                                        span.card-price__subtitle 21 990 ₽
                                                        span.card-price__title 36 490 ₽
                                                    .card-price__icons.flex.flex-center-vertical
                                                        .card-price__icon.icon1
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#entrance")
                                                        .card-price__icon.icon2
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#basket")
                        .recommend__item
                            .card
                                .card__wrap
                                    .card-label.flex.flex-center-vertical.flex-space-between
                                        .card-label__wrap.flex.flex-center-vertical
                                            span.card-label__text.green.block Рекомендуем
                                            span.card-label__text.red Новинка
                                            span.card-label__text.yellow Хит
                                        .card-label__fav
                                            svg
                                                use(xlink:href="/images/sprites.svg#hart")
                                    .card-img
                                        img(src="images/card-bg-small.png", alt="card" style="background-image: url(." +
                                        "./images/card-img13.png);" class='bg-i')
                                        .zoom.flex.flex-center-vertical.flex-center-horizontal.flex-column
                                            button.flex.flex-center-vertical.flex-center-horizontal
                                                svg.icon
                                                    use(xlink:href="/images/sprites.svg#search")
                                            span.zoom__title Быстрый просмотр
                                        .card-img__artInfo.flex.flex-center-vertical.flex-space-between
                                            span.card-img__art Арт. CHAO000354
                                            .card-img__color.flex.flex-center-vertical
                                                .card-img__color-choice.gray
                                                .card-img__color-choice.green
                                                span.card-img__color-choice.light.card-img__color-count +2
                                                    .prompt
                                                        .prompt__wrap Ещё 2 цвета
                                    .card-info
                                        .card-info__wrap
                                            span.card-info__title Варочная панель
                                            a(href="").card-info__mainTitle ORSA 60 WH электрическая варочная поверхность (независимая) KRONA
                                            .card-info__rating.flex.flex-center-vertical
                                                .card-rating.chrait
                                                    svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                span.card-info__rating-text.hide 4.9
                                                span.card-info__rating-text 3 отзыва
                                            .card-hideInfo
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Габариты товара
                                                    span.card-hideInfo__subtext 329х200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Размер товара
                                                    span.card-hideInfo__subtext 200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Вес нетто
                                                    span.card-hideInfo__subtext 32 кг.
                                            .card-price
                                                .card-price__wrap.flex.flex-center-vertical.flex-space-between
                                                    .card-price__holder.flex.flex-column
                                                        span.card-price__subtitle 21 990 ₽
                                                        span.card-price__title 36 490 ₽
                                                    .card-price__icons.flex.flex-center-vertical
                                                        .card-price__icon.icon1
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#entrance")
                                                        .card-price__icon.icon2
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#basket")
                        .recommend__item
                            .card
                                .card__wrap
                                    .card-label.flex.flex-center-vertical.flex-space-between
                                        .card-label__wrap.flex.flex-center-vertical
                                            span.card-label__text.green.block Рекомендуем
                                            span.card-label__text.red Новинка
                                            span.card-label__text.yellow Хит
                                        .card-label__fav
                                            svg
                                                use(xlink:href="/images/sprites.svg#hart")
                                    .card-img
                                        img(src="images/card-bg-small.png", alt="card" style="background-image: url(." +
                                        "./images/card-img14.png);" class='bg-i')
                                        .zoom.flex.flex-center-vertical.flex-center-horizontal.flex-column
                                            button.flex.flex-center-vertical.flex-center-horizontal
                                                svg.icon
                                                    use(xlink:href="/images/sprites.svg#search")
                                            span.zoom__title Быстрый просмотр
                                        .card-img__artInfo.flex.flex-center-vertical.flex-space-between
                                            span.card-img__art Арт. CHAO000354
                                            .card-img__color.flex.flex-center-vertical
                                                .card-img__color-choice.gray
                                                .card-img__color-choice.green
                                                span.card-img__color-choice.light.card-img__color-count +2
                                                    .prompt
                                                        .prompt__wrap Ещё 2 цвета
                                    .card-info
                                        .card-info__wrap
                                            span.card-info__title Варочная панель
                                            a(href="").card-info__mainTitle Стационарный холодильно-морозильный шкаф SBS 180.1 E
                                            .card-info__rating.flex.flex-center-vertical
                                                .card-rating.chrait
                                                    svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                span.card-info__rating-text.hide 4.9
                                                span.card-info__rating-text 3 отзыва
                                            .card-hideInfo
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Габариты товара
                                                    span.card-hideInfo__subtext 329х200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Размер товара
                                                    span.card-hideInfo__subtext 200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Вес нетто
                                                    span.card-hideInfo__subtext 32 кг.
                                            .card-price
                                                .card-price__wrap.flex.flex-center-vertical.flex-space-between
                                                    .card-price__holder.flex.flex-column
                                                        span.card-price__subtitle 21 990 ₽
                                                        span.card-price__title 16 490 ₽
                                                    .card-price__icons.flex.flex-center-vertical
                                                        .card-price__icon.icon1
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#entrance")
                                                        .card-price__icon.icon2
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#basket")
                        .recommend__item
                            .card
                                .card__wrap
                                    .card-label.flex.flex-center-vertical.flex-space-between
                                        .card-label__wrap.flex.flex-center-vertical
                                            span.card-label__text.green.block Рекомендуем
                                            span.card-label__text.red Новинка
                                            span.card-label__text.yellow Хит
                                        .card-label__fav
                                            svg
                                                use(xlink:href="/images/sprites.svg#hart")
                                    .card-img
                                        img(src="images/card-bg-small.png", alt="card" style="background-image: url(." +
                                        "./images/card-img15.png);" class='bg-i')
                                        .zoom.flex.flex-center-vertical.flex-center-horizontal.flex-column
                                            button.flex.flex-center-vertical.flex-center-horizontal
                                                svg.icon
                                                    use(xlink:href="/images/sprites.svg#search")
                                            span.zoom__title Быстрый просмотр
                                        .card-img__artInfo.flex.flex-center-vertical.flex-space-between
                                            span.card-img__art Арт. CHAO000354
                                            .card-img__color.flex.flex-center-vertical
                                                .card-img__color-choice.gray
                                                .card-img__color-choice.green
                                                span.card-img__color-choice.light.card-img__color-count +2
                                                    .prompt
                                                        .prompt__wrap Ещё 2 цвета
                                    .card-info
                                        .card-info__wrap
                                            span.card-info__title Смеситель
                                            a(href="").card-info__mainTitle СМЕСИТЕЛЬ КУХОННЫЙ GR-2301
                                            .card-info__rating.flex.flex-center-vertical
                                                .card-rating.chrait
                                                    svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                span.card-info__rating-text.hide 4.9
                                                span.card-info__rating-text 3 отзыва
                                            .card-hideInfo
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Габариты товара
                                                    span.card-hideInfo__subtext 329х200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Размер товара
                                                    span.card-hideInfo__subtext 200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Вес нетто
                                                    span.card-hideInfo__subtext 32 кг.
                                            .card-price
                                                .card-price__wrap.flex.flex-center-vertical.flex-space-between
                                                    .card-price__holder.flex.flex-column
                                                        span.card-price__subtitle 21 990 ₽
                                                        span.card-price__title 96 490 ₽
                                                    .card-price__icons.flex.flex-center-vertical
                                                        .card-price__icon.icon1
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#entrance")
                                                        .card-price__icon.icon2
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#basket")
                        .recommend__item
                            .card
                                .card__wrap
                                    .card-label.flex.flex-center-vertical.flex-space-between
                                        .card-label__wrap.flex.flex-center-vertical
                                            span.card-label__text.green.block Рекомендуем
                                            span.card-label__text.red Новинка
                                            span.card-label__text.yellow Хит
                                        .card-label__fav
                                            svg
                                                use(xlink:href="/images/sprites.svg#hart")
                                    .card-img
                                        img(src="images/card-bg-small.png", alt="card" style="background-image: url(." +
                                        "./images/card-img2.png);" class='bg-i')
                                        .zoom.flex.flex-center-vertical.flex-center-horizontal.flex-column
                                            button.flex.flex-center-vertical.flex-center-horizontal
                                                svg.icon
                                                    use(xlink:href="/images/sprites.svg#search")
                                            span.zoom__title Быстрый просмотр
                                        .card-img__artInfo.flex.flex-center-vertical.flex-space-between
                                            span.card-img__art Арт. CHAO000354
                                            .card-img__color.flex.flex-center-vertical
                                                .card-img__color-choice.gray
                                                .card-img__color-choice.green
                                                span.card-img__color-choice.light.card-img__color-count +2
                                                    .prompt
                                                        .prompt__wrap Ещё 2 цвета
                                    .card-info
                                        .card-info__wrap
                                            span.card-info__title Варочная панель
                                            a(href="").card-info__mainTitle ORSA 60 WH электрическая варочная поверхность (независимая) KRONA
                                            .card-info__rating.flex.flex-center-vertical
                                                .card-rating.chrait
                                                    svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                span.card-info__rating-text.hide 4.9
                                                span.card-info__rating-text 3 отзыва
                                            .card-hideInfo
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Габариты товара
                                                    span.card-hideInfo__subtext 329х200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Размер товара
                                                    span.card-hideInfo__subtext 200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Вес нетто
                                                    span.card-hideInfo__subtext 32 кг.
                                            .card-price
                                                .card-price__wrap.flex.flex-center-vertical.flex-space-between
                                                    .card-price__holder.flex.flex-column
                                                        span.card-price__subtitle 21 990 ₽
                                                        span.card-price__title 36 490 ₽
                                                    .card-price__icons.flex.flex-center-vertical
                                                        .card-price__icon.icon1
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#entrance")
                                                        .card-price__icon.icon2
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#basket")
                        .recommend__item
                            .card
                                .card__wrap
                                    .card-label.flex.flex-center-vertical.flex-space-between
                                        .card-label__wrap.flex.flex-center-vertical
                                            span.card-label__text.green.block Рекомендуем
                                            span.card-label__text.red Новинка
                                            span.card-label__text.yellow Хит
                                        .card-label__fav
                                            svg
                                                use(xlink:href="/images/sprites.svg#hart")
                                    .card-img
                                        img(src="images/card-bg-small.png", alt="card" style="background-image: url(." +
                                        "./images/card-img4.png);" class='bg-i')
                                        .zoom.flex.flex-center-vertical.flex-center-horizontal.flex-column
                                            button.flex.flex-center-vertical.flex-center-horizontal
                                                svg.icon
                                                    use(xlink:href="/images/sprites.svg#search")
                                            span.zoom__title Быстрый просмотр
                                        .card-img__artInfo.flex.flex-center-vertical.flex-space-between
                                            span.card-img__art Арт. CHAO000354
                                            .card-img__color.flex.flex-center-vertical
                                                .card-img__color-choice.gray
                                                .card-img__color-choice.green
                                                span.card-img__color-choice.light.card-img__color-count +2
                                                    .prompt
                                                        .prompt__wrap Ещё 2 цвета
                                    .card-info
                                        .card-info__wrap
                                            span.card-info__title Варочная панель
                                            a(href="").card-info__mainTitle ORSA 60 WH электрическая варочная поверхность (независимая) KRONA
                                            .card-info__rating.flex.flex-center-vertical
                                                .card-rating.chrait
                                                    svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                    svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                        use(xlink:href="/images/sprites.svg#star")
                                                span.card-info__rating-text.hide 4.9
                                                span.card-info__rating-text 3 отзыва
                                            .card-hideInfo
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Габариты товара
                                                    span.card-hideInfo__subtext 329х200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Размер товара
                                                    span.card-hideInfo__subtext 200 мм.
                                                .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                                    span.card-hideInfo__text Вес нетто
                                                    span.card-hideInfo__subtext 32 кг.
                                            .card-price
                                                .card-price__wrap.flex.flex-center-vertical.flex-space-between
                                                    .card-price__holder.flex.flex-column
                                                        span.card-price__subtitle 21 990 ₽
                                                        span.card-price__title 196 490 ₽
                                                    .card-price__icons.flex.flex-center-vertical
                                                        .card-price__icon.icon1
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#entrance")
                                                        .card-price__icon.icon2
                                                            svg
                                                                use(xlink:href="/images/sprites.svg#basket")
                    .section-pagination.pagin(data-pagin="3")
                        div
                    .recommend-arrows
                        .section-prev.recommend-prev
                            svg.icon
                                use(xlink:href="/images/sprites.svg#arrow")
                        .section-next.recommend-next
                            svg.icon
                                use(xlink:href="/images/sprites.svg#arrow")

block footer
    include ../blocks/footer/footer