extends ../layouts/default

block head
	- var pageTitle = 'KitchenSolutions';
	- var pageTitle = 'Каталог(с товарами)';
	- var Title = 'Варочные панели';
	- var el_1 = 'Каталог';
	- var el_2 = 'Варочные панели';
	//- var el_2_1 = '';

block header
	include ../blocks/header/header

block content
	main.main
		include ../blocks/breadcrumbs/breadcrumbs
		include ../blocks/sections/pageTitle/pageTitle
		include ../blocks/sections/catalog-prod/catalog-prod
		include ../blocks/sections/banner/banner
		include ../blocks/sections/form-section/form-section
		section
			.container
				.page-footerText.mb70b
					span.page-footerText__title.titlexlb Бытовая техника для кухни со склада в Москве
					p.page-footerText__text.text.dark Кухня – это место настоящего волшебства. Здесь рождаются кулинарные шедевры, собирается за вкусным ужином семья, встречаются за чаем друзья и родные. Готовить, хранить и мыть посуду – все это помогает она, крупная и мелкая бытовая техника для кухни, без которой не мыслим комфорт. Если раньше мы обходились одним лишь холодильником и плитой, то сейчас у нас есть гораздо больше помощников – кофемашины, микроволновые печи, тостеры, миксеры, комбайны, хлебопечки и многое другое. Отвечая за приготовление полезной и здоровой пищи, кухонная техника позволяет вам оставлять больше времени на общение с родными, а значит – делает вашу семью крепкой и счастливой.
					p.page-footerText__text.text.dark Интернет-магазин Vasko.ru предлагает продажу кухонной техники ведущих мировых брендов. У нас в широком ассортименте представлена российская, японская, немецкая бытовая техника, а также продукция других стран. В нашем магазине кухонной техники вы сможете купить все от плиты до холодильника, в том числе – встроенную газовую технику для кухни (варочные поверхности и духовые шкафы), а также такие полезные и быту приборы, как аэрогриль, мультиварка или йогуртница.
					p.page-footerText__text.text.dark Мы всегда поможем вам с выбором встроенной мелкой и крупной бытовой техники и организуем доставку в удобный для вас день. Мы делаем все, чтобы у вас был выбор, а ваш дом был полной чашей, счастье в котором будет постоянным жильцом.

block footer
	include ../blocks/footer/footer