extends ../layouts/default

block head
	- var pageTitle = 'KitchenSolutions';

block header
	include ../blocks/header/header

block content
	main.main
		include ../blocks/sections/intro/intro
		include ../blocks/sections/newItems/newItems
		include ../blocks/sections/catalog-intro/catalog-intro
		include ../blocks/sections/leaderSale/leaderSale
		include ../blocks/sections/stock/stock
		include ../blocks/sections/benefits/benefits
		include ../blocks/sections/recommend/recommend
		include ../blocks/sections/article/article
		include ../blocks/sections/news/news

block footer
	include ../blocks/footer/footer