extends ../layouts/default

block head
	- var pageTitle = 'KitchenSolutions';

block header
	include ../blocks/header/header

block content
	main.main
		.container
			.pages--list
				ul
					li
						a(href='index.html') Главная
					li
						a(href='catalog.html') Каталог общий
					li
						a(href='catalog-goods.html') Каталог (с товарами)
					li
						a(href='card-page.html') Карточка товара

block footer
	include ../blocks/footer/footer