.banner {
  background-image: url("../images/banBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  padding: 15px 18px 25px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding: 15px 35px 15px 20px;
    flex-direction: row;
  }
  @media screen and (min-width: 1056px) {
    padding: 23px 44px;
  }
  @media screen and (min-width: 1348px) {
    padding: 21px 56px;
  }
  @media screen and (min-width: 1920px) {
    padding: 22px 80px 22px 67px;
  }

  .banner-title {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: $white;
    margin-bottom: 20px;

    span {
      font-weight: bold;
    }

    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1056px) {
      font-size: 26px;
      line-height: 31px;
    }
    @media screen and (min-width: 1348px) {
      font-size: 34px;
      line-height: 40px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 48px;
      line-height: 56px;
    }
  }
  .banner-img {
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}