section
    .container
        .banner.mb52.flex.flex-center-vertical.flex-space-between
            p.banner-title При покупке духового шкафа<br>мойка <span> в подарок</span>
            .banner-img
                img(src="images/banner.png", alt="card" style="background-image: url(." +
                "./images/banner-img.png);" class='bg-i')
            .banner-btn.btn Перейти в каталог