- var sectionTitle = 'Новинки';

section
    .container.mb70
        include ../../components/section-head/section-head
        .newItems-wrap.newItem-slider
            .newItems
                .newItems__wrap
                    .card.small
                        .card__wrap
                            .card-label.flex.flex-center-vertical.flex-space-between
                                .card-label__wrap.flex.flex-center-vertical
                                    span.card-label__text.green Рекомендуем
                                    span.card-label__text.red.block Новинка
                                    span.card-label__text.yellow Хит
                                .card-label__fav
                                    svg
                                        use(xlink:href="/images/sprites.svg#hart")
                            .card-img
                                img(src="images/card-bg-small.png", alt="card" style="background-image: url(." +
                                "./images/card-img2.png);" class='bg-i')
                                .zoom.flex.flex-center-vertical.flex-center-horizontal.flex-column
                                    button.flex.flex-center-vertical.flex-center-horizontal
                                        svg.icon
                                            use(xlink:href="/images/sprites.svg#search")
                                    span.zoom__title Быстрый просмотр
                                .card-img__artInfo.flex.flex-center-vertical.flex-space-between
                                    span.card-img__art Арт. CHAO000354
                                    .card-img__color.flex.flex-center-vertical
                                        .card-img__color-choice.gray
                                        .card-img__color-choice.green
                                        span.card-img__color-choice.light.card-img__color-count +2
                                            .prompt
                                                .prompt__wrap Ещё 2 цвета
                            .card-info
                                .card-info__wrap
                                    span.card-info__title Варочная панель
                                    a(href="").card-info__mainTitle Индукционная варочная панель IK 60.0 AC
                                    .card-info__rating.flex.flex-center-vertical
                                        .card-rating.chrait
                                            svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                        span.card-info__rating-text.hide 4.9
                                        span.card-info__rating-text 4 отзыва
                                    .card-hideInfo
                                        .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                            span.card-hideInfo__text Габариты товара
                                            span.card-hideInfo__subtext 329х200 мм.
                                        .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                            span.card-hideInfo__text Размер товара
                                            span.card-hideInfo__subtext 200 мм.
                                        .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                            span.card-hideInfo__text Вес нетто
                                            span.card-hideInfo__subtext 32 кг.
                                    .card-price
                                        .card-price__wrap.flex.flex-center-vertical.flex-space-between
                                            .card-price__holder.flex.flex-column
                                                span.card-price__subtitle 21 990 ₽
                                                span.card-price__title 36 490 ₽
                                            .card-price__icons.flex.flex-center-vertical
                                                .card-price__icon.icon1
                                                    svg
                                                        use(xlink:href="/images/sprites.svg#entrance")
                                                .card-price__icon.icon2
                                                    svg
                                                        use(xlink:href="/images/sprites.svg#basket")
            .newItems
                .newItems__wrap
                    .card.small
                        .card__wrap
                            .card-label.flex.flex-center-vertical.flex-space-between
                                .card-label__wrap.flex.flex-center-vertical
                                    span.card-label__text.green Рекомендуем
                                    span.card-label__text.red.block Новинка
                                    span.card-label__text.yellow.block Хит
                                .card-label__fav
                                    svg
                                        use(xlink:href="/images/sprites.svg#hart")
                            .card-img
                                img(src="images/card-bg-small.png", alt="card" style="background-image: url(." +
                                "./images/card-img3.png);" class='bg-i')
                                .zoom.flex.flex-center-vertical.flex-center-horizontal.flex-column
                                    button.flex.flex-center-vertical.flex-center-horizontal
                                        svg.icon
                                            use(xlink:href="/images/sprites.svg#search")
                                    span.zoom__title Быстрый просмотр
                                .card-img__artInfo.flex.flex-center-vertical.flex-space-between
                                    span.card-img__art Арт. CHAO000354
                                    .card-img__color.flex.flex-center-vertical
                                        .card-img__color-choice.gray
                                        .card-img__color-choice.green
                                        span.card-img__color-choice.light.card-img__color-count +2
                                            .prompt
                                                .prompt__wrap Ещё 2 цвета
                            .card-info
                                .card-info__wrap
                                    span.card-info__title Варочная панель
                                    a(href="").card-info__mainTitle TERZO 60 BL газовая варочная поверхность (независимая) KRONA
                                    .card-info__rating.flex.flex-center-vertical
                                        .card-rating.chrait
                                            svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                        span.card-info__rating-text.hide 4.9
                                        span.card-info__rating-text 2 отзыва
                                    .card-hideInfo
                                        .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                            span.card-hideInfo__text Габариты товара
                                            span.card-hideInfo__subtext 329х200 мм.
                                        .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                            span.card-hideInfo__text Размер товара
                                            span.card-hideInfo__subtext 200 мм.
                                        .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                            span.card-hideInfo__text Вес нетто
                                            span.card-hideInfo__subtext 32 кг.
                                    .card-price
                                        .card-price__wrap.flex.flex-center-vertical.flex-space-between
                                            .card-price__holder.flex.flex-column
                                                span.card-price__subtitle 21 990 ₽
                                                span.card-price__title 41 490 ₽
                                            .card-price__icons.flex.flex-center-vertical
                                                .card-price__icon.icon1
                                                    svg
                                                        use(xlink:href="/images/sprites.svg#entrance")
                                                .card-price__icon.icon2
                                                    svg
                                                        use(xlink:href="/images/sprites.svg#basket")
            .newItems
                .newItems__wrap
                    .card.small
                        .card__wrap
                            .card-label.flex.flex-center-vertical.flex-space-between
                                .card-label__wrap.flex.flex-center-vertical
                                    span.card-label__text.green Рекомендуем
                                    span.card-label__text.red.block Новинка
                                    span.card-label__text.yellow.block Хит
                                .card-label__fav
                                    svg
                                        use(xlink:href="/images/sprites.svg#hart")
                            .card-img
                                img(src="images/card-bg-small.png", alt="card" style="background-image: url(." +
                                "./images/card-img4.png);" class='bg-i')
                                .zoom.flex.flex-center-vertical.flex-center-horizontal.flex-column
                                    button.flex.flex-center-vertical.flex-center-horizontal
                                        svg.icon
                                            use(xlink:href="/images/sprites.svg#search")
                                    span.zoom__title Быстрый просмотр
                                .card-img__artInfo.flex.flex-center-vertical.flex-space-between
                                    span.card-img__art Арт. CHAO000354
                                    .card-img__color.flex.flex-center-vertical
                                        .card-img__color-choice.gray
                                        .card-img__color-choice.green
                                        span.card-img__color-choice.light.card-img__color-count +2
                                            .prompt
                                                .prompt__wrap Ещё 2 цвета
                            .card-info
                                .card-info__wrap
                                    span.card-info__title Духовой шкаф
                                    a(href="").card-info__mainTitle Электрический духовой шкаф с функцией пара OKB 8101 N STEAM
                                    .card-info__rating.flex.flex-center-vertical
                                        .card-rating.chrait
                                            svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                        span.card-info__rating-text.hide 4.9
                                        span.card-info__rating-text 3 отзыва
                                    .card-hideInfo
                                        .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                            span.card-hideInfo__text Габариты товара
                                            span.card-hideInfo__subtext 329х200 мм.
                                        .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                            span.card-hideInfo__text Размер товара
                                            span.card-hideInfo__subtext 200 мм.
                                        .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                            span.card-hideInfo__text Вес нетто
                                            span.card-hideInfo__subtext 32 кг.
                                    .card-price
                                        .card-price__wrap.flex.flex-center-vertical.flex-space-between
                                            .card-price__holder.flex.flex-column
                                                span.card-price__subtitle 21 990 ₽
                                                span.card-price__title 86 490 ₽
                                            .card-price__icons.flex.flex-center-vertical
                                                .card-price__icon.icon1
                                                    svg
                                                        use(xlink:href="/images/sprites.svg#entrance")
                                                .card-price__icon.icon2
                                                    svg
                                                        use(xlink:href="/images/sprites.svg#basket")
            .newItems
                .newItems__wrap
                    .card.small
                        .card__wrap
                            .card-label.flex.flex-center-vertical.flex-space-between
                                .card-label__wrap.flex.flex-center-vertical
                                    span.card-label__text.green Рекомендуем
                                    span.card-label__text.red.block Новинка
                                    span.card-label__text.yellow Хит
                                .card-label__fav
                                    svg
                                        use(xlink:href="/images/sprites.svg#hart")
                            .card-img
                                img(src="images/card-bg-small.png", alt="card" style="background-image: url(." +
                                "./images/card-img5.png);" class='bg-i')
                                .zoom.flex.flex-center-vertical.flex-center-horizontal.flex-column
                                    button.flex.flex-center-vertical.flex-center-horizontal
                                        svg.icon
                                            use(xlink:href="/images/sprites.svg#search")
                                    span.zoom__title Быстрый просмотр
                                .card-img__artInfo.flex.flex-center-vertical.flex-space-between
                                    span.card-img__art Арт. CHAO000354
                                    .card-img__color.flex.flex-center-vertical
                                        .card-img__color-choice.gray
                                        .card-img__color-choice.green
                                        span.card-img__color-choice.light.card-img__color-count +2
                                            .prompt
                                                .prompt__wrap Ещё 2 цвета
                            .card-info
                                .card-info__wrap
                                    span.card-info__title Вытяжка
                                    a(href="").card-info__mainTitle Настенная вытяжка GRAUDE DH 90.1 WE
                                    .card-info__rating.flex.flex-center-vertical
                                        .card-rating.chrait
                                            svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                        span.card-info__rating-text.hide 4.9
                                        span.card-info__rating-text 3 отзыва
                                    .card-hideInfo
                                        .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                            span.card-hideInfo__text Габариты товара
                                            span.card-hideInfo__subtext 329х200 мм.
                                        .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                            span.card-hideInfo__text Размер товара
                                            span.card-hideInfo__subtext 200 мм.
                                        .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                            span.card-hideInfo__text Вес нетто
                                            span.card-hideInfo__subtext 32 кг.
                                    .card-price
                                        .card-price__wrap.flex.flex-center-vertical.flex-space-between
                                            .card-price__holder.flex.flex-column
                                                span.card-price__subtitle 21 990 ₽
                                                span.card-price__title 36 490 ₽
                                            .card-price__icons.flex.flex-center-vertical
                                                .card-price__icon.icon1
                                                    svg
                                                        use(xlink:href="/images/sprites.svg#entrance")
                                                .card-price__icon.icon2
                                                    svg
                                                        use(xlink:href="/images/sprites.svg#basket")
            .newItems
                .newItems__wrap
                    .card.small
                        .card__wrap
                            .card-label.flex.flex-center-vertical.flex-space-between
                                .card-label__wrap.flex.flex-center-vertical
                                    span.card-label__text.green.block Рекомендуем
                                    span.card-label__text.red Новинка
                                    span.card-label__text.yellow.block Хит
                                .card-label__fav
                                    svg
                                        use(xlink:href="/images/sprites.svg#hart")
                            .card-img
                                img(src="images/card-bg-small.png", alt="card" style="background-image: url(." +
                                "./images/card-img6.png);" class='bg-i')
                                .zoom.flex.flex-center-vertical.flex-center-horizontal.flex-column
                                    button.flex.flex-center-vertical.flex-center-horizontal
                                        svg.icon
                                            use(xlink:href="/images/sprites.svg#search")
                                    span.zoom__title Быстрый просмотр
                                .card-img__artInfo.flex.flex-center-vertical.flex-space-between
                                    span.card-img__art Арт. CHAO000354
                                    .card-img__color.flex.flex-center-vertical
                                        .card-img__color-choice.gray
                                        .card-img__color-choice.green
                                        span.card-img__color-choice.light.card-img__color-count +2
                                            .prompt
                                                .prompt__wrap Ещё 2 цвета
                            .card-info
                                .card-info__wrap
                                    span.card-info__title Посудомоечная машина
                                    a(href="").card-info__mainTitle Отдельностоящая посудомоечная машина KDF 45240 S
                                    .card-info__rating.flex.flex-center-vertical
                                        .card-rating.chrait
                                            svg(data-rating='1' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='2' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='3' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='4' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                            svg(data-rating='5' onclick="raitThis(this);" class='rait__star cls-rait filled')
                                                use(xlink:href="/images/sprites.svg#star")
                                        span.card-info__rating-text.hide 4.9
                                        span.card-info__rating-text 10 отзывов
                                    .card-hideInfo
                                        .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                            span.card-hideInfo__text Габариты товара
                                            span.card-hideInfo__subtext 329х200 мм.
                                        .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                            span.card-hideInfo__text Размер товара
                                            span.card-hideInfo__subtext 200 мм.
                                        .card-hideInfo__wrap.flex.flex-space-between.flex-center-vertical
                                            span.card-hideInfo__text Вес нетто
                                            span.card-hideInfo__subtext 32 кг.
                                    .card-price
                                        .card-price__wrap.flex.flex-center-vertical.flex-space-between
                                            .card-price__holder.flex.flex-column
                                                span.card-price__subtitle 21 990 ₽
                                                span.card-price__title 26 490 ₽
                                            .card-price__icons.flex.flex-center-vertical
                                                .card-price__icon.icon1
                                                    svg
                                                        use(xlink:href="/images/sprites.svg#entrance")
                                                .card-price__icon.icon2
                                                    svg
                                                        use(xlink:href="/images/sprites.svg#basket")
        //.section-pagination.pagin(data-pagin="6")
            div
