.newItems-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px;
  background-color: $main-bg;

  @media screen and (min-width: 1348px) {
    margin: 0 -6px;
  }
  @media screen and (min-width: 1920px) {
    margin: 0 -8px;
  }

  .newItems {
    padding: 0 4px;
    margin-bottom: 8px;
    width: 50%;

    @media screen and (min-width: 600px) {
      width: 33.33333%;
    }

    @media screen and (min-width: 768px) {
      width: 25%;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1348px) {
      padding: 0 6px;
      width: 20%;
    }
    @media screen and (min-width: 1920px) {
      padding: 0 8px;
    }
  }
}
.newItems-wrap.newItem-slider > div:nth-child(5) {
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1348px) {
    display: block;
  }
}