section.catalog-section
    .container
        .catalog-introHoler
            .catalog-intro
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg-c.png", alt="card" style="background-image: url(." +
                            "./images/img1.png);" class='bg-i')
                        span.catalog-intro__chapter  Встраиваемая техника
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg-c.png", alt="card" style="background-image: url(." +
                            "./images/img5.png);" class='bg-i')
                        span.catalog-intro__chapter  Духовые шкафы
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg-c.png", alt="card" style="background-image: url(." +
                            "./images/img9.png);" class='bg-i')
                        span.catalog-intro__chapter  Варочные поверхности
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg-c.png", alt="card" style="background-image: url(." +
                            "./images/img7.png);" class='bg-i')
                        span.catalog-intro__chapter  Вытяжки
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg-c.png", alt="card" style="background-image: url(." +
                            "./images/img3.png);" class='bg-i')
                        span.catalog-intro__chapter  Посудомоичные машины
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg-c.png", alt="card" style="background-image: url(." +
                            "./images/img10.png);" class='bg-i')
                        span.catalog-intro__chapter  Микроволновые печи
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg-c.png", alt="card" style="background-image: url(." +
                            "./images/img4.png);" class='bg-i')
                        span.catalog-intro__chapter  Стиральные машины
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg-c.png", alt="card" style="background-image: url(." +
                            "./images/img11.png);" class='bg-i')
                        span.catalog-intro__chapter  Кухонные мойки
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg-c.png", alt="card" style="background-image: url(." +
                            "./images/img2.png);" class='bg-i')
                        span.catalog-intro__chapter  Смесители
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg-c.png", alt="card" style="background-image: url(." +
                            "./images/img8.png);" class='bg-i')
                        span.catalog-intro__chapter  Дозаторы для мыла
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg-c.png", alt="card" style="background-image: url(." +
                            "./images/img12.png);" class='bg-i')
                        span.catalog-intro__chapter  Холодильный шкаф для хранения шуб
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg-c.png", alt="card" style="background-image: url(." +
                            "./images/img12.png);" class='bg-i')
                        span.catalog-intro__chapter  Холодильно-морозильные шкафы
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg-c.png", alt="card" style="background-image: url(." +
                            "./images/img6.png);" class='bg-i')
                        span.catalog-intro__chapter  Газовые плиты
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg-c.png", alt="card" style="background-image: url(." +
                            "./images/img14.png);" class='bg-i')
                        span.catalog-intro__chapter  Компактные приборы
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg-c.png", alt="card" style="background-image: url(." +
                            "./images/img15.png);" class='bg-i')
                        span.catalog-intro__chapter  Аксессуары
