.catalog-section {
  width: 100%;
  .catalog-intro__chapter {
    max-width: 100%;
  }
  .bg-i {
    background-size: contain;
    border-radius: 6px;
  }
  .catalog-introHoler {
    margin: 0 -4px;
    @media screen and (min-width: 1056px) {
      padding-bottom: 24px;
    }
    @media screen and (min-width: 1348px) {
      margin: 0 -6px;
      padding-bottom: 28px;
    }
    @media screen and (min-width: 1920px) {
      margin: 0 -8px;
      padding-bottom: 36px;
    }
  }
  .catalog-intro {
    display: flex;
    flex-wrap: wrap;
    background-color: $main-bg;

    &__wrap {
      width: 50%;
      padding: 0 4px;
      margin-bottom: 8px;
      @media screen and (min-width: 575px) {
        width: 33.3333333%;
      }
      @media screen and (min-width: 768px) {
        width: 25%;
      }
      @media screen and (min-width: 1056px) {
        width: 20%;
      }
      @media screen and (min-width: 1348px) {
        padding: 0 6px;
        margin-bottom: 12px;
      }
      @media screen and (min-width: 1920px) {
        padding: 0 8px;
        margin-bottom: 16px;
      }
    }
  }
}
.page-footerText__title {
  display: block;
}
.page-footerText__text {
  margin-bottom: 12px;
  @media screen and (min-width: 1348px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 20px;
  }
}