.ampty

header.header
	.header-top
		.container.flex.flex-center-vertical.flex-space-between
			.city-selection.flex.flex-center-vertical.city-win
				.city-selectionImg
					svg
						use(xlink:href="/images/sprites.svg#location")
				span.town.titleHeader Ваш город:
				span.titleHeader Ростов-на-Дону
				svg
					use(xlink:href="/images/sprites.svg#polygon")
			nav.nav
				.nav__list
					ul.nav__list-wrap.flex.flex-center-vertical.flex-space-between
						li.nav__item
							a(href="#").nav__link.titleHeader О компании
						li.nav__item
							a(href="#").nav__link.titleHeader Акции
						li.nav__item
							a(href="#").nav__link.titleHeader Возврат и обмен товаров
						li.nav__item
							a(href="#").nav__link.titleHeader Оплата
						li.nav__item
							a(href="#").nav__link.titleHeader Доставка
						li.nav__item
							a(href="#").nav__link.titleHeader Контакты
			.user-lk.flex.flex-center-vertical
				.user-lk__name
					span.titleHeader.light Константин Станиславский
				.user-lk__icons.flex.flex-center-vertical
					a(href="#").flex.flex-center-vertical
						.user-lk__person
							svg
								use(xlink:href="/images/sprites.svg#person")
							.person-list
								.person-list__wrap
									ul
										li
											a(href='').person-list__holder.flex.flex-center-vertical
												svg
													use(xlink:href="/images/sprites.svg#lk-icon1")
												p.person-list__title Акции
										li
											a(href='').person-list__holder.flex.flex-center-vertical
												svg
													use(xlink:href="/images/sprites.svg#lk-icon2")
												p.person-list__title Прайс-лист
										li
											a(href='').person-list__holder.flex.flex-center-vertical.active
												svg
													use(xlink:href="/images/sprites.svg#lk-icon3")
												p.person-list__title Оформление заказа
										li
											a(href='').person-list__holder.flex.flex-center-vertical
												svg
													use(xlink:href="/images/sprites.svg#lk-icon4")
												p.person-list__title Мои заказы
										li
											a(href='').person-list__holder.flex.flex-center-vertical
												svg
													use(xlink:href="/images/sprites.svg#lk-icon6")
												p.person-list__title Лидеры продаж
										li
											a(href='').person-list__holder.flex.flex-center-vertical
												svg
													use(xlink:href="/images/sprites.svg#lk-icon5")
												p.person-list__title Профиль компании
										li
											a(href='').person-list__holder.flex.flex-center-vertical
												svg
													use(xlink:href="/images/sprites.svg#lk-icon7")
												p.person-list__title Адреса доставки
										li
											a(href='').person-list__holder.flex.flex-center-vertical
												svg
													use(xlink:href="/images/sprites.svg#lk-icon8")
												p.person-list__title Документы
										li
											a(href='').person-list__holder.flex.flex-center-vertical
												svg
													use(xlink:href="/images/sprites.svg#lk-icon9")
												p.person-list__title Рекламные материалы
											.person-listLine
										li
											a(href='').person-list__holder.person-listExit.flex.flex-center-vertical
												svg
													use(xlink:href="/images/sprites.svg#lk-icon10")
												p.person-list__title Выход
					a(href="#").user-lk__exit.flex.flex-center-vertical
						svg
							use(xlink:href="/images/sprites.svg#exit")
	.substrate
	.header-main
		.container.flex.flex-center-vertical.flex-space-between
			.burger.js-burger
				span
				span
				span
			a(href="index.html").logo
				img(src="images/logo.svg", alt="logo")
				span.logo-text Продажа бытовой<br> техники
			.header-menu
				button.btn.btn-wrap.flex.flex-center-vertical
					.header-menu__icon.flex
						svg
							use(xlink:href="/images/sprites.svg#menu-icon")
					span Каталог
				.menu-detail
					.menu-detail__inner
						.closeBtnMenu
							img(src="images/close.svg", alt="close-menu-img")
						ul.menu-detail__list
							li.menu-detail__item.flex.flex-center-vertical.hasSub
								.menu-detail__wrap(onclick="toggleSub(this);").flex.flex-center-vertical
									svg.menu-detail__img
										use(xlink:href="/images/sprites.svg#menu-icon1")
									p.menu-detail__title Встраиваемая техника
								.subMenu--wrap
									.subMenu--wrap-btn(onclick="closeSub(this);").flex.flex-center-vertical
										svg
											use(xlink:href="images/sprites.svg#menu-arrow")
										.button-text Назад
									.menu-detail__head-texts.flex.flex-center-vertical
										.menu-detail__subtitle Каталог
										.menu-detail__title Встраиваемая техника
									.subMenu
										include ../components/menu-sub/menu-sub
							li.menu-detail__item.flex.flex-center-vertical.hasSub
								.menu-detail__wrap(onclick="toggleSub(this);").flex.flex-center-vertical
									svg.menu-detail__img
										use(xlink:href="/images/sprites.svg#menu-icon2")
									p.menu-detail__title Сантехника
								.subMenu--wrap
									.subMenu--wrap-btn(onclick="closeSub(this);").flex.flex-center-vertical
										svg
											use(xlink:href="images/sprites.svg#menu-arrow")
										.button-text Назад
									.menu-detail__head-texts.flex.flex-center-vertical
										.menu-detail__subtitle Каталог
										.menu-detail__title Сантехника
									.subMenu
										include ../components/menu-sub/menu-sub
							li.menu-detail__item.flex.flex-center-vertical.hasSub
								.menu-detail__wrap(onclick="toggleSub(this);").flex.flex-center-vertical
									svg.menu-detail__img
										use(xlink:href="/images/sprites.svg#menu-icon3")
									p.menu-detail__title Посудомоечные машины
								.subMenu--wrap
									.subMenu--wrap-btn(onclick="closeSub(this);").flex.flex-center-vertical
										svg
											use(xlink:href="images/sprites.svg#menu-arrow")
										.button-text Назад
									.menu-detail__head-texts.flex.flex-center-vertical
										.menu-detail__subtitle Каталог
										.menu-detail__title Посудомоечные машины
									.subMenu
										include ../components/menu-sub/menu-sub
							li.menu-detail__item.flex.flex-center-vertical.hasSub
								.menu-detail__wrap(onclick="toggleSub(this);").flex.flex-center-vertical
									svg.menu-detail__img
										use(xlink:href="/images/sprites.svg#menu-icon4")
									p.menu-detail__title Стиральные машины
								.subMenu--wrap
									.subMenu--wrap-btn(onclick="closeSub(this);").flex.flex-center-vertical
										svg
											use(xlink:href="images/sprites.svg#menu-arrow")
										.button-text Назад
									.menu-detail__head-texts.flex.flex-center-vertical
										.menu-detail__subtitle Каталог
										.menu-detail__title Стиральные машины
									.subMenu
										include ../components/menu-sub/menu-sub
							li.menu-detail__item.flex.flex-center-vertical.hasSub
								.menu-detail__wrap(onclick="toggleSub(this);").flex.flex-center-vertical
									svg.menu-detail__img
										use(xlink:href="/images/sprites.svg#menu-icon5")
									p.menu-detail__title Духовые шкафы
								.subMenu--wrap
									.subMenu--wrap-btn(onclick="closeSub(this);").flex.flex-center-vertical
										svg
											use(xlink:href="images/sprites.svg#menu-arrow")
										.button-text Назад
									.menu-detail__head-texts.flex.flex-center-vertical
										.menu-detail__subtitle Каталог
										.menu-detail__title Духовые шкафы
									.subMenu
										include ../components/menu-sub/menu-sub
							li.menu-detail__item.flex.flex-center-vertical.hasSub
								.menu-detail__wrap(onclick="toggleSub(this);").flex.flex-center-vertical
									svg.menu-detail__img
										use(xlink:href="/images/sprites.svg#menu-icon6")
									p.menu-detail__title Компактные приборы
								.subMenu--wrap
									.subMenu--wrap-btn(onclick="closeSub(this);").flex.flex-center-vertical
										svg
											use(xlink:href="images/sprites.svg#menu-arrow")
										.button-text Назад
									.menu-detail__head-texts.flex.flex-center-vertical
										.menu-detail__subtitle Каталог
										.menu-detail__title Компактные приборы
									.subMenu
										include ../components/menu-sub/menu-sub
							li.menu-detail__item.flex.flex-center-vertical.hasSub
								.menu-detail__wrap(onclick="toggleSub(this);").flex.flex-center-vertical
									svg.menu-detail__img
										use(xlink:href="/images/sprites.svg#menu-icon7")
									p.menu-detail__title Газовые плиты
								.subMenu--wrap
									.subMenu--wrap-btn(onclick="closeSub(this);").flex.flex-center-vertical
										svg
											use(xlink:href="images/sprites.svg#menu-arrow")
										.button-text Назад
									.menu-detail__head-texts.flex.flex-center-vertical
										.menu-detail__subtitle Каталог
										.menu-detail__title Газовые плиты
									.subMenu
										include ../components/menu-sub/menu-sub
							li.menu-detail__item.flex.flex-center-vertical.hasSub
								.menu-detail__wrap(onclick="toggleSub(this);").flex.flex-center-vertical
									svg.menu-detail__img
										use(xlink:href="/images/sprites.svg#menu-icon8")
									p.menu-detail__title Вытяжки
								.subMenu--wrap
									.subMenu--wrap-btn(onclick="closeSub(this);").flex.flex-center-vertical
										svg
											use(xlink:href="images/sprites.svg#menu-arrow")
										.button-text Назад
									.menu-detail__head-texts.flex.flex-center-vertical
										.menu-detail__subtitle Каталог
										.menu-detail__title Вытяжки
									.subMenu
										include ../components/menu-sub/menu-sub
							li.menu-detail__item.flex.flex-center-vertical.hasSub
								.menu-detail__wrap(onclick="toggleSub(this);").flex.flex-center-vertical
									svg.menu-detail__img
										use(xlink:href="/images/sprites.svg#menu-icon9")
									p.menu-detail__title Холодильно-морозильные шкафы
								.subMenu--wrap
									.subMenu--wrap-btn(onclick="closeSub(this);").flex.flex-center-vertical
										svg
											use(xlink:href="images/sprites.svg#menu-arrow")
										.button-text Назад
									.menu-detail__head-texts.flex.flex-center-vertical
										.menu-detail__subtitle Каталог
										.menu-detail__title Холодильно-морозильные шкафы
									.subMenu
										include ../components/menu-sub/menu-sub
							li.menu-detail__item.flex.flex-center-vertical.hasSub
								.menu-detail__wrap(onclick="toggleSub(this);").flex.flex-center-vertical
									svg.menu-detail__img
										use(xlink:href="/images/sprites.svg#menu-icon10")
									p.menu-detail__title Холодильный шкаф для хранения шуб
								.subMenu--wrap
									.subMenu--wrap-btn(onclick="closeSub(this);").flex.flex-center-vertical
										svg
											use(xlink:href="images/sprites.svg#menu-arrow")
										.button-text Назад
									.menu-detail__head-texts.flex.flex-center-vertical
										.menu-detail__subtitle Каталог
										.menu-detail__title Холодильный шкаф для хранения шуб
									.subMenu
										include ../components/menu-sub/menu-sub
							li.menu-detail__item.flex.flex-center-vertical.hasSub
								.menu-detail__wrap(onclick="toggleSub(this);").flex.flex-center-vertical
									svg.menu-detail__img
										use(xlink:href="/images/sprites.svg#menu-icon11")
									p.menu-detail__title Смесители
								.subMenu--wrap
									.subMenu--wrap-btn(onclick="closeSub(this);").flex.flex-center-vertical
										svg
											use(xlink:href="images/sprites.svg#menu-arrow")
										.button-text Назад
									.menu-detail__head-texts.flex.flex-center-vertical
										.menu-detail__subtitle Каталог
										.menu-detail__title Смесители
									.subMenu
										include ../components/menu-sub/menu-sub
							li.menu-detail__item.flex.flex-center-vertical.hasSub
								.menu-detail__wrap(onclick="toggleSub(this);").flex.flex-center-vertical
									svg.menu-detail__img
										use(xlink:href="/images/sprites.svg#menu-icon12")
									p.menu-detail__title Кухонные мойки
								.subMenu--wrap
									.subMenu--wrap-btn(onclick="closeSub(this);").flex.flex-center-vertical
										svg
											use(xlink:href="images/sprites.svg#menu-arrow")
										.button-text Назад
									.menu-detail__head-texts.flex.flex-center-vertical
										.menu-detail__subtitle Каталог
										.menu-detail__title Кухонные мойки
									.subMenu
										include ../components/menu-sub/menu-sub
							li.menu-detail__item.flex.flex-center-vertical.hasSub
								.menu-detail__wrap(onclick="toggleSub(this);").flex.flex-center-vertical
									svg.menu-detail__img
										use(xlink:href="/images/sprites.svg#menu-icon13")
									p.menu-detail__title Аксессуары
								.subMenu--wrap
									.subMenu--wrap-btn(onclick="closeSub(this);").flex.flex-center-vertical
										svg
											use(xlink:href="images/sprites.svg#menu-arrow")
										.button-text Назад
									.menu-detail__head-texts.flex.flex-center-vertical
										.menu-detail__subtitle Каталог
										.menu-detail__title Аксессуары
									.subMenu
										include ../components/menu-sub/menu-sub
			.search-form
				.search-holder.flex.flex-center-vertical
					form.search
						input(name='search' type="text" id="search" placeholder="Поиск" autocomplete='on' class='live-search-box').search__input
					.search__input-btn
						button.search-img
							svg
								use(xlink:href="/images/sprites.svg#search")
			.header-info
				.header-info__wrap.flex
					.header-info__main
						p.time Режим работы: с 9:00 до 20:00
						a(href="tel:78432050275").phone
							span +7 (843) 205-02-75
						p.callback Заказать обратный звонок
					.header-info__icons.flex.flex-column.flex-space-between
						a(href="#").header-info__twit.flex
							svg
								use(xlink:href="/images/sprites.svg#twit")
						a(href="#").header-info__wup.flex
							svg
								use(xlink:href="/images/sprites.svg#wup")
			.header-soc.flex.flex-center-vertical.flex-space-between
				a(href="#").header-soc__entrance
					svg
						use(xlink:href="/images/sprites.svg#entrance")
				a(href="#").header-soc__hart
					svg
						use(xlink:href="/images/sprites.svg#hart")
				a(href="#").header-soc__basket.active
					svg
						use(xlink:href="/images/sprites.svg#basket")
					span.header-soc__basket-inner 8
			.footer-menu
				.footer-menu__wrap.flex.flex-center-vertical.flex-space-between
					.footer-menu__icon
						svg
							use(xlink:href="/images/sprites.svg#entrance")
					.footer-menu__icon
						svg
							use(xlink:href="/images/sprites.svg#hart")
					.footer-menu__icon.main-icon
						svg
							use(xlink:href="/images/sprites.svg#menu-icon")
					.footer-menu__icon.footer-basket.active
						svg
							use(xlink:href="/images/sprites.svg#basket")
						span.header-soc__basket-inner 8
					.footer-menu__icon.footer-menuPerson
						svg
							use(xlink:href="/images/sprites.svg#person")
	.substrate
