.ampty {
	z-index: 9999;
	position: fixed;
	left: 0;
	right: 0;
}

.header {
	transition: $transition;
	position: fixed;
	top: 0;
	width: 100%;
	//z-index: 800;
	display: flex;
	flex-direction: column;
	max-width: 1920px;
	margin: 0 auto;
	background: #FFFFFF;
	z-index: 902;
	&.active {
		box-shadow: 0px 3px 10px rgba(51, 93, 83, 0.1);
		z-index: 800;
	}

	.container {
		&.active {
			flex-direction: column;
			@media screen and (min-width: 768px) {
				flex-direction: row;
			}
		}
	}

	&.fixed {
		box-shadow: 0px 3px 10px rgba(51, 93, 83, 0.1);
		transition: $transition;
		.header-top {
			margin-top: -40px;
			transition: $transition;
		}
	}
	.logo {
		position: relative;
		width: 100%;
		max-width: 51px;
		margin-top: 6px;
		@media screen and (min-width: 768px) {
			max-width: 77px;
		}
		@media screen and (min-width: 1056px) {
			margin-right: 55px;
			margin-top: 0;
		}
		@media screen and (min-width: 1348px) {
			margin-right: 35px;
			margin-top: -6px;
		}
		@media screen and (min-width: 1920px) {
			margin-right: 42px;
			max-width: 118px;
		}
		img {
			max-width: 100%;
		}
		.logo-text {
			position: absolute;
			bottom: 0;
			right: 0;
			font-size: 8px;
			line-height: 9px;
			text-transform: lowercase;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: $light;
			display: none;
			@media screen and (min-width: 1056px) {
				display: block;
				left: 31px;
				white-space: nowrap;
				bottom: -5px;
			}

			@media screen and (min-width: 1920px) {
				font-size: 10px;
				line-height: 12px;
				bottom: -8px;
				right: 0;
				left: 49px;
			}
		}
		&.active {
			display: none;
		}
	}
	.header-top {
		display: none;
		padding: 11px 0 10px;
		border-bottom: 1px solid #F5F5F8;
		margin-top: 0;
		background-color: $white;
		@media screen and (min-width: 768px) {
			padding: 20px 0 19px;
		}
		@media screen and (min-width: 1056px) {
			display: block;
			padding: 11px 0 10px;
		}
		&.active {
			display: block;
			background-color: $white;
			box-shadow: 0px 3px 10px rgba(51, 93, 83, 0.1);
		}
	}
	.header-main {
		padding: 2px 0;
		width: 87%;
		@media screen and (min-width: 450px) {
			width: 79%;
		}
		@media screen and (min-width: 768px) {
			width: 100%;
			padding: 6px 0;
		}
		@media screen and (min-width: 1056px) {
			padding: 10px 0;
		}
		@media screen and (min-width: 1348px) {
			padding: 16px 0 17px;
		}
		@media screen and (min-width: 1920px) {
			padding: 15px 0 16px;
		}
		&.active {
			padding: 0;
		}

	}
	.user-lk {
		&__person,
		&__exit {
			svg {
				width: 16px;
				height: 14px;
				color: $light;
				transition: $transition;
				@media screen and (min-width: 1920px) {
					width: 20px;
					height: 18px;
				}
				&:hover {
					color: $hover;
				}
			}
		}
		&__exit {
			margin-left: 29px;
			@media screen and (min-width: 1348px) {
				margin-left: 9px;
			}
			@media screen and (min-width: 1920px) {
				margin-left: 8px;
			}
		}
		&__name {
			.titleHeader {
				display: none;
				@media screen and (min-width: 1348px) {
					display: block;
				}
			}
		}
		&__icons {
			display: none;
			@media screen and (min-width: 1056px) {
				display: flex;
			}
		}
	}
	.nav {
		display: none;
		@media screen and (min-width: 1056px) {
			display: flex;
			max-width: 543px;
			width: 100%;
		}
		@media screen and (min-width: 1920px) {
			max-width: 610px;
			margin-right: 7%;
		}
		&.active {
			display: block;
			padding: 12px 12px 0;
			border-top: 1px solid #D1E5E6;
			margin: 8px 0 0;
			width: 108%;
			@media screen and (min-width: 470px) {
				width: 106%;
				padding: 12px 16px 0;
			}
			@media screen and (min-width: 650px) {
				width: 104%;
			}
			@media screen and (min-width: 768px) {
				padding: 0;
				border-top: none;
				margin: 0;
			}
		}
		&__list {
			width: 100%;
			@media screen and (min-width: 1348px) {
				margin-left: 14px;
			}
			@media screen and (min-width: 1400px) {
				margin-left: -13px;
			}
			@media screen and (min-width: 1920px) {
				margin-left: 10px;
			}
		}

		&__link {
			transition: $transition;
			&:hover {
				color: $hover;
			}
		}
		&__list-wrap {
			@media screen and (max-width: 767px) {
				display: block;
				column-count: 2;
			}
		}
		&__item {
			margin-bottom: 20px;
			@media screen and (min-width: 768px) {
				margin-bottom: 0;
			}
		}
	}
	.city-selection {
		cursor: pointer;
		@media screen and (min-width: 768px) {
			margin-left: 7%;
			margin-right: 6%;
		}
		@media screen and (min-width: 1056px) {
			margin-left: 0;
			margin-right: 0;
		}

		svg {
			width: 9px;
			height: 6px;

			@media screen and (min-width: 1920px) {
				width: 12px;
				height: 8px;
			}
		}
		.town {
			cursor: pointer;
			display: none;
			@media screen and (min-width: 1056px) {
				display: block;
			}
		}
	}
	.header-menu {
		/*display: none;
		@media screen and (min-width: 1056px) {
			display: block;
		}*/

		button {
			margin-right: 8px;
			@media screen and (min-width: 1056px) {
				width: 36px;
				height: 36px;
			}
			@media screen and (min-width: 1348px) {
				min-width: 156px;
				margin-right: 0;
				height: 40px;
			}
			@media screen and (min-width: 1920px) {
				min-width: 224px;
				margin-right: 16px;
				height: 52px;
			}
			svg {
				width: 18px;
				height: 18px;
				@media screen and (min-width: 1348px) {
					margin-right: 10px;
				}
			}
		}
		span {
			display: none;
			@media screen and (min-width: 1348px) {
				display: block;
			}
		}
	}

	.header-info {

		&__wrap {
			@media screen and (min-width: 768px) {
				align-items: center;
			}
		}
		&__twit,
		&__wup {
			svg {
				width: 14px;
				height: 14px;

				@media screen and (min-width: 1920px) {
					width: 19px;
					height: 19px;
				}
			}
		}
		&__twit {
			margin-bottom: 12px;
			@media screen and (min-width: 1348px) {
				margin-bottom: 16px;
			}
			@media screen and (min-width: 1920px) {
				margin-bottom: 26px;
			}
			svg {
				color: #0088CC;
			}
		}
		&__wup {
			svg {
				color: #43D854;
			}
		}
		&__main {
			text-align: end;
			white-space: nowrap;
			.time,
			.callback  {
				display: none;
				font-size: 10px;
				line-height: 12px;
				color: $light;
				@media screen and (min-width: 1056px) {
					display: block;
				}
				@media screen and (min-width: 1348px) {
					font-weight: 600;
				}
				@media screen and (min-width: 1920px) {
					font-size: 12px;
					line-height: 14px;
				}
			}
			.phone {
				font-size: 14px;
				line-height: 16px;
				font-feature-settings: 'pnum' on, 'lnum' on;
				color: $dark;
				transition: $transition;
				@media screen and (min-width: 768px) {
					font-size: 16px;
					line-height: 19px;
				}
				@media screen and (min-width: 1348px) {
					font-size: 20px;
					line-height: 23px;
				}
				@media screen and (min-width: 1920px) {
					font-size: 24px;
					line-height: 28px;
					margin: 3px 0;
				}
				&:hover {
					color: $hover;
				}
				&.active {
					display: none;
				}
			}
			.callback {
				cursor: pointer;
			}
		}
		&__icons {
			margin-left: 19px;
			display: none;
			@media screen and (min-width: 768px) {
				display: flex;
				margin-left: 45px;
			}
			@media screen and (min-width: 1056px) {
				margin-left: 25px;
			}
			@media screen and (min-width: 1348px) {
				margin-left: 27px;
			}
			@media screen and (min-width: 1920px) {
				margin-left: 38px;
			}
			&.active {
				display: flex;
				position: absolute;
				top: 14px;
				right: 12px;
				flex-direction: revert;
				min-width: 40px;

				@media screen and (min-width: 768px) {
					display: none;
				}
			}
		}
	}
	.header-soc {
		display: none;
		@media screen and (min-width: 1056px) {
			max-width: 142px;
			display: flex;
			width: 100%;
			margin-left: 34px;
		}
		@media screen and (min-width: 1348px) {
			margin-left: 31px;
		}
		@media screen and (min-width: 1920px) {
			max-width: 182px;
			margin-left: 80px;
		}
		svg {
			width: 23px;
			height: 19px;
			color: $light;
			transition: $transition;
			display: flex;
			@media screen and (min-width: 1920px) {
				width: 26px;
				height: 23px;
			}
			&:hover {
				color: $btn-bg;
			}
			&.active,
			&:active {
				color: $black;
			}
		}
		&__basket {
			position: relative;
			&.active,
			&:active {
				svg {
					color: $black;
				}
				.header-soc__basket-inner {
					display: flex;
				}
			}

		}
	}
}
.header-soc__basket-inner {
	display: none;
	position: absolute;
	color: $white;
	width: 11px;
	height: 11px;
	background-color: #FF697E;
	border-radius: 50%;
	//display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 8px;
	line-height: 9px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	top: 0;
	right: 0;
	@media screen and (min-width: 768px) {
		width: 16px;
		height: 16px;
		font-size: 10px;
		line-height: 12px;
	}
	@media screen and (min-width: 1056px) {
		top: -4px;
		right: -3px;
	}
	@media screen and (min-width: 1920px) {
		width: 20px;
		height: 20px;
		font-size: 14px;
		line-height: 16px;
		top: -6px;
		right: -7px;
	}
}

.burger {
	//position: sticky;
	//z-index: 15;
	width: 22px;
	//height: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	//left: 12px;
	//right: auto;

	@media screen and (min-width: 1056px) {
		display: none;
	}

	span {
		width: inherit;
		height: 2px;
		transition: $transition;
		position: relative;
		background: $btn-bg;
		border-radius: 5px;
		//margin-bottom: 6px;

		&:nth-child(1) {
			margin-bottom: 6px;
		}

		&:nth-child(3) {
			margin-top: 6px;
		}
	}

	&.active {
		position: absolute;
		top: 14px;
		left: 12px;

		@media screen and (min-width: 768px) {
			top: 23px;
			left: 21px;
		}
		span {
			&:nth-child(1) {
				top: 7px;
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				transform: translateX(100px);
				opacity: 0;
			}

			&:nth-child(3) {
				bottom: 9px;
				transform: rotate(-45deg);
			}
		}

	}
}
.search-form {
	background: #FFFFFF;
	flex-grow: 1;
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	@media screen and (min-width: 768px) {
		position: relative;
		right: auto;
		top: auto;
		transform: translateY(0);
		flex-grow: 0.5;
	}
	@media screen and (min-width: 1056px) {
		flex-grow: 1;
	}
	&.active {
		display: none;
	}
	.search {
		width: 100%;
		display: none;
		@media screen and (min-width: 768px) {
			display: block;
		}
		&__input {
			width: 100%;
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #646464;
			@media screen and (min-width: 1920px) {
				font-size: 16px;
				line-height: 19px;
				font-feature-settings: 'pnum' on, 'lnum' on;
				color: $light;
			}
		}
	}
	.search-img {
		display: flex;
		svg {
			width: 15px;
			height: 15px;
			color: $dark;
			@media screen and (min-width: 768px) {
				color: $light;
			}
			@media screen and (min-width: 1348px) {
				width: 19px;
				height: 18px;
			}
		}
	}
	.search__input {
		&::placeholder {
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #646464;
			@media screen and (min-width: 1920px) {
				font-size: 16px;
				line-height: 19px;
				font-feature-settings: 'pnum' on, 'lnum' on;
				color: $light;
			}
		}
	}
	.search-holder {
		box-sizing: border-box;
		border-radius: 6px;
		@media screen and (min-width: 768px) {
			padding: 11px 16px;
			border: 1px solid #D1E5E6;
			max-height: 36px;
		}
		@media screen and (min-width: 1056px) {
			margin-left: 8px;
			margin-right: 32px;
		}
		@media screen and (min-width: 1348px) {
			padding: 12px 20px;
			margin-left: 12px;
			margin-right: 41px;
			max-height: 40px;
		}
		@media screen and (min-width: 1920px) {
			padding: 16px 20px;
			margin-left: 16px;
			margin-right: 32px;
			max-height: 52px;
		}
	}
}
.user-lk__person {
	position: relative;

	&:hover {
		transition: $transition;

		.person-list {
			display: block;
		}
		.substrate {
			display: block;
		}
	}
}
.person-list {
	display: none;
	position: absolute;
	width: 304px;
	top: 10px;
	z-index: 100;
	right: -28px;
	padding-top: 30px;
	@media screen and (min-width: 768px) {
		width: 276px;
	}
	@media screen and (min-width: 1056px) {
		right: -45px;
		width: 256px;
		top: -5px;
	}
	@media screen and (min-width: 1348px) {
		right: -25px;
		width: 268px;
	}
	@media screen and (min-width: 1920px) {
		right: -28px;
		width: 304px;
		top: -2px;
	}

	/*.substrate {
		display: block;
	}*/
	&__holder {
		padding: 11px 12px;
		margin-bottom: 8px;
		border-radius: 6px;
		transition: $transition;

		@media screen and (min-width: 1348px) {
			padding: 12px;
		}
		svg {
			width: 18px;
			height: 18px;
			margin-left: 0;
			color: $btn-bg;
		}

		&:active,
		&.active {
			background-color: $btn-bg;
			.person-list__title {
				color: $white;
			}
			svg {
				color: $white;
			}
		}
		&:hover {
			background-color: #6CE1C5;
			.person-list__title {
				color: $white;
			}
			svg {
				color: $white;
			}
		}
	}
	&__wrap {
		position: relative;
		padding: 20px;
		background: $white;
		border-radius: 6px;
		@media screen and (min-width: 1056px) {
			padding: 16px 16px 8px;
		}
		@media screen and (min-width: 1348px) {
			padding: 20px 20px 12px;
		}

		&:after {
			content: '';
			background-image: url('../images/pol2.svg');
			background-repeat: no-repeat;
			position: absolute;
			width: 21px;
			height: 10px;
			left: 194px;
			top: -21px;
			border-radius: 0.5px;
			@media screen and (min-width: 768px) {
			}
			@media screen and (min-width: 1056px) {
				left: 194px;
				top: -6px;
			}
			@media screen and (min-width: 1348px) {
				left: 226px;
			}
			@media screen and (min-width: 1920px) {
				left: 257px;
				top: -7px;
			}
		}

	}
	&__title {
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: $light;
		margin-left: 8px;
		transition: $transition;
		@media screen and (min-width: 1348px) {
			font-size: 14px;
			line-height: 16px;
			margin-left: 10px;
		}
		@media screen and (min-width: 1920px) {
			font-size: 16px;
			line-height: 19px;
		}
	}
}
.substrate {
	width: 100vw;
	height: 100vh;
	background: $dark;
	opacity: 0.1;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	&.active {
		display: block;
		z-index: -1;
	}
}

.header-menu {
	position: relative;
}
.menu-detail {
	display: flex;
	padding: 20px 0;
	&__list {
		//display: flex;
		width: 100%;
		//text-align: start;
		//position: relative;
		//flex-direction: column;
		//min-width: 346px;
		//overflow: auto;
		//max-height: 300px;
		padding: 0 20px 0 16px;
		max-height: 462px;
		overflow-y: auto;
		//margin-left: 16px;
		//border-right: 1px solid #D1E5E6;
		//direction: rtl; // делает скролбар слева от блока
		/*@media screen and (min-width: 651px) {
			width: 50%;
			min-width: auto;
		}*/
		@media screen and (min-width: 450px) {
			width: 52%;
		}
		@media screen and (min-width: 768px) {
			width: 51%;
		}
		@media screen and (min-width: 1056px) {
			//min-width: 300px;
			max-height: 479px;
		}
		@media screen and (min-width: 1348px) {
			width: 40%;
		}

		@media screen and (min-width: 1920px) {
			max-height: 610px;
			min-width: 346px;
		}

		&::-webkit-scrollbar {
			width: 2px;
			border-radius: 2px;

			@media screen and (min-width: 1601px) {
				width: 4px;
				border-radius: 2px;
			}
		}
		&::-webkit-scrollbar-track {
			background: #F5F5F8;
		}
		&::-webkit-scrollbar-thumb {
			background: #D2D4D8;
			border-radius: 10px;
		}
	}

	&__title {
		//text-align: end;
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: $dark;
		margin-left: 10px;
		@media screen and (min-width: 1056px) {
			font-size: 14px;
			line-height: 16px;
		}
		@media screen and (min-width: 1348px) {
			font-size: 16px;
			line-height: 19px;
		}
	}
	&__img {
		width: 16px;
		height: 16px;
		color: $btn-bg;
	}

	&__wrap {
		box-sizing: border-box;
		margin-bottom: 8px;
		transition: $transition;
		padding: 10px 12px;
		border-radius: 6px;
		width: 100%;

		@media screen and (min-width: 450px) {
			//width: 50%;
			//direction: rtl;

		}
		@media screen and (min-width: 1056px) {
			padding: 12px;
		}
		@media screen and (min-width: 1348px) {
			padding: 12px 8px 12px 12px;
			margin-bottom: 12px;
		}

		&:active,
		&.active {
			background-color: $btn-bg;
			.menu-detail__title {
				color: $white;
			}
			svg {
				color: $white;
			}
		}
		&:hover {
			background-color: #6CE1C5;
			cursor: pointer;
			.menu-detail__title {
				color: $white;
			}
			svg {
				color: $white;
			}
		}
	}

	&__content {
		display: none;
		width: 100%;
		overflow: auto;
		margin: 0 16px;
		padding-right: 8px;
		max-height: 300px;
		@media screen and (min-width: 651px) {
			width: 47%;
		}
		@media screen and (min-width: 768px) {
			margin: 0 48px 0 16px;
		}
		@media screen and (min-width: 1056px) {
			padding-right: 12px;
			margin: 0 52px 0 16px;
			width: 100%;
			min-width: 300px;
			max-height: 500px;
		}
		@media screen and (min-width: 1920px) {
			min-width: 632px;
			max-height: 610px;
		}

		&::-webkit-scrollbar {
			width: 2px;
			border-radius: 2px;

			@media screen and (min-width: 1601px) {
				width: 4px;
				border-radius: 2px;
			}
		}
		&::-webkit-scrollbar-track {
			background: #F5F5F8;
		}
		&::-webkit-scrollbar-thumb {
			background: #D2D4D8;
			border-radius: 10px;
		}

		&.active {
			display: block;
		}
	}

}
.subMenu {
	max-height: 407px;
	overflow-y: auto;
	&::-webkit-scrollbar {
		width: 2px;
		border-radius: 2px;

		@media screen and (min-width: 1601px) {
			width: 4px;
			border-radius: 2px;
		}
	}
	&::-webkit-scrollbar-track {
		background: #F5F5F8;
	}
	&::-webkit-scrollbar-thumb {
		background: #D2D4D8;
		border-radius: 10px;
	}
	@media screen and (min-width: 450px) {
		max-height: 456px;
	}
	@media screen and (min-width: 1056px) {
		max-height: 473px;
	}
}
.menu-detail {
	//display: block;
	display: none;
	width: auto;
	max-height: 666px;
	height: auto;
	background-color: transparent;
	position: absolute;
	transition: all 0.5s ease;
	z-index: 3;
	left: -160px;
	top: 0;
	padding-top: 60px;
	@media screen and (min-width: 1056px) {
		left: -132px;
		min-width: 695px;
	}
	@media screen and (min-width: 1348px) {
		left: -112px;
		min-width: 1008px;
	}
	@media screen and (min-width: 1920px) {
		left: -160px;
		min-width: 1081px;
	}


	&__inner {
		background-color: $white;
		border-radius: 6px;
		//border: 1px solid red;
		position: relative;
		height: 100%;
		padding: 12px 12px 12px 0;
		@media screen and (min-width: 1056px) {
			padding: 16px 16px 16px 0;
		}

		&:after {
			content: '';
			background-image: url('../images/pol2.svg');
			background-repeat: no-repeat;
			position: absolute;
			width: 21px;
			height: 10px;
			left: 272px;
			top: -7px;
			border-radius: 0.5px;
			@media screen and (min-width: 1056px) {
				left: 142px;
			}
		}
	}

	&.active {
		display: block;

		.substrate {
			display: block;
		}
	}

	&__item {
		//min-width: 600px;
		height: 100%;
	}
	&__head-texts {
		margin-bottom: 8px;
		@media screen and (min-width: 450px) {
			display: none;
		}
	}
	&__subtitle {
		font-size: 12px;
		line-height: 18px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: $light;
		position: relative;
		padding-right: 10px;

		&:after {
			content: '';
			position: absolute;
			width: 3px;
			height: 3px;
			border-radius: 50%;
			background-color: $light;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}
	}
}
.closeBtnMenu {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px;
	cursor: pointer;
	display: none;
	z-index: 10;
	@media screen and (min-width: 1056px) {
		display: block;
	}
}
.city-selection.flex.flex-center-vertical.city-win > span > span {
	margin-left: 5px;
}
.person-listLine {
	width: 100%;
	height: 1px;
	background: #D1E5E6;
}
.person-listExit {
	margin-top: 8px;
}
.footer-menu {
	position: fixed;
	left: 12px;
	right: 12px;
	bottom: 17px;
	@media screen and (min-width: 768px) {
		bottom: 28px;
	}
	@media screen and (min-width: 1056px) {
		display: none;
	}
	&__wrap {
		background: #67CBB3;
		border-radius: 6px;
		padding: 8px 18px;
		@media screen and (min-width: 768px) {
			padding: 10px 48px;
		}
		.main-icon {
			width: 32px;
			height: 32px;
			background: $white;
			border-radius: 6px;
			display: flex;
			align-items: center;
			justify-content: center;
			@media screen and (min-width: 768px) {
				width: 40px;
				height: 40px;
			}

			svg {
				color: $btn-bg;
			}
		}
	}
	&__icon {

		svg {
			color: $white;
			width: 22px;
			height: 22px;
			display: flex;
			@media screen and (min-width: 768px) {
				width: 30px;
				height: 30px;
			}
		}
	}
	.footer-basket {
		position: relative;

		&.active {
			.header-soc__basket-inner {
				display: flex;
			}
		}
	}
}
.footer-menuPerson {
	cursor: pointer;
	&:hover {
		transition: $transition;

		.person-list {
			display: block;
		}
		.substrate {
			display: block;
		}
	}
}
.city-selectionImg {
	display: none;
	&.active {
		display: block;
		svg {
			width: 15px;
			height: 19px;
			margin-right: 10px;
		}
	}
}
.header-main > div > div.header-menu > button {
		display: none;
		@media screen and (min-width: 1056px) {
			display: flex;
		}
}
@media screen and (max-width: 1055px) {
	.menu-detail {
		position: fixed;
		left: 12px;
		right: 12px;
		bottom: 77px;
		top: auto;
	}
	.menu-detail__inner:after {
		content: '';
		background-image: url(../images/pol2.svg);
		background-repeat: no-repeat;
		position: absolute;
		width: 21px;
		height: 10px;
		top: auto;
		border-radius: 0.5px;
		bottom: -7px;
		transform: rotate(180deg) translateX(50%);
		left: 50%;
	}
}
@media screen and (max-width: 767px) {
	.menu-detail {
		position: fixed;
		left: 12px;
		right: 12px;
		bottom: 53px;
		top: auto;
	}
}

.hasSub {
	&.active {
		.subMenu--wrap {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			padding: 12px;
			background-color: $white;
			border-radius: 6px;
			@media screen and (min-width: 450px) {
				right: 0;
				left: auto;
				width: 49%;
			}
			@media screen and (min-width: 1056px) {
				padding: 16px 46px 16px 16px;
			}
			@media screen and (min-width: 1348px) {
				width: 59%;
			}
			.subMenu--wrap-btn {
				margin-bottom: 8px;
				.button-text {
					font-size: 12px;
					line-height: 18px;
					font-feature-settings: 'pnum' on, 'lnum' on;
					color: $light;
				}
				svg {
					width: 7px;
					height: 10px;
					margin-right: 5px;
					display: flex;
					transform: rotate(90deg);

				}
				@media screen and (min-width: 450px) {
					display: none;
				}
			}
		}
	}
}
.subMenu--wrap {
	display: none;

	&.active {
		display: block;
	}
}

