section
    .container
        .intro-section
            .intro-wrap.mb52
                .intro
                    img(src="images/bg-big.png", alt="card")
                    .intro__wrap

                        .intro__img.flex.flex-center-vertical.flex-center-horizontal
                            img(src="images/bg-intro.png", alt="card" style="background-image: url(." +
                            "./images/img7.png);" class='bg-i')
                        .intro__info.flex.flex-space-between.flex-center-vertical
                            .intro__info-wrap
                                p.intro__info-text Настенная вытяжка<br>GRAUDE
                                .intro-price.flex.flex-column
                                    span.intro-price__subtitle 21 990 ₽
                                    span.intro-price__title 36 490 ₽
                            .intro__info-wrap
                                span.introTitle GRAUDE DH 90.1 WE
                                .intro__text-holder
                                    p.introSubTitle Нержавеющая сталь
                                    p.introSubTitle Оригинальные конфорки SABAF
                                    p.introSubTitle Чугунные решетки
                                    p.introSubTitle Система GasControl
                                    p.introSubTitle Электроподжиг
                                .intro-btn
                                    a(href="").flex.flex-center-vertical
                                        span.intro-btnText Подробнее
                                        svg
                                            use(xlink:href="/images/sprites.svg#arrow")
                .intro
                    img(src="images/bg-big.png", alt="card")
                    .intro__wrap
                        .intro__img.flex.flex-center-vertical.flex-center-horizontal
                            img(src="images/bg-intro.png", alt="card" style="background-image: url(." +
                            "./images/img6.png);" class='bg-i')
                        .intro__info.flex.flex-space-between.flex-center-vertical
                            .intro__info-wrap
                                p.intro__info-text Настенная вытяжка<br>GRAUDE
                                .intro-price.flex.flex-column
                                    span.intro-price__subtitle 21 990 ₽
                                    span.intro-price__title 36 490 ₽
                            .intro__info-wrap
                                span.introTitle GRAUDE DH 90.1 WE
                                .intro__text-holder
                                    p.introSubTitle Нержавеющая сталь
                                    p.introSubTitle Оригинальные конфорки SABAF
                                    p.introSubTitle Чугунные решетки
                                    p.introSubTitle Система GasControl
                                    p.introSubTitle Электроподжиг
                                .intro-btn
                                    a(href="").flex.flex-center-vertical
                                        span.intro-btnText Подробнее
                                        svg
                                            use(xlink:href="/images/sprites.svg#arrow")
                .intro
                    img(src="images/bg-big.png", alt="card")
                    .intro__wrap
                        .intro__img.flex.flex-center-vertical.flex-center-horizontal
                            img(src="images/bg-intro.png", alt="card" style="background-image: url(." +
                            "./images/img5.png);" class='bg-i')
                        .intro__info.flex.flex-space-between.flex-center-vertical
                            .intro__info-wrap
                                p.intro__info-text Настенная вытяжка<br>GRAUDE
                                .intro-price.flex.flex-column
                                    span.intro-price__subtitle 21 990 ₽
                                    span.intro-price__title 36 490 ₽
                            .intro__info-wrap
                                span.introTitle GRAUDE DH 90.1 WE
                                .intro__text-holder
                                    p.introSubTitle Нержавеющая сталь
                                    p.introSubTitle Оригинальные конфорки SABAF
                                    p.introSubTitle Чугунные решетки
                                    p.introSubTitle Система GasControl
                                    p.introSubTitle Электроподжиг
                                .intro-btn
                                    a(href="").flex.flex-center-vertical
                                        span.intro-btnText Подробнее
                                        svg
                                            use(xlink:href="/images/sprites.svg#arrow")
            //.section-pagination.pagin(data-pagin="2")
                div
            .section-prev.intro-prev
                .intro-prev__wrap.flex.flex-end
                    span 03
                    span /
                    span 03

            .section-next.intro-next
                .intro-next__wrap.flex.flex-end
                    span 02
                    span /
                    span 03




