.intro-section {
  position: relative;
  padding-top: 16px;
  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }
  @media screen and (min-width: 1056px) {
    padding-top: 32px;
  }
  @media screen and (min-width: 1348px) {
    padding-top: 40px;
  }
  @media screen and (min-width: 1920px) {
    padding-top: 52px;
  }
  .intro-wrap {
    width: 100%;
    z-index: 2;
    border-radius: 6px;
    overflow: hidden;

    .slick-slide {
      min-height: 181px;
      @media screen and (min-width: 768px) {
        min-height: 250px;
      }
      @media screen and (min-width: 1056px) {
        min-height: 308px;
      }
      &.next {
        .intro {
          &__img {
            img {
              transform: translateY(300%);
            }
          }
          &__info {
            &-wrap {
              transform: translateY(300px);
            }
          }
        }
      }
      border: 0;
      .intro {
        &__img {
          img {
            transition: .5s transform ease, 1.3s opacity ease;
            opacity: 0;
            transform: translateY(-300%);
          }
        }
        &__info {
          &-wrap {
            transition: .5s transform ease, 1.3s opacity ease;
            transform: translateY(-300px);
            opacity: 0;
          }
        }
      }
      &.slick-current {
        .intro {
          &__img {
            img {
              transform: translateY(0);
              opacity: 1;
            }
          }
          &__info {
            &-wrap {
              transform: translateY(0);
              opacity: 1;
            }
          }
        }
      }
    }

    .bg-i {
      background-size: contain;
      width: auto;
      max-height: 100%;
      @media screen and (min-width: 1056px) {
        max-height: 254px;
      }
      @media screen and (min-width: 1348px) {
        max-height: 356px;
      }
      @media screen and (min-width: 1920px) {
        max-height: 507px;
      }
    }
    .intro {
      &__wrap {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #92C9E0;
        padding: 0 0 0 17px;
        @media screen and (min-width: 768px) {
          padding: 0 0 0 60px;
        }
        @media screen and (min-width: 1056px) {
          padding: 0 0 0 44px;
        }
        @media screen and (min-width: 1348px) {
          padding: 0 0 0 56px;
        }
        @media screen and (min-width: 1920px) {
          padding: 0 80px 0;
        }
      }
      &__img {
        margin: 0 0 0 auto;
        border-radius: 3px;
        height: 100%;
        justify-content: flex-end;
        @media screen and (min-width: 768px) {
          margin-right: 131px;
        }
        @media screen and (min-width: 1056px) {
          margin: auto;
          justify-content: center;
        }
        @media screen and (min-width: 1348px) {
          margin-left: -56px;
        }
        @media screen and (min-width: 1920px) {
          margin-left: 0;
        }
      }
      &__info {
        position: absolute;
        top: 11px;
        @media screen and (min-width: 768px) {
          top: 28px;
        }
        @media screen and (min-width: 1056px) {
          top: 77px;
          width: 89%;
          align-items: flex-start;
        }
        @media screen and (min-width: 1348px) {
          top: 50%;
          transform: translateY(-50%);
          width: 83%;
        }
        @media screen and (min-width: 1920px) {
          width: 81%;
        }
        .intro-price {
          &__subtitle {
            font-weight: 500;
            text-decoration-line: line-through;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #E0E4E7;
            font-size: 12px;
            line-height: 14px;
            @media screen and (min-width: 768px) {
              font-size: 14px;
              line-height: 16px;
            }
            @media screen and (min-width: 1920px) {
              font-size: 20px;
              line-height: 23px;
            }
          }
          &__title {
            font-weight: bold;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $white;
            font-size: 20px;
            line-height: 23px;
            @media screen and (min-width: 768px) {
              font-size: 24px;
              line-height: 28px;
            }
            @media screen and (min-width: 1348px) {
              font-size: 32px;
              line-height: 38px;
            }
            @media screen and (min-width: 1920px) {
              font-size: 45px;
              line-height: 53px;
            }
          }
        }
      }
      &__info-text {
        color: $white;
        font-size: 20px;
        line-height: 23px;
        max-width: 131px;
        margin-bottom: 19px;

        @media screen and (min-width: 768px) {
          font-size: 24px;
          line-height: 28px;
          max-width: 227px;
        }
        @media screen and (min-width: 1348px) {
          font-size: 32px;
          line-height: 38px;
          max-width: 324px;
          margin-bottom: 13px;
        }
        @media screen and (min-width: 1920px) {
          font-size: 45px;
          line-height: 53px;
          margin-bottom: 8px;
          max-width: 100%;
        }
      }
      .introTitle {
        font-weight: bold;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $white;
        display: inline-block;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 8px;
        @media screen and (min-width: 1920px) {
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 12px;
        }
      }
      .introSubTitle {
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $white;
        font-size: 12px;
        line-height: 18px;
        @media screen and (min-width: 1348px) {
          font-size: 14px;
          line-height: 18px;
        }
        @media screen and (min-width: 1920px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
      &__text-holder {
        margin-bottom: 12px;
      }
      .intro-btn {
        .intro-btnText {
          font-weight: 600;
          font-feature-settings: 'pnum' on, 'lnum' on;
          color: $white;
          font-size: 14px;
          line-height: 16px;
          @media screen and (min-width: 1920px) {
            font-size: 16px;
            line-height: 19px;
          }
        }
        svg {
          width: 6px;
          height: 11px;
          color: $white;
          margin-left: 8px;
        }
      }
    }
  }

  .intro-prev,
  .intro-next {
    width: 71px;
    height: 71px;
    border: 1px solid #D1E5E6;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: none;
    opacity: 0;
    @media screen and (min-width: 1056px) {
      opacity: 1;
    }
    @media screen and (min-width: 1348px) {
      width: 88px;
      height: 88px;
    }
    @media screen and (min-width: 1920px) {
      width: 126px;
      height: 126px;
    }

    &__wrap {
      > span:nth-child(1) {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #D1E5E6;
        @media screen and (min-width: 1348px) {
          font-size: 24px;
          line-height: 28px;
        }
        @media screen and (min-width: 1920px) {
          font-size: 35px;
          line-height: 41px;
        }
      }
      > span:nth-child(2),
      > span:nth-child(3) {
        font-weight: 600;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #D1E5E6;
        margin-bottom: 1px;
        font-size: 12px;
        line-height: 14px;
        @media screen and (min-width: 1348px) {
          margin-bottom: 2px;
        }
        @media screen and (min-width: 1920px) {
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 3px;
        }
      }
      > span:nth-child(2) {
        margin: 0 2px 1px;
        @media screen and (min-width: 1348px) {
          margin: 0 2px 3px;
        }
      }
    }

    svg {
      display: none;
    }
    &:hover {
      background-color: transparent;
    }
  }
  .intro-next {
    right: -81px;
    @media screen and (min-width: 1348px) {
      right: -103px;
    }
    @media screen and (min-width: 1920px) {
      right: -151px;
    }
    &:hover {
      transition: $transition;
      border: 1px solid #D1E5E6;
      background-color: #D1E5E6;
      span {
        color: $white;
      }
    }
  }
  .intro-prev {
    left: -81px;
    @media screen and (min-width: 1348px) {
      left: -103px;
    }
    @media screen and (min-width: 1920px) {
      left: -151px;
    }
    &:hover {
      transition: $transition;
      border: 1px solid #D1E5E6;
      background-color: #D1E5E6;
      span {
        color: $white;
      }
    }
  }
}
.main2-dots,
.main-dots {
  display: flex;
  position: absolute;
  top: auto;
  bottom: 58px;
  left: 80px;
  list-style-type: none;
  align-items: center;
  transition: $transition;

  li {
    display: inline-block;
    //margin: 0 4px;
    margin-right: 8px;
    @media screen and (min-width: 1920px) {
      margin-right: 16px;
    }
  }
  button {
    display: block;
    width: 5px;
    height: 5px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: $white;
    text-indent: -9999px;
    @media screen and (min-width: 1920px) {
      width: 7px;
      height: 7px;
    }
  }

  li.slick-active button {
    background-color: $white;
    width: 8px;
    height: 8px;
    @media screen and (min-width: 1920px) {
      width: 11px;
      height: 11px;
    }
  }
}
.intro__info.flex.flex-space-between.flex-center-vertical > div:nth-child(2) {
  display: none;
  @media screen and (min-width: 1056px) {
    display: block;
  }
}
.main-dots {
  bottom: 17px;
  left: 50%;
  transform: translateX(-50%);
  @media screen and (min-width: 768px) {
    bottom: 27px;
    left: 60px;
    transform: translateX(0);
  }
  @media screen and (min-width: 1056px) {
    left: 44px;
    bottom: 36px;
  }
  @media screen and (min-width: 1348px) {
    left: 56px;
    bottom: 40px;
  }
  @media screen and (min-width: 1920px) {
    left: 80px;
    bottom: 58px;
  }
}
