footer.footer
	.container
		.footer-holder
			.footer-holder__wrap
				.footer-holder__flex.flex.flex-center-vertical.flex-space-between
					.footer-holder__logo
						a(href="index.html").logo
							img(src="images/logo.svg", alt="logo")
					.footer-holder__contacts
						a(href='tel:+7(843)205-02-75').phone
							span +7 (843) 205-02-75
						.time
							span Режим работы: с 9:00 до 20:00
				.footer-holder__flex.flex.flex-center-vertical.flex-space-between
					a(href="").footer-holder__soc.flex.flex-center-vertical
						.inst
							img(src="images/inst.svg", alt="inst")
						.footer-holder__soc-text
							span Следите за нами в Instagram
					.footer-holder__pay
						.footer-holder__pay-text
							span Мы принимаем к оплате:
						.footer-holder__pay-icons.flex.flex-center-vertical.flex-space-between
							.footer-holder__icon-payPal
								svg
									use(xlink:href="/images/sprites.svg#payPal")
							.footer-holder__icon-master
								img(src="images/master.svg", alt="master")
							.footer-holder__icon-visa
								svg
									use(xlink:href="/images/sprites.svg#visa")
			.footer-holder__info
				.footer-holder__info-title
					span Покупателям
				ul
					li
						a(href='') О компании
					li
						a(href='') Оплата
					li
						a(href='') Доставка
					li
						a(href='') Акции
					li
						a(href='') Новости
					li
						a(href='') Сервисный центр
					li
						a(href='') Сотрудничество
					li
						a(href='') Возврат и обмен товаров
					li
						a(href='') Договор оферты
					li
						a(href='') Контакты
			.footer-holder__info
				.footer-holder__info-title
					span Каталог
				ul
					li
						a(href='') Встраиваемая техника
					li
						a(href='') Сантехника
					li
						a(href='') Посудомоечные машины
					li
						a(href='') Стиральные машины
					li
						a(href='') Духовые шкафы
					li
						a(href='') Компактные приборы
					li
						a(href='') Газовые плиты
					li
						a(href='') Вытяжки
					li
						a(href='') Холодильно-морозильные шкафы
					li
						a(href='') Холодильный шкаф для хранения шуб
					li
						a(href='') Смесители
					li
						a(href='') Кухонные мойки
					li
						a(href='') Аксессуары

		.footer-basement.flex.flex-center-vertical
			span.footer-basement__title © 2021 «Китченсолюшн»
			a(href="").policy
				span.footer-basement__title Политика конфиденциальности
			a(href="").agreement
				span.footer-basement__title Пользовательское соглашение
			a(href='https://siart.pro/' target="_blank").footer-basement__logo
				.footer-basement__logo-img
					svg
						use(xlink:href="/images/sprites.svg#logo-footer")
				span.footer-basement__logo-title Разработка<br>сайта

		.up(onclick="toTop();")
			svg
				use(xlink:href="/images/sprites.svg#arrow")

.modal#js-modal
	.modal__wrap
		include ../sections/city-section/city-section
.cookie#cookie.flex.flex-center-vertical.flex-space-between
	.cookie__img
		svg
			use(xlink:href="/images/sprites.svg#cookie")
	p.cookie__message Мы используем файлы cookie&nbsp
		span для хранения данных. Продолжая использовать сайт, вы даете согласие на работу с этими файлами.
	button.btn.secondary(onclick="cookieConfirm()") Я согласен
