.footer {
	width: 100%;
	background-color: $white;
	position: relative;

	.footer-holder {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		position: relative;
		position: relative;
		padding: 24px 0 28px;
		border-bottom: 1px solid #D1E5E6;
		@media screen and (min-width: 768px) {
			padding: 24px 0;
		}
		@media screen and (min-width: 1056px) {
			padding: 32px 50px 24px 0;
		}
		@media screen and (min-width: 1348px) {
			padding: 79px 0 40px;
		}
		@media screen and (min-width: 1920px) {
			padding: 79px 0 28px;
		}

		> div:nth-child(3) {
			@media screen and (min-width: 1348px) {
				margin-left: 50px;
			}
			@media screen and (min-width: 1600px) {
				margin-left: 0;
			}
		}
		&__wrap {
			width: 100%;
			> div:nth-child(1) {
				margin-bottom: 26px;
			}
			> div:nth-child(2) {
				align-items: flex-start;
			}
			@media screen and (min-width: 768px) {
				display: flex;
				align-items: center;
				justify-content: space-between;
				> div:nth-child(1) {
					margin-bottom: 0;
				}
				> div:nth-child(2) {
					width: 49%;
					margin-right: 30%;
				}
			}
			@media screen and (min-width: 1056px) {
				flex-direction: column;
				align-items: flex-start;
				width: auto;
				> div:nth-child(2) {
					width: auto;
					margin-right: 0;
				}
			}
			@media screen and (min-width: 1348px) {
				margin-right: 100px;
			}
			@media screen and (min-width: 1600px) {
				margin-right: 0;
			}
		}
		&__flex {
			@media screen and (min-width: 1056px) {
				flex-direction: column;
			}
		}

		&__contacts {
			@media screen and (min-width: 1056px) {
				margin-bottom: 35px;
			}
			.time {
				font-weight: 600;
				font-size: 12px;
				line-height: 14px;
				color: $light;
				display: none;
				white-space: nowrap;
				@media screen and (min-width: 1056px) {
					display: block;
				}
			}
			.phone {
				font-size: 16px;
				line-height: 19px;
				color: $dark;
				font-feature-settings: 'pnum' on, 'lnum' on;
				transition: $transition;
				white-space: nowrap;

				@media screen and (min-width: 768px) {
					font-size: 18px;
					line-height: 21px;
					position: absolute;
					right: 0;
					top: 33%;
					//transform: translateY(-50%);
				}
				@media screen and (min-width: 1056px) {
					font-size: 20px;
					line-height: 23px;
					margin-bottom: 3px;
					position: relative;
					top: auto;
					right: auto;
					left: auto;
				}
				&:hover {
					color: $hover;
				}
			}
		}
		&__info  {
			display: none;

			@media screen and (min-width: 1056px) {
				display: block;
			}
			ul {
				@media screen and (min-width: 1348px) {
					column-count: 2;
				}
			}
			li a {
				transition: $transition;
				font-size: 14px;
				line-height: 18px;
				font-feature-settings: 'pnum' on, 'lnum' on;
				color: $light;
				margin-bottom: 8px;
				@media screen and (min-width: 1348px) {
					margin-bottom: 12px;
					//max-width: 200px;
				}
				@media screen and (min-width: 1920px) {
					margin-bottom: 16px;
					font-size: 16px;
					line-height: 24px;
					max-width: 100%;
				}
				&:hover {
					color: $hover;
				}
			}

			li a:hover {
				color: $hover;
			}
		}
		&__logo {
			width: 100%;
			transition: $transition;

			.logo {
				width: 100%;
				max-width: 91px;
				@media screen and (min-width: 1056px) {
					max-width: 144px;
					margin-bottom: 26px;
					margin-top: -10px;
				}
				@media screen and (min-width: 1920px) {
					margin-top: -10px;
				}
			}

			img {
				max-width: 100%;
			}
		}
		&__soc {
			@media screen and (min-width: 1056px) {
				margin-bottom: 33px;
			}
			.inst {
				width: 22px;
				height: 22px;
				img {
					max-width: 100%;
				}
			}
		}
		&__soc-text {
			font-weight: 600;
			font-size: 12px;
			line-height: 14px;
			color: $light;
			margin-left: 12px;
			max-width: 99px;
			transition: $transition;
			@media screen and (min-width: 768px) {
				max-width: 102px;
			}
			@media screen and (min-width: 1056px) {
				max-width: 112px;
			}
			&:hover {
				color: $hover;
			}
		}
		&__pay-text {
			font-weight: 600;
			font-size: 12px;
			line-height: 14px;
			color: $light;
			margin-bottom: 4px;
			@media screen and (min-width: 1056px) {
				margin-bottom: 8px;
			}
		}
		&__pay-icons {
			max-width: 144px;
			width: 100%;
			max-height: 16px;
			@media screen and (min-width: 1056px) {
				min-width: 175px;
			}
			@media screen and (min-width: 1920px) {
				min-width: 227px;
				max-height: 19px;
			}
		}
		&__icon-payPal {
			display: flex;
			svg {
				width: 54px;
				max-height: 16px;
				@media screen and (min-width: 1920px) {
					width: 64px;
					max-height: 19px;
				}
			}
		}
		&__icon-visa {
			display: flex;
			svg {
				width: 32px;
				max-height: 16px;
				@media screen and (min-width: 1920px) {
					width: 38px;
					max-height: 19px;
				}
			}
		}
		&__icon-master {
			display: flex;
			width: 21px;
			@media screen and (min-width: 1920px) {
				width: 25px;
			}
			img {
				max-width: 100%;
			}
		}
		&__info-title {
			font-weight: 600;
			font-size: 16px;
			line-height: 19px;
			text-transform: uppercase;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: $dark;
			@media screen and (min-width: 1056px){
				margin-bottom: 12px;
			}

			@media screen and (min-width: 1348px) {
				margin-bottom: 20px;
			}
			@media screen and (min-width: 1920px) {
				margin-bottom: 26px;
				font-size: 18px;
				line-height: 21px;
			}
		}
	}

	.footer-basement {
		display: flex;
		flex-direction: column-reverse;
		padding: 21px 0 79px;
		align-items: flex-start;
		@media screen and (min-width: 768px) {
			padding: 15px 0 111px;
			justify-content: space-between;
			flex-direction: row;
			align-items: center;
		}
		@media screen and (min-width: 1056px) {
			padding: 14px 0 16px;
		}
		@media screen and (min-width: 1348px) {
			padding: 30px 0 33px;
		}
		@media screen and (min-width: 1920px) {
			padding: 25px 0 21px;
		}

		&__title {
			font-size: 12px;
			line-height: 14px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: $light;
			margin-bottom: 14px;
			transition: $base-transition;
			display: block;

			@media screen and (min-width: 768px) {
				margin-bottom: 0;
			}
			@media screen and (min-width: 1056px) {
			}
			@media screen and (min-width: 1348px) {
				font-size: 14px;
				line-height: 18px;
			}
			@media screen and (min-width: 1920px) {
				font-size: 14px;
				line-height: 16px;
			}
		}
		&__logo {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			position: absolute;
			right: 12px;
			bottom: 112px;
			@media screen and (min-width: 768px) {
				flex-direction: row;
				align-items: center;
				position: relative;
				right: auto;
				bottom: auto;
			}
			@media screen and (min-width: 1056px) {
				flex-direction: column;
				align-items: flex-start;
			}
			@media screen and (min-width: 1348px) {
				flex-direction: row;
				align-items: center;
			}
		}

		&__logo-img {
			svg {
				max-width: 34px;
				max-height: 23px;
				width: 100%;
				color: $light;

				@media screen and (min-width: 1348px) {
					max-width: 62px;
					max-height: 42px;
				}
				@media screen and (min-width: 1920px) {
					max-width: 78px;
					max-height: 52px;
				}
			}
		}
		&__logo-title {
			font-size: 10px;
			line-height: 12px;
			color: $light;
			display: flex;
			align-items: flex-end;
			@media screen and (min-width: 768px) {
				margin-left: 4px;
			}
			@media screen and (min-width: 1056px) {
				margin-left: 0;
				margin-top: 4px;
			}
			@media screen and (min-width: 1348px) {
				font-size: 12px;
				line-height: 16px;
				margin-left: 14px;
				margin-top: 0;
			}
			@media screen and (min-width: 1920px) {
				font-size: 16px;
				line-height: 20px;
				margin-left: 16px;
			}
		}
	}
}

.up {
	position: absolute;
	z-index: 300;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.6s linear;
	border-radius: 50%;
	background-color: $white;
	padding: 10px;
	//bottom: 120px;
	right: 12px;
	color: $btn-bg;
	width: 25px;
	height: 25px;
	box-shadow: 0px 3px 10px rgba(51, 93, 83, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 365px;

	@media screen and (min-width: 768px) {
		bottom: 270px;
		right: 51px;
	}
	@media screen and (min-width: 1056px) {
		bottom: auto;
		top: 37px;
		right: 15px;
	}
	@media screen and (min-width: 1348px) {
		top: 79px;
		right: 27px;
	}
	@media screen and (min-width: 1920px) {
		top: 83px;
		right: 37px;
		width: 35px;
		height: 35px;
	}
	svg {
		width: 6px;
		height: 12px;
		transform: rotate(270deg);
		@media screen and (min-width: 1920px) {
			width: 8px;
			height: 20px;
		}
	}

	&.active {
		color: $white;
		background: $btn-bg;
		position: fixed;
		right: 12px;
		bottom: 75px;
		top: auto;

		@media screen and (min-width: 768px) {
			bottom: 100px;
			right: 51px;
		}
		@media screen and (min-width: 1056px) {
			right: 15px;
			bottom: 50px;
		}
		@media screen and (min-width: 1348px) {
			right: 27px;
		}
		@media screen and (min-width: 1920px) {
			right: 37px;
		}



		@media screen and (min-width: 1600px) {
			right: 32px;
			bottom: 44px;
		}
	}
	&:hover {
		color: $white;
		background: $btn-bg;
		transition: $transition;

		svg {
			color: $white;
		}
	}
}
.up.is-visible {
	opacity: 1;
}

.policy {
	@media screen and (min-width: 1056px) {
		margin-left: 8%;
	}
	@media screen and (min-width: 1348px) {
		margin-left: 0;
	}
	@media screen and (min-width: 1400px) {
		margin-left: -33px;
	}
	@media screen and (min-width: 1600px) {
		margin-left: -14px;
	}
	/*@media screen and (min-width: 1920px) {
		margin-left: 1%;
	}*/
	.footer-basement__title {
		&:hover {
			color: $hover;
			transition: $transition;
		}
	}
	@media screen and (min-width: 1920px) {
		margin-right: 12%;
		margin-left: 1%;
	}
}
.agreement {
	@media screen and (min-width: 1056px) {
		margin-left: 3%;
	}
	@media screen and (min-width: 1348px) {
		margin-left: 3%;
	}
	@media screen and (min-width: 1600px) {
		margin-left: 9%;
	}
	@media screen and (min-width: 1920px) {
		margin-left: -2%;
	}
	.footer-basement__title {
		&:hover {
			color: $hover;
			transition: $transition;
		}
	}
}
.footer-basement__logo {
	transition: $transition;
	&:hover {
		.footer-basement__logo-title {
			color: $hover;
		}
		svg {
			color: $hover;
		}
	}
}
.cookie {
	background: $white;
	box-shadow: 0px 10px 60px rgba(51, 93, 83, 0.1);
	border-radius: 6px;
	display: none;
	position: fixed;
	bottom: 27px;
	background: $white;
	padding: 10px 8px;
	z-index: 950;
	max-width: 296px;
	left: 12px;
	right: 12px;
	margin: 0 auto;

	@media screen and (min-width: 768px) {
		max-width: 712px;
		padding: 12px;
	}
	@media screen and (min-width: 1056px) {
		max-width: 872px;
		padding: 16px;
	}
	@media screen and (min-width: 1348px) {
		max-width: 1106px;
	}
	@media screen and (min-width: 1920px) {
		padding: 20px;
		max-width: 1253px;
	}
	&.active {
		display: flex;
	}

	.btn {
		font-weight: 600;
		font-size: 12px;
		line-height: 14px;
		@media screen and (min-width: 1348px) {
			font-size: 14px;
			line-height: 16px;
		}
		@media screen and (min-width: 1920px) {
			font-size: 16px;
			line-height: 19px;
		}
	}
	span {
		display: none;
		@media screen and (min-width: 768px) {
			display: contents;
		}
	}

	&__message {
		font-size: 12px;
		line-height: 18px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: $dark;
		margin: 0 16px;

		@media screen and (min-width: 768px) {
			margin: 0 14px;
		}
		@media screen and (min-width: 1348px) {
			font-size: 14px;
			line-height: 18px;
		}
		@media screen and (min-width: 1920px) {
			font-size: 16px;
			line-height: 24px;
		}

	}

	button {
		white-space: nowrap;
	}

	&__img {
		svg {
			width: 32px;
			height: 32px;
			@media screen and (min-width: 768px) {
				width: 37px;
				height: 37px;
			}
			@media screen and (min-width: 1056px) {
			}
			@media screen and (min-width: 1348px) {
				width: 46px;
				height: 46px;
			}
			@media screen and (min-width: 1920px) {
				width: 61px;
				height: 61px;
			}
		}
	}

}
#cookie  {
	//display: none;
	&.active {
		display: flex;
	}

}
