.catalog-introHoler {
  position: relative;
  margin: -20px 0;
  padding-bottom: 20px;
  @media screen and (min-width: 1056px) {
    padding-bottom: 0;
  }

  .section-pagination {
    bottom: 5px;
    width: 95%;
    @media screen and (min-width: 768px) {
      width: 96%;
    }
    @media screen and (min-width: 1056px) {
      display: none;
    }
  }
  .catalog-intro {
    width: 100%;

    .bg-i {
      width: auto;
      margin: 0 auto;
    }

    &__item {
      padding: 10px 16px 20px;
      background: #FFFFFF;
      border-radius: 6px;
      @media screen and (min-width: 1920px) {
        padding: 20px 20px 40px;
      }
      &:hover {
        transition: $transition;
        box-shadow: 0px 5px 20px rgba(51, 93, 83, 0.1);
      }
    }

    &__img {
      width: 100%;
      padding: 8px 26px;
      @media screen and (min-width: 768px) {
        padding: 21px 40px;
      }
      @media screen and (min-width: 1056px) {
        padding: 21px 38px;
      }
      @media screen and (min-width: 1348px) {
        padding: 21px 32px;
      }
      @media screen and (min-width: 1920px) {
        padding: 37px 51px 28px;
      }
    }

    &__chapter {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on;
      color: $dark;
      min-height: 28px;
      text-align: center;
      max-width: 100px;

      @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 16px;
        min-height: 42px;
        max-width: 130px;
      }
      @media screen and (min-width: 1920px) {
        font-size: 18px;
        line-height: 21px;
        max-width: 175px;
      }
    }

    .slick-slide {
      margin-right: 8px;
      @media screen and (min-width: 1348px) {
        margin-right: 12px;
      }
      @media screen and (min-width: 1920px) {
        margin-right: 16px;
      }
    }
    .slick-list {
      padding: 20px 2% 20px 0;
      @media screen and (min-width: 1920px) {
        padding: 20px 0;
      }
    }
  }
  .catIn-prev {
    opacity: 0;
    left: -68px;
    @media screen and (min-width: 1056px) {
      opacity: 1;
      left: -58px;
    }
    @media screen and (min-width: 1348px) {
      left: -68px;
    }
  }
  .catIn-next {
    opacity: 0;
    @media screen and (min-width: 768px) {
      right: 24px;
    }
    @media screen and (min-width: 1056px) {
      right: 35px;
      opacity: 1;
    }
    @media screen and (min-width: 1348px) {
      right: 54px;
    }
    @media screen and (min-width: 1920px) {
      right: 88px;
    }
  }
}
