- var sectionTitle = 'Каталог';

section
    .container
        include ../../components/section-head/section-head
    .container2.mb70
        .catalog-introHoler
            .catalog-intro.js-catalogSlider
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg.png", alt="card" style="background-image: url(." +
                            "./images/img1.png);" class='bg-i')
                        span.catalog-intro__chapter  Встраиваемая техника
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg.png", alt="card" style="background-image: url(." +
                            "./images/img2.png);" class='bg-i')
                        span.catalog-intro__chapter  Смесители
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg.png", alt="card" style="background-image: url(." +
                            "./images/img3.png);" class='bg-i')
                        span.catalog-intro__chapter  Посудомоечные машины
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg.png", alt="card" style="background-image: url(." +
                            "./images/img4.png);" class='bg-i')
                        span.catalog-intro__chapter  Стиральные машины
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg.png", alt="card" style="background-image: url(." +
                            "./images/img5.png);" class='bg-i')
                        span.catalog-intro__chapter  Духовые шкафы
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg.png", alt="card" style="background-image: url(." +
                            "./images/img6.png);" class='bg-i')
                        span.catalog-intro__chapter  Газовые плиты
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg.png", alt="card" style="background-image: url(." +
                            "./images/img7.png);" class='bg-i')
                        span.catalog-intro__chapter  Вытяжки
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg.png", alt="card" style="background-image: url(." +
                            "./images/img3.png);" class='bg-i')
                        span.catalog-intro__chapter  Посудомоечные машины
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg.png", alt="card" style="background-image: url(." +
                            "./images/img4.png);" class='bg-i')
                        span.catalog-intro__chapter  Стиральные машины
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg.png", alt="card" style="background-image: url(." +
                            "./images/img5.png);" class='bg-i')
                        span.catalog-intro__chapter  Духовые шкафы
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg.png", alt="card" style="background-image: url(." +
                            "./images/img6.png);" class='bg-i')
                        span.catalog-intro__chapter  Газовые плиты
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg.png", alt="card" style="background-image: url(." +
                            "./images/img7.png);" class='bg-i')
                        span.catalog-intro__chapter  Вытяжки
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg.png", alt="card" style="background-image: url(." +
                            "./images/img3.png);" class='bg-i')
                        span.catalog-intro__chapter  Посудомоечные машины
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg.png", alt="card" style="background-image: url(." +
                            "./images/img4.png);" class='bg-i')
                        span.catalog-intro__chapter  Стиральные машины
                a(href='').catalog-intro__wrap
                    .catalog-intro__item.flex.flex-center-vertical.flex-column
                        .catalog-intro__img
                            img(src="images/bg.png", alt="card" style="background-image: url(." +
                            "./images/img5.png);" class='bg-i')
                        span.catalog-intro__chapter  Духовые шкафы
            .section-pagination.pagin(data-pagin="8")
                div
            .section-prev.catIn-prev
                svg.icon
                    use(xlink:href="/images/sprites.svg#arrow")
            .section-next.catIn-next
                svg.icon
                    use(xlink:href="/images/sprites.svg#arrow")