.recommend-wrap {
  position: relative;
  padding-bottom: 15px;
  @media screen and (min-width: 1056px) {
    padding-bottom: 32px;
  }
  @media screen and (min-width: 1920px) {
    padding-bottom: 50px;
  }
  .section-pagination {
    bottom: -10px;
    width: 97%;
    @media screen and (min-width: 1056px) {
      bottom: -20px;
      width: 80%;
    }
    @media screen and (min-width: 1348px) {
      width: 82%;
    }
    @media screen and (min-width: 1920px) {
      bottom: -38px;
    }
  }

  .recommend {
    margin: -50px 0;
    &__item {
    }
    .slick-slide {
      margin-right: 8px;
      @media screen and (min-width: 1348px) {
        margin-right: 12px;
      }
      @media screen and (min-width: 1920px) {
        margin-right: 16px;
      }
    }
    .slick-list{
      padding: 50px 8px 50px 0;

      @media screen and (min-width: 768px) {
        padding: 50px 15px 50px 0;
      }
      @media screen and (min-width: 1056px) {
        padding: 50px 5% 50px 0;
      }
      @media screen and (min-width: 1348px) {
        padding: 50px 18% 50px 0;
      }
    }

  }
  .recommend-arrows {
    position: absolute;
    bottom: 19px;
    top: auto;
    right: 0;
  }
  .recommend-next {
    opacity: 0;
    @media screen and (min-width: 768px) {
      right: 24px;
    }
    @media screen and (min-width: 1056px) {
      right: 92px;
      opacity: 1;
      top: 7px;
    }
    @media screen and (min-width: 1348px) {
      right: 120px;
    }
    @media screen and (min-width: 1920px) {
      right: 168px;
    }
  }
  .recommend-prev {
    right: 12px;
    opacity: 0;
    @media screen and (min-width: 1056px) {
      opacity: 1;
      top: 7px;
      right: 140px;
    }
    @media screen and (min-width: 1348px) {
      right: 171px;
    }
    @media screen and (min-width: 1920px) {
      right: 226px;
    }
  }
}
