.benefits-section {
  padding: 21px 0;
  border-top: 1px solid #D1E5E6;
  border-bottom: 1px solid #D1E5E6;
  @media screen and (min-width: 1056px) {
    padding: 32px 0;
  }
  @media screen and (min-width: 1348px) {
    padding: 64px 0;
  }
  @media screen and (min-width: 1920px) {
    padding: 70px 0;
  }
}
.benefits-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
  background-color: $main-bg;

  @media screen and (min-width: 768px) {
    margin: 0 -34px;
  }
  @media screen and (min-width: 1056px) {
    margin: 0 -26px;
  }
  @media screen and (min-width: 1348px) {
    margin: 0 -35px;
  }
  @media screen and (min-width: 1920px) {
    margin: 0 -48px;
  }

  .benefits {
    width: 100%;
    padding: 0 12px;
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
      width: 50%;
      padding: 0 34px;
    }
    @media screen and (min-width: 1056px) {
      //width: 33.33%;
      width: 25%;
      padding: 0 26px;
    }
    @media screen and (min-width: 1348px) {
      width: 25%;
      padding: 0 35px;
    }
    @media screen and (min-width: 1920px) {
      padding: 0 48px;
    }
  }
}
.benefits {
  &__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
    text-align: center;
  }
  &__title {
    margin-bottom: 8px;
    @media screen and (min-width: 1920px) {
      margin-bottom: 12px;
    }
  }
  &__img {
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
      margin-bottom: 12px;
    }
    @media screen and (min-width: 1348px) {
      margin-bottom: 20px;
    }
    svg {
      width: 27px;
      height: 18px;
      @media screen and (min-width: 1348px) {
        width: 41px;
        height: 28px;
      }
    }
  }
}