section
    .container
        .benefits-section.mb70
            .benefits-wrap
                .benefits
                    .benefits__wrap
                        .benefits__img
                            svg
                                use(xlink:href="/images/sprites.svg#house")
                        span.benefits__title.titlexl Фирменный шоу-рум
                        p.benefits__text.text.dark Шоу-рум в центре Москвы с широким ассортиментом бытовой техники
                .benefits
                    .benefits__wrap
                        .benefits__img
                            svg
                                use(xlink:href="/images/sprites.svg#star-ben")
                        span.benefits__title.titlexl Гарантия и сервис
                        p.benefits__text.text.dark Полноценная гарантия и сервис на всю бытовую технику от производителя!
                .benefits
                    .benefits__wrap
                        .benefits__img
                            svg
                                use(xlink:href="/images/sprites.svg#car")
                        span.benefits__title.titlexl Доставка
                        p.benefits__text.text.dark Возможность доставки на следующий день. Собственная доставка по всей России!
                .benefits
                    .benefits__wrap
                        .benefits__img
                            svg
                                use(xlink:href="/images/sprites.svg#yes-ben")
                        span.benefits__title.titlexl Более 2 000
                        p.benefits__text.text.dark Наименований товаров в наличии и под заказ со складов производителей
