.similar-products {
  .btn {
    display: none;
    @media screen and (min-width: 768px) {
      max-width: 198px;
      margin: 12px auto 0;
      display: flex;
      height: 36px;
    }
    @media screen and (min-width: 1348px) {
      max-width: 212px;
      margin: 16px auto 0;
      height: 40px;
    }
    @media screen and (min-width: 1920px) {
      max-width: 304px;
      margin: 20px auto 0;
      height: 58px;
    }
  }
}