.filter-prod
    .filter-prod__wrap
        .filter-prod__close.flex.flex-space-between.flex-center-vertical
            .filter-prod__close-title Фильтр
            .filter-prod__close-btn
                svg
                    use(xlink:href="/images/sprites.svg#close")
        .filter-prod__result
            p.filter-prod__head Найдено <span>62</span> товара
        .filter-prod__holder
            .filter-prod__price
                p.filter-prod__price-title Цена
                .filter-prod__price-form
                    .price-range-block
                        .fcr.flex
                            .price-range-holder
                                input(type="text" class="range--input" data-input='0' data-default='0' id="calc_square_one"
                                    value='0' name='square[0]')
                            .price-range-holder
                                input(type="text" class="range--input" data-input='1' data-default='50' id="calc_square_two"
                                    value='50' name='square[1]')
                        .range--slider-wrap
                            .range_slider
            .accordionChoice
                .accordionChoice__item
                    .accordionChoice__item-title.active Производители
                        svg
                            use(xlink:href="/images/sprites.svg#menu-arrow")
                    .accordionChoice__content
                        .accordionChoice__choice
                            ul
                                li.checkbox
                                    input(type="checkbox" name="ch1" id="ch1" value="1" checked)
                                    label(for="ch1") Graude&nbsp
                                        span (3)
                                li.checkbox
                                    input(type="checkbox" name="ch2" id="ch2" value="2")
                                    label(for="ch2") KORTING&nbsp
                                        span (23)
                                li.checkbox
                                    input(type="checkbox" name="ch3" id="ch3" value="3")
                                    label(for="ch3") KRONA&nbsp
                                        span (16)
                                li.checkbox
                                    input(type="checkbox" name="ch4" id="ch4" value="4")
                                    label(for="ch4") LEX&nbsp
                                        span (12)
                .accordionChoice__item
                    .accordionChoice__item-title.active Цвет
                        svg
                            use(xlink:href="/images/sprites.svg#menu-arrow")
                    .accordionChoice__content(style='display: block;')
                        .accordionInner
                            .accordionInner__item
                                .accordionInner__title.active Цвет (6)
                                    svg
                                        use(xlink:href="/images/sprites.svg#menu-arrow")
                                .accordionInner__content(style='display: block;')
                                    .accordionInner__content-holder
                                        ul
                                            li.checkbox
                                                input(type="checkbox" name="ch1" id="ch5" value="1")
                                                label(for="ch5") Чёрный <span>(3)</span>
                                                    .label-color.black
                                            li.checkbox
                                                input(type="checkbox" name="ch2" id="ch6" value="2")
                                                label(for="ch6") Белый <span>(23)</span>
                                                    .label-color.white
                                            li.checkbox
                                                input(type="checkbox" name="ch3" id="ch7" value="3")
                                                label(for="ch7") Белый антик <span>(13)</span>
                                                    .label-color.gray
                                            li.checkbox
                                                input(type="checkbox" name="ch4" id="ch8" value="4")
                                                label(for="ch8") Кашемир <span>(8)</span>
                                                    .label-color.gray-dark
                                            li.checkbox
                                                input(type="checkbox" name="ch4" id="ch9" value="4")
                                                label(for="ch9") Коричневый <span>(12)</span>
                                                    .label-color.brown
                                            li.checkbox
                                                input(type="checkbox" name="ch4" id="ch10" value="4")
                                                label(for="ch10") Серый <span>(10)</span>
                                                    .label-color.gray-light

                            .accordionInner__item
                                .accordionInner__title Цвет регуляторов
                                    svg
                                        use(xlink:href="/images/sprites.svg#menu-arrow")
                                .accordionInner__content
                                    .accordionInner__content-holder
                                        ul
                                            li.checkbox
                                                input(type="checkbox" name="ch1" id="ch11" value="1" checked)
                                                label(for="ch11") Чёрный <span>(3)</span>
                                                    .label-color.black
                                            li.checkbox
                                                input(type="checkbox" name="ch2" id="ch12" value="2")
                                                label(for="ch12") Белый <span>(23)</span>
                                                    .label-color.white
                                            li.checkbox
                                                input(type="checkbox" name="ch3" id="ch13" value="3")
                                                label(for="ch13") Белый антик <span>(16)</span>
                                                    .label-color.gray
                                            li.checkbox
                                                input(type="checkbox" name="ch4" id="ch14" value="4")
                                                label(for="ch14") Кашемир <span>(12)</span>
                                                    .label-color.gray-dark
                                            li.checkbox
                                                input(type="checkbox" name="ch4" id="ch15" value="4")
                                                label(for="ch15") Коричневый <span>(3)</span>
                                                    .label-color.brown
                                            li.checkbox
                                                input(type="checkbox" name="ch4" id="ch16" value="4")
                                                label(for="ch16") Серый <span>(5)</span>
                                                    .label-color.gray-light

                            .accordionInner__item
                                .accordionInner__title Цвет ручки двери
                                    svg
                                        use(xlink:href="/images/sprites.svg#menu-arrow")
                                .accordionInner__content
                                    .accordionInner__content-holder
                                        ul
                                            li.checkbox
                                                input(type="checkbox" name="ch1" id="ch17" value="1" checked)
                                                label(for="ch17") Чёрный <span>(3)</span>
                                                    .label-color.black
                                            li.checkbox
                                                input(type="checkbox" name="ch2" id="ch18" value="2")
                                                label(for="ch18") Белый <span>(8)</span>
                                                    .label-color.white
                                            li.checkbox
                                                input(type="checkbox" name="ch3" id="ch19" value="3")
                                                label(for="ch19") Белый антик <span>(16)</span>
                                                    .label-color.gray
                                            li.checkbox
                                                input(type="checkbox" name="ch4" id="ch20" value="4")
                                                label(for="ch20") Кашемир <span>(16)</span>
                                                    .label-color.gray-dark
                                            li.checkbox
                                                input(type="checkbox" name="ch4" id="ch21" value="4")
                                                label(for="ch21") Коричневый <span>(8)</span>
                                                    .label-color.brown
                                            li.checkbox
                                                input(type="checkbox" name="ch4" id="ch22" value="4")
                                                label(for="ch22") Серый <span>(7)</span>
                                                    .label-color.gray-light

        .filter-prod__btns
            .btn Применить
            .btn.secondary Сбросить
.substrate-bg