.section-pagination {
  height: 1px;
  background-color: #D1E5E6;
  position: relative;
  bottom: 72px;
  width: 54%;
  left: 0;

  div {
    content: '';
    position: absolute;
    height: 3px;
    background-color: $btn-bg;
    transition: 1.5s all ease;
    bottom: -1px;
    border-radius: 10px;
  }

  @media screen and (min-width: 1920px) {
    bottom: -46px;
    width: 84%;
  }
}