.section-next,
.section-prev {
  width: 25px;
  height: 25px;
  background: $white;
  box-shadow: 0px 3px 10px rgba(51, 93, 83, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $transition;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 0;

  &:hover {
    background: $btn-bg;
    svg {
      color: $white;
    }
  }
  svg {
    color: $btn-bg;
    width: 7px;
    height: 11px;
    padding-left: 1px;
    @media screen and (min-width: 1920px) {
      width: 9px;
      height: 16px;
      padding-left: 2px;
    }
  }

  @media screen and (min-width: 1920px) {
    width: 35px;
    height: 35px;
  }
}
.section-prev {
  svg {
    transform: rotate(180deg);
  }
}
