.catalog-items {
  width: 100%;
}
.catalogItems {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px;
  background-color: $main-bg;

  @media screen and (min-width: 1920px) {
    margin: 0 -8px;
  }

  .catalogItems__wrap {
    width: 50%;
    padding: 0 4px;
    margin-bottom: 8px;
    z-index: 0;
    display: flex;
    @media screen and (min-width: 640px) {
      width: 33.3333333%;
    }
    @media screen and (min-width: 768px) {
      width: 25%;
    }
    @media screen and (min-width: 1056px) {
      padding: 0 4px;
      width: 33.3333333%;
    }
    @media screen and (min-width: 1348px) {
      margin-bottom: 12px;
      width: 25%;
      padding: 0 6px;
    }
    @media screen and (min-width: 1920px) {
      margin-bottom: 16px;
      padding: 0 8px;
    }
    &:hover {
      z-index: 2;
    }
  }
  .icon1 {
    margin-right: 8px;
  }
  .card {
    width: 100%;
  }
}
